@media (max-width: 992px){
	#listado li{
	    width: 50%;
	}
}

@media (max-width: 768px){
	.columna_listado,
	.columna_formulario{
	    width: 100%;
	}
}

@media (max-width: 480px){
	#listado li{
	    width: 100%;
	}
}

@media (max-width: 350px){
    
}