html, body {
    height:100%;
    width:100%;
    font-family:'Montserrat';
    font-weight:normal
}
h2 {
    font-weight:normal
}
a {
    text-decoration:none;
    color:#fff
}
body {
    margin:0;
    padding:0;
    background-color:#00b79f;
}
.heroImage {
    background:url(../img/fondo.png);
    background-size:cover;
    border-top:1px solid #62d1b7
}
.container {
    position:relative;
    margin:10% 25%;
    color:#fff;
    text-align:center;
    height:100%
}
.logo {
    width:100%
}
.col {
    display:inline-block;
    width:19%;
    font-size: .9em;
}
.col img {
    width:80%
}
.doberman {
    position:absolute;
    left:-45%;
    top:40%;
    width:25%
}
.pug {
    position:absolute;
    left:-15%;
    top:58%;
    width:20%
}
.perrita {
    position:absolute;
    right:-20%;
    top:60%;
    width:20%
}
.bull-terrier {
    position:absolute;
    right:-40%;
    top:65%;
    width:20%
}

@media only screen and (max-device-width:320px) and (orientation:portrait) {
    .perros-responsive {
        height:239px!important;
        background-size:inherit!important;
        background-repeat:no-repeat;
        background-position:center;
        background-position-x:center;
        background-image:url(../img/perros-responsive.png)
    }
    .fs-25-xs {
        font-size:25px!important
    }
    .pt-42-xs {
        padding-top:42px!important
    }
    .w-80 {
        width:80%
    }
    .w-100 {
        width:100%
    }
    .col{
        width: 30%;
    }
}
@media only screen and (max-width:598px) {
    .perros-responsive {
        height:266px;
        background-size:550px;
        background-repeat:no-repeat;
        background-position:center;
        background-position-y:90px;
        background-position-x:center;
        background-image:url(../img/perros-responsive.png)
    }
    .fs-25-xs {
        font-size:25px!important
    }
    .pt-42-xs {
        padding-top:42px!important
    }
    .w-80 {
        width:80%
    }
    .w-100 {
        width:100%
    }
}
@media only screen and (max-width:599px) {
    .ocultar {
        display:none
    }
    .col{
        width: 30%;
    }
}

@media only screen and (max-device-width:780px) and (orientation:landscape) {
    .col{
        width: 30%;
    }    
}
/*@media all and (min-width:1120px) {
    .container {
        width:27.2%;
        margin:auto;
        margin-top:10%;
        padding-left:5%;
        padding-right:5%;
    }
    .col{
        width: 19%;
         font-size: .9em;
    }  
}
@media (max-width: 1119px) and (min-width:959px) {
*/
@media all and (min-width:959px) {
    .container {
        width:38.2%;
        margin:auto;
        margin-top:10%;
        padding-left:5%;
        padding-right:5%
    }
    h2 {
        font-size:1.8em
    }
    .perros-responsive {
        display:none
    }
}
@media all and (max-width:959px) and (min-width:600px) {
    body, a {
        font-size:.8em
    }
    .container {
        width:30%;
        margin:auto;
        margin-top:10%;
        padding-left:10%;
        padding-right:10%
    }
    .perros-responsive {
        display:none
    }

    .col{
        width: 30%;
    }
}
@media all and (max-width:599px) and (min-width:359px) {
    body, a {
        font-size:.8em
    }
    .container {
        margin:10% 10%
    }
}
@media all and (max-width:360px) and (min-width:200px) {
    body, a {
        font-size:.8em
    }
    .container {
        margin:10% 10%
    }
}