@font-face {
	font-family: 'PoetsenOne';
	src: url('../font/PoetsenOne-Regular.ttf')  format('truetype');
}

body{
	background: #00d9ae;
	color: #3a3a3a;
	font-family: 'Lato', sans-serif;
	font-weight: 900!important;
	word-wrap: break-word;
}

header{
	background: #00B190;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 20px;
	clear: both;
}
section{
	/*	background: #48C9AF;*/
	clear: both;
}

strong{
	font-weight: 900;
}

/*.container{
	background: #fff;
}*/

/*#waypoint{
/*	background: #00D9AE;
	background-image: url("../img/bg-section1a.jpg");

	background-position: center;
	background-attachment: fixed ;
    background-size: 100%;
    background-repeat: no-repeat;
}*/

.bg-black{
	background: black;
	color: white;
}

.title{
	background: #65D6B5!important;
	color: #fff!important;
	text-align: center;
	font-size: 35pt;
	/*padding:10px;*/
	margin-top: 0px!important;
	margin-bottom: 0px!important;
}

.margin-bottom-20{
	margin-bottom:20px;
}
.margin-bottom-40{
	margin-bottom:40px;
}
.container-fluid{
	padding: 0px!important; 
	margin: 0px!important;
	width: 100%!important;
}
.back-white{
	margin-top: 10px;
	color:#fff;
	border-radius: 75%;
	padding-left: 8px; 
	padding-right: 8px; 
	border: 2px solid #fff;
}
.back-green{
	color: #49c9b0;
	border-radius: 75%;
	padding-left: 8px; 
	padding-right: 8px; 
	border: 2px solid #49c9b0;
	margin-top: 10px;
}
/***************************************/
/*  Global	                       */
/***************************************/
.color-volaris{
	color: #a1126d;
}
.color-azul{
	color:#00ace6;
}
.bg-volaris{
	background: #a1126d!important; 
}
.bg-transparent{
	background: transparent!important;
}
.circulo {
     width: 400px;
     height: 200px;

	 -moz-border-radius: 200px 200px 0 0;
     -webkit-border-radius: 200px 200px 0 0;
     border-radius: 200px 200px 0 0;

     background: #00B190;
     z-index: 8000;
 }
.hr-special{
	margin-top:1px;
}

.section-flex > div{
	width: 100%;
	height: 100%;
	display: inline-flex;
	-ms-display: flex;
	display: flex;
	/* alineacion vertical */
	align-items: center;
}
.margin-top-20{
	margin-top:20px;
}
.main >section{
	padding-left:0px!important;
	padding-right:0px!important;
	margin-left:0px!important;
	margin-right:0px!important;
}
.controll-pagination{
	text-align:center;
	margin-top:10px;
	font-size: 30px;	
}
.subtitle-container{
	text-align: right;
    margin-right: -15px;
 }

.btn-kmimos:hover{
	border: 1px solid #a1126d;
	color: #a1126d;
	background: #fff;
}
.btn-kmimos{
	color:#fff;
	border-radius: 50px;
	background: #a1126d;
	border: 1px solid #a1126d;
	font-size: 22px;
	font-weight: bold;
	padding: 15px 30px 15px 30px;
}
.btn-kmimos-inverso:hover{
	border: 1px solid #fff;
	color: #fff;
	background: #a1126d;
}
.btn-kmimos-inverso{
	color:#a1126d;
	border-radius: 50px;
	background: #fff;
	border: 1px solid #a1126d;
	font-size: 22px;
	font-weight: bold;
	padding: 15px 30px 15px 30px;
}

#top-image{
	padding:0px;
	margin:0px;
	position: absolute; 
	width: 100%;
	height: 100vh;
	z-index:-1;
}
.background{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background: center / cover no-repeat; 
	padding-top: 50%;
    margin-top: 5%;
    padding-bottom: 11%;
}

#top-kmimos{	
	padding-right: 11px;
    padding-top: 7px;
    width: 21%;
}

#top-volaris{
    padding-right: 8px;
    width: 55%;
}

/***************************************/
/*  Section-1                          */
/***************************************/

#section-1{
	color: #fff;
	font-weight: lighter;
	height: 34vh;
	overflow: hidden;
}
#section-1 .pull-right{
	align-items: right;
}
#section-1-option{
/*
	position: absolute;
	bottom: 15px;
*/
}

#article-1-button{
	margin-bottom: 20px;
}

#section-1-avatares{
	background: url("../img/Character_section1.png") no-repeat no-repeat bottom center;
	background-size: contain;
/*	
	bottom: 80px;
	position: absolute;
*/
}

#section-1 .img-kmimos{
	margin-top:80px;
}

#section-1 h1{
	margin-top:5%;
	margin-bottom:5px;
	font-weight: bold;
	font-size: 50pt;
	font-family: 'PoetsenOne', sans-serif;
/*	text-shadow: 2px 2px 2px #000; */
}

#section-1 h2{
	margin-bottom:5px;
	font-size: 20pt;
}

#section-1-button{
	margin: 20px 0px 20px 0px;
}

#section-1 > article{
	margin-right: 60px;
}

#section1-footer h3{
	margin: 24px;
}
#section1-footer{
	font-weight: bold;
	font-size: 30px;
	padding-top:0px; 
	text-align: center;
	background: black; 
	color:#fff;
}

/***************************************/
/*  Section-content                    */
/***************************************/

#section-content{
	background: #fff; 
}


/***************************************/
/*  Section-3                          */
/***************************************/

#section-3 p{
	font-size: 20px; 
	color: black;
	font-weight: normal;
}
#section-3 h3{
	font-size: 23pt;
	font-weight: bold;
	margin-top: 4px;
	margin-bottom: 4px;
	color: #fff;
}
#section-3 h1{
	color: #FFFFBD;
	font-size: 65pt;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 4px;
	font-family: 'PoetsenOne', sans-serif;
}


#section-3 article:nth-child(-n+3){
	border-bottom:1px solid #a1126d;
}


#section-3 article{
	vertical-align: middle;
	padding:40px 0px 40px 0px;
}
#section-3 img{
	margin: 0px auto;
}
#proceso-reserva{
	font-family: 'PoetsenOne', sans-serif; font-size: 2.5em; 
}
/***************************************/
/*  Section-4                          */
/***************************************/
#section-4 > article{
	margin: 0px!important;
}
/*#section-4 .container{
	background: #ccc!important;
}*/
#section-4{
	/*background: #ccc!important;*/
	/*padding: 30px 0px 30px 0px;*/
	background-image: url('');
    padding-top: 55%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: 'PoetsenOne', sans-serif;
    margin-top: -5%;
}
#tu-mascota p{
	color: #a1126d!important;
    font-size: 40px;
    width: 77%;
    position: absolute;
    margin-top: -29%;
    margin-left: 20%;
}
#section-4 h2{
	font-weight: bold;
	font-size: 40px;
}
#section-4-cuadro{
	width: 262px;
	background: #fff;
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    margin-left: -1%;
    position: absolute;
    margin-top: -20%;

}
#section-4-cuadro p{
	font-size: 20px!important;
    color: #969191;
}
#section-4-cuadro h2{
	font-size: 80px!important;
	margin:0px;
}
#section-4-cuadro h3{
	font-size: 33px!important;
	margin:0px;
}
#section-4-cuadro span{
	font-size: 22px!important;
	margin:0px;
	color: black;
}
#section-4-cuadro .monto{
	color: #00ace6;
	font-size: 108px!important; 
}

#avion{
    float: right;
    text-align: center;
    padding-bottom:20px;
}
#avion img{
	margin: 0 auto;
}


/***************************************/
/*  Section-5                          */
/***************************************/
#section-5{
	color: #fff;
	font-weight: normal!important;
	font-family: 'Lato', sans-serif!important;
	padding: 20px 0px 0px 0px;
	overflow: hidden;
}

#section-5 div article
#section-5 p,
#section-5 label
{
	text-align: left!important;
	vertical-align: top;
	margin: 0px;
}
#section-5 p{
	font-size: 21px; 
	/*margin: 0px 0px 15px 0px;*/
}
#section-5 label{
    font-size: 45px!important;
    font-family: "PoetsenOne";
    font-weight: normal;
    padding-right:0px!important;
    padding-left:0px!important;
}

#section-5 img{
	vertical-align: bottom;
}
#section-5 input{
	vertical-align: bottom;
	border:0px;
	border-radius: 50px;
	height: 50px;
	padding: 10px 20px 10px 20px ;    
  width: calc(100% - 90px);
	color:black;
	margin-right: 20px;
}
#section-5 form {
	text-align: left;
}
#section-5 h1{
    font-size: 40px!important;
    font-family: "PoetsenOne";
}
#section-5-paso3{
	float: right;
}

#section-5-link {
	padding: 20px 0px 40px 0px;
}

#section-5-link a:hover{
    background-color: #A1126D;
    border:1px solid #fff;
    color: #fff;
}
#section-5-link a{
    background-color: #fff;
    border:1px solid #A1126D;
    border-radius: 50px;
    width: 90%;
    text-align: center;
    padding: 15px 37%;
    text-decoration: none;
    font-size: 16px;
    color: #868686;
} 

#proceso-reserva{
	color:#fff;
	font-size: 20px;
	padding: 20px;
}
/***************************************/
/*  Section-6                          */
/***************************************/
#section-6{ 
	background: #ccc;
	color: #fff;
	font-weight: lighter;
	padding: 20px 0px 20px 0px;
	overflow: hidden;
}
#section-6 h1{
	font-family: "PoetsenOne";
}

#section-6-action{
	font-family: "PoetsenOne";
	font-size: 22px;
	font-weight: normal;
	padding: 20px 0px 20px 0px;
	color: #fff;
	margin-top: 30px;
}

#section-6-action strong{
	font-weight: bold;
}


#section-6 .video{
	padding-top:20%;
}

.container-iframe{
	padding-top: 6%;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:50%;
}

.bg-gris{
	background: #ccc;
	padding-bottom:20px;
}

.bg-black{
	background: black;
}

/***************************************/
/*  section-7                          */
/***************************************/
#section-7 img{
	margin: 0px auto;
}
#section-7{
	padding: 50px 0px 50px 0px;
	text-align: center;
	overflow: hidden;
}
.section-7-principal{
	font-size: 27px; 
}
.section-7-secundario{
	font-size: 21px; 
}

/***************************************/
/*  section-9                          */
/***************************************/
#contactos {
	background: black;
	color: #fff;
}
#contactos img{
	display: inline-block;
	text-align: right;
	margin: 10px; 
}

/***************************************/
/*  footer                             */
/***************************************/
footer{
	color: #fff;
	padding-top: 30px;
/*	background: url("../img/Back.png") no-repeat no-repeat bottom right; */
	overflow: hidden;
}
footer h1{
    font-size: 28pt;
    font-weight: bold;
}
footer a{
	z-index: 100;
	position: relative;
	bottom:-30px;
}
footer aside{
	font-size: 28pt;
}
.img-cuidador{
    position: relative;
    z-index: 9000;
    right: 24%;
    bottom: -30%;
}
footer aside{
	background: #00b18f;
	padding-top: 50px;
	padding-bottom: 30px;
}
.logo-kmimos{
	width: 20%;
	margin-top:10px;
}
.logo-volaris{
	width: 40%;
	margin-top:10px;
}
/*CG*/
#section-4-cuadro {
	z-index: 1;
}
#section-5 {
	margin-top: 55px;
}
#section-5 p{
	font-weight: lighter;
}
#section-5 span.o{
	font-size: 37px;
    position: relative;
    margin-left: -54%;
}
#section-5 span.o.xs{
	text-align: center;
	display: none;
}
#section-5 .title{
	color: #230016 !important;
	font-size: 30px;
	background: none !important;
	font-family: "PoetsenOne";
	font-weight: normal;
	margin-left: 30%;
}



/***************************************/
/*  Media                              */
/***************************************/

/*@media (min-width: 2560px) {*/
@media (orientation: landscape) {
	#article-1-button{
		margin-top: 20px;
	}
}
@media (min-width: 1900px) {
	#section-4-cuadro {
	    width: 13%;
	    padding: 1%;
	    margin-left: -10%;
	    margin-top: -12%;
	    border-radius: 15px;
	}
	#section-4-cuadro p{
		font-size: 30px!important;
    	color: #969191;
	}
	#section-4-cuadro h2{
		font-size: 70px!important;
	}	
	#section-4-cuadro .monto{
		font-size: 95px!important; 
	}
	#tu-mascota p{
	    font-size: 50px;
    	width: 80%;
    	margin-top: -44%;
    	margin-left: 1220px;
	}
}
	
@media (min-width: 767px) and (max-width: 993px){
	.img-kmimos{
		width: 80%;
	}
	#tu-mascota p{
	    margin-left: 0px; 
	    width: 78%;
	}
	#top-image img{
		margin-top: 20vh;
	}
	footer h1{
    	font-size: 20pt;
    	text-align: center;
	}
	#section-1{
		float: none!important;
		margin-top:20px;
	    height: 69vh;
	}
	#section-1 h1{
		font-size: 30pt;
		text-align: center;
	}
	#section-1 h2{
		font-size: 18pt;
		text-align: center;
	}
	
	#section-4-cuadro{
		width: 36%;
	    padding: 1%;
	    margin-left: -2%;
	    margin-top: -22%;
	    border-radius: 15px;
	}
	.btn-kmimos{
	    font-size: 14pt;
	}
	.img-kmimos{
		width: 70%;
		padding:10px;
	}
	.logo{
		width: 45%;
	}
	.text-right{
		text-align: center!important;
	}
	#section-3{
		text-align: center;
	}
	.img-cuidador {
	    right: -25%;
	    bottom: 5%;
	}
	.circulo{
		background: transparent;
	}}
@media (max-width: 766px){
	#top-image img{
		margin-top: 30vh;
	}
	#section-1{
		float: none!important;
		margin-top:20px;
	    height: 30vh;
	}
	#section-1 h1{
		font-size: 27pt;
		text-align: center;
	}
	#section-1 h2{
		font-size: 16pt;
		text-align: center;
	}
	#section-1 > article{
		margin-right: 0px;
	}
	#section1-footer h3 {
	    font-size: 18px!important;
	    margin: 0px 5px 0px 5px!important;
	    padding:20px 0px 20px 0px;
	}

	p{ font-size: 16px;  }
	
	#section-4{
	    padding-top: 64%;
	}
	#section-4-cuadro{
		width: 30%;
	    padding: 1%;
	    margin-left: -6%;
	    margin-top: -40%;
	    border-radius: 15px;
	}
	#section-4-cuadro p{
		font-size: 12px!important;
    	color: #969191;
	}
	#tu-mascota p{
	    font-size: 15px;	
	    width: 60%;
	   	margin-top: -50%;
    	margin-left: 216px;
	}
	#section-4-cuadro h2{
		font-size: 25px!important;
	}	
	#section-4-cuadro .monto{
		font-size: 33px!important; 
	}
	#section4-logo{
		width: 100px!important;
	}	

	#section-5{
		margin: 0 auto;
	}
	#section-5 .title{
		font-size: 16px;
		margin-left: 2%;
	}
	#section-5 input{
	    padding: 4px!important;
		margin-right: 0px!important;
	}
	#section-5 img{
		width: 50px!important;
	}
	#section-5-form{
    	padding: 10px 0px 20px 0px;
	}

	#section-5 h1 {
		margin-top: 0px;
	    font-size: 26px!important;
	}
	#section-5 label {
	    font-size: 43px!important;
	}
	#section-5 p {
	    font-size: 18px;
	}
	.move{margin-left: 0%;}
	.move1{margin-left: 4%;}
	.btn-kmimos-inverso{
		font-size: 18px;
	}

	.logo-kmimos{
		width: 40%;
		float: left;
		margin-top:10px;
	}
	.logo-volaris{
		width: 40%;
		float: right;
		margin-top:10px;
	}
	#contactos .container{
		padding: 15px;
		height: auto;
	}
	
	#contactos{
		font-size: 18px;
	    text-align: center!important;
	    padding: 10px;
	}

	.btn-kmimos{
	    font-size: 14pt;
	}
	.logo{
		width: 30%;
	}
	.img-kmimos{
		width: 80%;
		padding:20px;
	}
	.text-right{
		text-align: center!important;
	}
	#section-3{
		text-align: center!important;
	}
	footer h1{
    	font-size: 20pt;
    	text-align: center;
	}
	.img-cuidador {
	    right: -25%;
	    bottom: 12%;
	}
	.circulo{
		background: transparent;
	}

	.video-container {
		position:relative;
		padding-bottom:56.25%;
		padding-top:30px;
		height:0;
		overflow:hidden;
	}

	.video-container iframe, .video-container object, .video-container embed {
		position:absolute;
		top:0;
		left:0;
		min-width:60%;
		max-width:100%;
		height:100%;
	}
  #section-5 span.o.lg{
  	display: none;
  }
  #section-5 span.o.xs{
  	display: block;
  	font-size: 49px;
    position: relative;
    margin-left: -10%;
  }
}
@media (max-width: 415px){
	#top-volaris {
	    padding-right: 8px;
	    width: 75%;
	}
	#top-kmimos {
	    padding-right: 11px;
	    padding-top: 5px;
	    width: 27%;
	}
	#tu-mascota p {
	    font-size: 15px;
	    width: 60%;
	    margin-top: -30%;
	    margin-left: 78px;
	}
	.background {
   		background-size: cover;
    	padding-bottom: 55%;
	}
	#section-5 {
    	position: unset;
	}
	#section-4-cuadro {
	    padding: 1%;
	    width: 30%;
	    margin-left: -8%;
		margin-top: -59%;
		border-radius: 0px;
	}
	.bg-volaris {
    	background: #ffffff!important;
	}
	.diagonal{
		background: transparent;
	    padding: 0%;
	    position: relative;
       	margin-top: 28%;
		border-right: 444px solid #fff;
		border-top: 56px solid transparent;
	    overflow: hidden;
	}
	#section-5 input {
	    width: 75%;
	    background: #c62370;
	    padding: 25px!important;
	    margin-right: 0px!important;
	    font-size: 12pt;
	}
	#section-5 .title {
	    font-size: 15px;
    	text-align: left;
    	margin-left: 0%;
	}
	#email::placeholder{ color: #fff; font-family: 'PoetsenOne';}
	#email::-ms-input-placeholder{ color: #fff; font-family: 'PoetsenOne';}
	#email::-webkit-input-placeholder{ color: #fff;font-family: 'PoetsenOne'; }
	#email::-moz-placeholder { color: #fff; font-family: 'PoetsenOne';}
	#section-5 p{
	    	font-size: 17px;
		    padding-left: 0px;
		    padding-right: 0px;
		    color: #9f9494;
		}
	#section-5 label {
			color: #696161;
		    padding-left: 0px;
		    padding-right: 0px;
		}
		#section-5-link a {
		    padding: 15px 20%;
		    font-size: 16px;
		    background: #c62370;
		    color: #fff;
		    font-family: 'PoetsenOne';
		}
}  
@media (max-width: 376px){
	#top-volaris {
		padding-right: 8px;
		width: 99%;
	}
	#top-kmimos {
	    padding-right: 11px;
	    padding-top: 7px;
	    width: 40%;
	}
	.background {
	    background-size: cover;
	    padding-bottom: 55%;
	}
	#tu-mascota p {
		font-size: 15px;
		width: 60%;
		margin-top: -34%;
		margin-left: 65px;
	}
	#section-5 {
    position: unset;
}
	#section-4-cuadro {
        padding: 1%;
	    width: 30%;
	    margin-left: -10%;
	    margin-top: -59%;
	    border-radius: 0px;
	}
	.diagonal{
		background: transparent;
	    padding: 0%;
	    position: relative;
	    margin-top: 24%;
	    border-right: 435px solid #fff;
	    border-top: 60px solid transparent;
	    overflow: hidden;
	}
	#section-4-cuadro span{
		font-size: 13px!important;
	}
	#section-5 input {
    	width: 75%;
    	background: #c62370;
    	padding: 10px!important;
        font-size: 12pt;
	}
	#section-5 .title {
	    font-size: 14px;
    	text-align: left;
    	margin-left: 0%;
	}
	#email::placeholder{ color: #fff; font-family: 'PoetsenOne';}
	#email::-ms-input-placeholder{ color: #fff; font-family: 'PoetsenOne';}
	#email::-webkit-input-placeholder{ color: #fff;font-family: 'PoetsenOne'; }
	#email::-moz-placeholder { color: #fff; font-family: 'PoetsenOne';}
#section-5 p{
    	font-size: 16px;
	    padding-left: 0px;
	    padding-right: 0px;
	    color: #9f9494;
	}
#section-5 label {
		color: #696161;
	    padding-left: 0px;
	    padding-right: 0px;
	}
#section-5-link a {
		padding: 10px 15%;
    	font-size: 16px;
    	background: #c62370;
    	color: #fff;
    	font-family: 'PoetsenOne';
	}
	.bg-volaris {
    	background: #ffffff!important;
	}
	#proceso-reserva {
	    font-size: 15px;
	}
	.logo-volaris {
	    width: 100%;
	    vertical-align: super;
	}
	.logo-kmimos {
	    width: 60%;
	}
	#contactos img {
		margin-left: 11%;
		margin-top: 5%;
		margin: 0px; 
	}
	.logo-kmimos {
	    float: none;
	}
}  
@media (min-width: 298px) and (max-width: 359px){

	#content-obten-cupon{
		padding-right: 0px;  
		margin-bottom: 5px;
	    margin-top: 30px;
	}
	#top-volaris{
    	padding-right: 8px;
	    width: 89%;
	}
	#top-kmimos{
    	padding-top: 3px;
		padding-right: 19px;
    	width: 41%;
    }
	.background{
		background-size: cover;
		padding-bottom: 55%;
	}
	.diagonal{
		background: transparent;
	    padding: 0%;
	    position: relative;
	    margin-top: 22%;
	    border-right: 444px solid #fff;
	    border-top: 58px solid transparent;
	    overflow: hidden;
	}
	.title{
		width: 100%;
	}
	.bg-volaris {
    	background: #ffffff!important;
	}
	.o{color: rgb(105, 97, 97);}
	#section-1 h1 {
	    margin-top: 0%;
	    font-size: 21pt;
	}
	#section-1 h2 {
    	font-size: 13pt;
	}
	#section-4-cuadro{
		padding: 1%;
	    width: 30%;
	    margin-left: -10%;
    	margin-top: -59%;
	    border-radius: 0px;
	}
	#tu-mascota p {
	    font-size: 13px;
	    width: 70%;
	    margin-top: -44px;
	    margin-left: 52px;
	}
	#section-4-cuadro h2{
		font-size: 60px;
	}
	#section-4-cuadro h3{
		font-size: 20px;
		margin:0px;
	}
	#section-4-cuadro span{
		font-size: 16px;
		margin:0px;
		color: black;
	}
	
	#section-4-cuadro .monto{
		color: #00ace6;
		font-size: 60pt; 
	}
	.btn-kmimos {
	    font-size: 10pt;
        padding: 10px 20px 10px 20px;
	}
	.btn-kmimos-inverso {
	    font-size: 9pt;
	}
	#section-5 input {
        width: 72%;
	    background: #c62370;
	    font-size: 10pt;
	    padding: 5px!important;
	}

	#email::placeholder{ color: #fff; font-family: 'PoetsenOne';}
	#email::-ms-input-placeholder{ color: #fff; font-family: 'PoetsenOne';}
	#email::-webkit-input-placeholder{ color: #fff;font-family: 'PoetsenOne'; }
	#email::-moz-placeholder { color: #fff; font-family: 'PoetsenOne';}
	#top-image img {
    	margin-top: 40vh;
	}
	#section-5{position: unset;}
	#section-5 p{
    	font-size: 16px;
	    padding-left: 0px;
	    padding-right: 0px;
	    color: #9f9494;
	}
	#section-5 label {
		color: #696161;
	    padding-left: 0px;
	    padding-right: 0px;
	}

	#section-5-link a {
		padding: 10px 15%;
    	font-size: 13px;
    	background: #c62370;
    	color: #fff;
    	font-family: 'PoetsenOne';
	}
	#contactos{
		font-size: 16px; 
	}
	#section-6 h1{
		font-size: 14px;
	}

	#section-6-action {
	    font-size: 18px;
	}
	#top-image img {
	    margin-top: 40vh;
	}}
@media (max-width: 297px){
	#section-1{ height: 7vh; }
	#section-1 h1 {
	    margin-top: 0%;
	    font-size: 11pt;
	}
	#section-1 h2 {
    	font-size: 7pt;
	}
	#tu-mascota p {
	    font-size: 8px;
    	width: 41%;
    	margin-top: -30%;
    	margin-left: 53px;
	}
	#section-3 p {
    	font-size: 10px;
	}
	#section-4 h2 {
    	font-size: 10px;
	}
	#proceso-reserva h1{font-size: 1em;}
	#section-4-cuadro {
		background: #fff;
	    border-radius: 15px;
	    padding: 5px;
	}
	#section-4-cuadro h2 {
	    font-size: 25px!important;
	    margin: 0px;
	}
	#section-4-cuadro .monto {
	    color: #00ace6;
	    font-size: 33px!important;
	}
	#section-4-cuadro h3 {
	    font-size: 10px!important;
	    margin: 0px;
	}
	#section-4-cuadro span {
	    font-size: 7px!important;
	}
	#section-5 article {
		padding: 2px;
	}
	#section-5 label {
	    padding: 0px;
	    font-size: 16px!important;
	}
	#section-5 p {
		font-size: 7px;
		padding: 2px;
	}
	#section-5-form {
	    padding: 10px 0px 20px 0px;
	}
	#section-5 input {
		padding: 7px!important;
		height: auto;
		width: 62px;
	}
	#section-5 img {
	    width: 30px!important;
	}
	#section-5 h1 {
	    font-size: 13px!important;
	}
	#section-5-link a {
	    padding: 10px 30%;
	}
	.section-7-principal {
	    font-size: 8px;
	}
	.section-7-secundario {
	    font-size: 8px;
	}
	#section-6 h1 {
	    font-size: 11px;
	}
	#section-6-action {
	    font-size: 10px;
	}
	#contactos {
	    font-size: 7px;
	}
	#contactos article{
	    margin-top: 10px;
	    padding-left: 0px;
	    margin-bottom: 10px;
	    padding-right: 0px;
	}
 	#section4-logo {
	    width: 71px;
	}
	#top-image img {
    	margin-top: 31vh;
	}
	.btn-kmimos-inverso,
	.btn-kmimos {
		font-size: 5pt;
   		padding: 2px;
	}
	#section1-footer h3 {
	    font-size: 9px!important;
	    padding: 10px 0px 10px 0px;
	}

	#video{
		padding: 0px;
   	}}
@media (max-width: 150px){
	#section-4-cuadro {
	    background: #fff;
	    border-radius: 15px;
	    padding: 5px;
	}

	#section-6-action article,
	#section-6-action div,
	#section-7 article,
	#section-7 div{
		margin: 0px;
		padding: 2px;
	}

	#section-4-cuadro {
		background: #fff;
	    border-radius: 15px;
	    padding: 5px;
	}
	#section-4-cuadro h2 {
	    font-size: 15px!important;
	    margin: 0px;
	}
	#section-4-cuadro .monto {
	    color: #00ace6;
	    font-size: 20px!important;
	}
	#section-4-cuadro h3 {
	    font-size: 5px!important;
	    margin: 0px;
	}
	#section-4-cuadro span {
	    font-size: 3px!important;
	}
}


/*
Phones (<768px)
Small  (≥768px)	
Medium (≥992px)	
Large  (≥1200px)
*/
