@font-face {
	font-family: 'PoetsenOne';
	src: url('../font/PoetsenOne-Regular.ttf')  format('truetype');
}

body{
	background: #49c9b0;
	color: #3a3a3a;
	font-family: 'Lato', sans-serif;
	font-weight: 900!important;
}



header{
	background: #00B190;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 20px;
	clear: both;
}
section{
/*	background: #48C9AF;*/
	clear: both;
}

strong{
	font-weight: 900;
}

.container{
	background: #fff;
}

#waypoint{
	background: #00D9AE url(../img/bg-section1a.jpg);
	background-position: center;
	background-attachment: fixed ;
    background-size: 100%;
    background-repeat: no-repeat;
}

.bg-black{
	background: black;
	color: white;
}

.title{
	background: #65D6B5!important;
	color: #fff!important;
	text-align: center;
	font-size: 35pt;
	padding:10px;
	margin-top: 0px!important;
	margin-bottom: 0px!important;
}

.margin-bottom-20{
	margin-bottom:20px;
}
.margin-bottom-40{
	margin-bottom:40px;
}
.container-fluid{
	padding: 0px!important; 
	margin: 0px!important;
	width: 100%!important;
}
.back-white{
	margin-top: 10px;
	color:#fff;
	border-radius: 75%;
	padding-left: 8px; 
	padding-right: 8px; 
	border: 2px solid #fff;
}
.back-green{
	color: #49c9b0;
	border-radius: 75%;
	padding-left: 8px; 
	padding-right: 8px; 
	border: 2px solid #49c9b0;
	margin-top: 10px;
}
/***************************************/
/*  Global	                       */
/***************************************/
.color-volaris{
	color: #a1126d;
}
.color-azul{
	color:#00ace6;
}
.bg-volaris{
	background: #a1126d!important; 
}
.bg-transparent{
	background: transparent!important;
}
.circulo {
     width: 400px;
     height: 200px;

	 -moz-border-radius: 200px 200px 0 0;
     -webkit-border-radius: 200px 200px 0 0;
     border-radius: 200px 200px 0 0;

     background: #00B190;
     z-index: 8000;
 }
.hr-special{
	margin-top:1px;
}

.section-flex > div{
	width: 100%;
	height: 100%;
	display: inline-flex;
	-ms-display: flex;
	display: flex;
	/* alineacion vertical */
	align-items: center;
}
.margin-top-20{
	margin-top:20px;
}
.main >section{
	padding-left:0px!important;
	padding-right:0px!important;
	margin-left:0px!important;
	margin-right:0px!important;
}
.controll-pagination{
	text-align:center;
	margin-top:10px;
	font-size: 30px;	
}
.subtitle-container{
	text-align: right;
    margin-right: -15px;
 }

.btn-kmimos:hover{
	border: 1px solid #a1126d;
	color: #a1126d;
	background: #fff;
}
.btn-kmimos{
	color:#fff;
	border-radius: 50px;
	background: #a1126d;
	border: 1px solid #a1126d;
	font-size: 22px;
	font-weight: bold;
	padding: 15px 30px 15px 30px;
}
.btn-kmimos-inverso:hover{
	border: 1px solid #fff;
	color: #fff;
	background: #a1126d;
}
.btn-kmimos-inverso{
	color:#a1126d;
	border-radius: 50px;
	background: #fff;
	border: 1px solid #a1126d;
	font-size: 22px;
	font-weight: bold;
	padding: 15px 30px 15px 30px;
}


/***************************************/
/*  Section-1                          */
/***************************************/

#section-1{
	color: #fff;
	font-weight: lighter;
	height: 76vh;
}
#section-1 .pull-right{
	align-items: right;
}
#section-1-option{
/*
	position: absolute;
	bottom: 15px;
*/
}

#article-1-button{
	margin-bottom: 20px;
}

#section-1-avatares{
	background: url("../img/Character_section1.png") no-repeat no-repeat bottom center;
	background-size: contain;
/*	
	bottom: 80px;
	position: absolute;
*/
}

#section-1 .img-kmimos{
	margin-top:80px;
}

#section-1 h1{
	margin-top:5%;
	margin-bottom:5px;
	font-weight: bold;
	font-size: 50pt;
	font-family: 'PoetsenOne', sans-serif;
/*	text-shadow: 2px 2px 2px #000; */
}

#section-1 h2{
	margin-bottom:5px;
	font-size: 20pt;
}

#section-1-button{
	margin: 20px 0px 20px 0px;
}

#section-1 > article{
	margin-right: 60px;
	float: right;
}

#section1-footer h3{
	margin: 24px;
}
#section1-footer{
	font-weight: bold;
	font-size: 30px;
	padding-top:0px; 
	text-align: center;
	background: black; 
	color:#fff;
}

/***************************************/
/*  Section-content                    */
/***************************************/

#section-content{
	background: #fff; 
}


/***************************************/
/*  Section-3                          */
/***************************************/

#section-3 p{
	font-size: 20px; 
	color: black;
	font-weight: normal;
}
#section-3 h3{
	font-size: 23pt;
	font-weight: bold;
	margin-top: 4px;
	margin-bottom: 4px;
	color: #fff;
}
#section-3 h1{
	color: #FFFFBD;
	font-size: 65pt;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 4px;
}


#section-3 article:nth-child(-n+3){
	border-bottom:1px solid #a1126d;
}


#section-3 article{
	vertical-align: middle;
	padding:40px 0px 40px 0px;
}

/***************************************/
/*  Section-4                          */
/***************************************/
#section-4 > article{
	margin: 0px!important;
}
#section-4 .container{
	background: #ccc!important;
}
#section-4{
	background: #ccc!important;
	padding: 30px 0px 30px 0px;
	font-family: 'PoetsenOne', sans-serif;
}
#section-4 h2{
	font-weight: bold;
	font-size: 40px;
}
#section-4-cuadro{
	background: #fff;
	border-radius: 30px;
	padding: 23px;
	text-align: center;

}
#section-4-cuadro h2{
	font-size: 90px!important;
	margin:0px;
}
#section-4-cuadro h3{
	font-size: 33px!important;
	margin:0px;
}
#section-4-cuadro span{
	font-size: 23px!important;
	margin:0px;
	color: black;
}
#section-4-cuadro .monto{
	color: #00ace6;
	font-size: 111px!important; 
}

#avion{
    float: right;
    text-align: center;
    padding-bottom:20px;
}
#avion img{
	margin: 0 auto;
}


/***************************************/
/*  Section-5                          */
/***************************************/
#section-5{
	color: #fff;
	font-weight: normal!important;
	font-family: 'Lato', sans-serif!important;
	padding: 20px 0px 0px 0px;
}

#section-5 div article
#section-5 p,
#section-5 label
{
	text-align: left!important;
	vertical-align: top;
	margin: 0px;
}
#section-5 p{
	font-size: 25px; 
	margin: 0px 0px 15px 0px;
}
#section-5 label{
    font-size: 40px!important;
    font-family: "PoetsenOne";
    font-weight: normal;
}

#section-5 img{
	vertical-align: bottom;
}
#section-5 input{
	vertical-align: bottom;
	border:0px;
	border-radius: 50px;
	height: 50px;
	padding: 10px 20px 10px 20px ;
	width: 75%;
	color:black;
	margin-right: 20px;
}
#section-5 form {
	text-align: left;
}
#section-5 h1{
    font-size: 40px!important;
    font-family: "PoetsenOne";
}
#section-5-paso3{
	float: right;
}

#section-5-form{
	padding: 40px 30px 20px 0px;
}

/***************************************/
/*  Section-6                          */
/***************************************/
#section-6{
	background: #ccc;
/*	background-image: url(../img/fondo-section1.png);
	background-size: cover;
	background-position: bottom;
*/	color: #fff;
	font-weight: lighter;
	padding: 20px 0px 20px 0px;
}
#section-6 h1{
	font-family: "PoetsenOne";
}

#section-6-action{
	font-family: "PoetsenOne";
	font-size: 22px;
	font-weight: normal;
	padding: 20px 0px 20px 0px;
	color: #fff;
	margin-top: 30px;
}

#section-6-action strong{
	font-weight: bold;
}


#section-6 .video{
	padding-top:20%;
}

.container-iframe{
	padding-top: 6%;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:50%;
}

.bg-gris{
	background: #ccc;
	padding-bottom:20px;
}

.bg-black{
	background: black;
}

/***************************************/
/*  section-7                          */
/***************************************/
#section-7 img{
	margin: 0px auto;
}
#section-7{
	padding: 50px 0px 50px 0px;
	text-align: center;
}
.section-7-principal{
	font-size: 27px; 
}
.section-7-secundario{
	font-size: 21px; 
}

/***************************************/
/*  section-9                          */
/***************************************/
#contactos {
	background: black;
	color: #fff;
}
#contactos img{
	display: inline-block;
	text-align: right;
	margin: 10px; 
}

/***************************************/
/*  footer                             */
/***************************************/
footer{
	color: #fff;
	padding-top: 30px;
/*	background: url("../img/Back.png") no-repeat no-repeat bottom right; */
}
footer h1{
    font-size: 28pt;
    font-weight: bold;
}
footer a{
	z-index: 100;
	position: relative;
	bottom:-30px;
}
footer aside{
	font-size: 28pt;
}
.img-cuidador{
    position: relative;
    z-index: 9000;
    right: 24%;
    bottom: -30%;
}
footer aside{
	background: #00b18f;
	padding-top: 50px;
	padding-bottom: 30px;
}

/***************************************/
/*  Media                              */
/***************************************/

@media (max-width: 766px){ 
	#section-1{
		float: none!important;
		margin-top:20px;
	    height: 69vh;
	}
	#section-1 h1{
		font-size: 27pt;
		text-align: center;
	}
	#section-1 h2{
		font-size: 16pt;
		text-align: center;
	}
	#section-1 > article{
		margin-right: 0px;

	}
	#section1-footer h3 {
	    font-size: 18px!important;
	    margin: 0px 5px 0px 5px!important;
	    padding:20px 0px 20px 0px;
	}

	p{ font-size: 16px;  }

	#section-4{
		padding: 15px 0px 15px 0px;
	}

	#section-4 h2{
		font-size: 19px;
	}
	
	#section4-logo{
		width: 100px!important;
	}	

	#section-5{
		margin: 0 auto;
	}

	#section-5 input{
		padding: 16px!important;
		margin-right: 0px!important;
	}
	#section-5 img{
		width: 50px!important;
	}
	#section-5-form{
    	padding: 40px 0px 20px 0px;
	}

	#section-5 h1 {
		margin-top: 0px;
	    font-size: 26px!important;
	}

	#section-5 p {
	    font-size: 21px;
	}

	.btn-kmimos-inverso{
		font-size: 18px;
	}


	.logo-kmimos{
		width: 40%;
		float: left;
		margin-top:10px;
	}
	.logo-volaris{
		width: 40%;
		float: right;
		margin-top:10px;
	}
	#contactos .container{
		padding: 0px;
	}
	#contactos img{
		margin: 0px;
	}
	#contactos{
		font-size: 18px;
	    text-align: center!important;
	    padding: 10px;
	}

	.btn-kmimos{
	    font-size: 14pt;
	}
	.logo{
		width: 30%;
	}
	.img-kmimos{
		width: 80%;
		padding:20px;
	}
	.text-right{
		text-align: center!important;
	}
	#section-3{
		text-align: center!important;
	}
	footer h1{
    	font-size: 20pt;
    	text-align: center;
	}
	.img-cuidador {
	    right: -25%;
	    bottom: 12%;
	}
	.circulo{
		background: transparent;
	}

	.video-container {
		position:relative;
		padding-bottom:56.25%;
		padding-top:30px;
		height:0;
		overflow:hidden;
	}

	.video-container iframe, .video-container object, .video-container embed {
		position:absolute;
		top:0;
		left:0;
		min-width:60%;
		max-width:100%;
		height:100%;
	}
}
@media (min-width: 767px) and (max-width: 991px){ 
	footer h1{
    	font-size: 20pt;
    	text-align: center;
	}
	#section-1 h1{
		font-size: 18px;
	}

	

	.btn-kmimos{
	    font-size: 14pt;
	}
	.img-kmimos{
		width: 70%;
		padding:10px;
	}
	.logo{
		width: 45%;
	}
	.text-right{
		text-align: center!important;
	}
	#section-3{
		text-align: center;
	}
	.img-cuidador {
	    right: -25%;
	    bottom: 5%;
	}
	.circulo{
		background: transparent;
	}
}
@media (min-width: 992px) { 

	.img-kmimos{
		width: 80%;
	}
	

}
@media (min-width: 1200px) { 


}