.km-img{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #292929;
    height: 150px;
}

#mapa{
    height: 400px;
}

h1 a{
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
}

h1 a:hover{
    color: #000;
    text-decoration: none;
}

.rating img {
    width: 20px;
}