.main *{
    font-family: "Roboto Condensed",Arial, Helvetica, sans-serif;
}

.main p,
.main dl{
    margin: 0px;
}

.main p {
    text-align: right;
}

.main dt{
    font-weight: 600;
}

.main h1{
    margin: 0px 0px 5px;
}

.main table {
    width: 100%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;  
    text-align: left;    
    border-collapse: collapse; 
}

.main th {     
    font-size: 14px;     
    font-weight: normal;     
    padding: 8px;     
    background: #59c9a8;
    border-bottom: 1px solid #fff; 
    color: #FFF; 
}

.main td {    
    padding: 8px;     
    background: #f1f1f1;     
    border-bottom: 1px solid #fff;   
    border-top: 1px solid transparent; 
    vertical-align: top;
    font-size: 12px;
    color: #444; 
}

.main th:nth-last-child(1),  
.main td:nth-last-child(1) {    
    width: 170px;
}

.main td a{    
    color: #000; 
}

.main td a:hover{    
    color: #2f9c7c;
}

.main tr:hover td { 
    background: #e0e0e0; 
    color: #444; 
}

.main td select{    
    padding: 5px 0px;
    width: 100%;
    background-color: #59c9a8;
    border: 0;
    outline: none;
    box-shadow: 0px 0px 0px #000;
    color: #FFF;
}

.main td select:focus{  
    outline: none;
    box-shadow: 0px 0px 0px #000;
}

.main .cancelled {
    background-color: red;
}