/*
    Modal video
*/

    .modal_video{
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999999999999999;
        background-color: rgba(0,0,0,0.8);
        display: none;
    }

    .modal_video .modal_container{
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        padding: 20px;
        box-sizing: border-box;
    }

    .modal_video .modal_box{
        position: relative;
        display: block;
        width: 80%;
        height: 500px;
        background-color: #FFF;
        margin: 0px auto;
        max-width: 885px;
        border: solid 3px #333;
        border-radius: 5px;
    }

    .modal_video .modal_box i{
        position: absolute;
        top: -10px;
        right: -10px;
        font-size: 15px;
        border: solid 1px #FFF;
        color: #333;
        background: #FFF;
        padding: 2px 4px;
        border-radius: 50%;
        cursor: pointer;
    }

    @media screen and (max-width: 1000px) {
        .modal_video .modal_box{
            display: block;
            height: 350px;
        }
    }

    @media screen and (max-width: 700px) {
        .modal_video .modal_box{
            display: block;
            width: 100%;
            height: 250px;
        }
    }

    @media screen and ( max-height: 500px ){
        .modal_video .modal_box{
            display: block;
            height: 100%;
            width: 100%;
        }
    }

/*
    Modal mas servicios
*/

    .modal_servicios{
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999999999999999;
        background-color: rgba(0,0,0,0.8);
        display: none;
    }

    .modal_servicios .modal_container{
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        padding: 20px;
        box-sizing: border-box;
    }

    .modal_servicios .modal_box{
        position: relative;
        display: block;
        width: 80%;
        height: auto;
        background-color: #FFF;
        margin: 0px auto;
        max-width: 400px;
        border: solid 3px #333;
        border-radius: 5px;
    }

    .modal_servicios .boton_servicio{
        margin: 10px;
        border: solid 1px #CCC;
        border-radius: 5px;
        cursor: pointer;
        padding: 0px;
        overflow: hidden;
    }

    .modal_servicios .boton_servicio *{
        cursor: pointer;
        display: block;
        overflow: hidden;
        padding: 5px;
    }

    .modal_servicios .boton_servicio i{
        float: left;
        font-size: 20px;
    }

    .modal_servicios .boton_servicio p{
        margin: 0px;
        float: left;
        padding-left: 10px;
    }

    .modal_servicios .boton_servicio input{
        display: none;
    }

    #close_mas_servicios{
        position: absolute;
        top: -10px;
        right: -10px;
        font-size: 15px;
        border: solid 1px #FFF;
        color: #333;
        background: #FFF;
        padding: 2px 4px;
        border-radius: 50%;
        cursor: pointer;
    }


/*
    Beneficios Home
*/ 
    .beneficios_container{
        background: #f1f1f1;
        padding: 20px 10px;
    }

    ul.beneficios_home{
        margin: 0px auto;
        padding: 20px 0px;
        overflow: hidden;
        text-align: center;
    }

    ul.beneficios_home li{
        list-style: none;
        margin: 0px;
        width: 25%;
        float: left;
    }

    ul.beneficios_home li div{
        list-style: none;
        padding: 30px 0px;
        margin: 10px;
        border: solid 1px #eee;
        border-radius: 3px;
        background: #FFF;
    }

    ul.beneficios_home h3{
        padding: 0px 5px;
    }

/*
    Slider Home
*/

.slider_home{
    background-size: contain;
    background-position: center center;
    background-repeat: repeat-x;
    cursor: pointer;
}
.slider_home_container{
    display: block;
    overflow: hidden;

    background-size: contain;
    background-position: center center;
    background-repeat: repeat-x;

    max-width: 900px;
    margin: 0px auto;
}
ul.slider_home_box{
    padding: 0px;
    height: 450px;
    overflow: hidden;

    display: flex;

    -moz-animation: slider_home 10s infinite alternate;
    -o-animation: slider_home 10s infinite alternate;
    -webkit-animation: slider_home 10s infinite alternate;
    animation: slider_home 10s infinite alternate;
}
ul.slider_home_box li{
    display: block;
    height: 100%;
    width: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

@keyframes slider_home{
    0% { margin-left: 0; }
    40% { margin-left: 0; }

    50% { margin-left: -100%; }
    100% { margin-left: -100%; }
}

/*
    Slider Testimonios
*/

#bloque_testimonios{
    background: #00c3aa;
    padding: 20px 0px 50px;
}

#bloque_testimonios > h1{
    text-align: center;
    color: #FFF;
    padding: 10px 0px;
    margin: 0px;
}
.testimonios_container{
    display: block;
    margin: 0px auto;
    max-width: 900px;
    overflow: hidden;
}
ul.testimonios_box{
    padding: 0px;
    height: 150px;
    overflow: hidden;

    display: flex;

    -moz-animation: testimonios 20s infinite alternate;
    -o-animation: testimonios 20s infinite alternate;
    -webkit-animation: testimonios 20s infinite alternate;
    animation: testimonios 20s infinite alternate;
}
ul.testimonios_box li{
    display: block;
    height: 100%;
    width: 100%;
}
.testimonio{
    position: relative;
    display: block;
    height: 100%;
    margin: 0px auto;
    max-width: 950px;
    box-sizing: border-box;
    padding: 10px 30px;
    overflow: hidden;
}
.testimonio_cont_data{
    float: right;
}
.testimonio_titulo{
    font-size: 40px;
    font-family: 'Dosis',sans-serif;
    font-weight: 700;
    color: #FFF;
    line-height: 50px;
}
.testimonio_texto{
    font-size: 28px;
    line-height: 30px;
    font-family: 'Dosis',sans-serif;
    color: #FFF;
    text-align: justify;
}
.flechas{
    font-size: 60px;
    font-family: 'Dosis',sans-serif;
    font-weight: 700;
}

@keyframes testimonios{
    0% { margin-left: 0; }
    30% { margin-left: 0; }

    35% { margin-left: -100%; }
    65% { margin-left: -100%; }

    70% { margin-left: -200%; }
    100% { margin-left: -200%; }
}

/*
    Slider Logos
*/

.slider_logos_container{
    display: block;
    overflow: hidden;
    max-width: 1140px;
    margin: 0px auto;
}
ul.slider_logos_box{
    padding: 0px;
    height: 200px;
    overflow: hidden;

    display: flex;

    width: 200%;

    -moz-animation: slider_logo 30s infinite alternate;
    -o-animation: slider_logo 30s infinite alternate;
    -webkit-animation: slider_logo 30s infinite alternate;
    animation: slider_logo 30s infinite alternate;
}
ul.slider_logos_box li{
    display: block;
    height: 100%;
    width: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: repeat-x;
}

@keyframes slider_logo{
    0% { margin-left: 0; }
    15% { margin-left: 0; }

    20% { margin-left: -25%; }
    35% { margin-left: -25%; }

    40% { margin-left: -50%; }
    55% { margin-left: -50%; }

    60% { margin-left: -75%; }
    75% { margin-left: -75%; }

    80% { margin-left: -100%; }
    100% { margin-left: -100%; }
}

/*
    Estilos del buscador
*/

#popup_mas_servicios{
    overflow: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999999999999999999;
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
#mas_servicios{
    display: inline-block;
    position: relative;
    max-width: 340px !important;
    vertical-align: middle;
    overflow: hidden;
    background: #FFF;
    padding: 25px 5px 10px;
    margin: 50px auto;
    border-radius: 8px;
    border: solid 5px rgba(0,0,0,0.8);
    vertical-align: middle;
}
#cerrar_mas_servicios{
    position: absolute;
    top: 0px;
    right: 0px;
    background: #FFF;
    padding: 3px;
    font-size: 16px;
    border: solid 1px #333;
    border-top: 0px;
    border-right: 0px;
    border-radius: 0px 0px 0px 5px;
    cursor: pointer;
}
#popup_mas_servicios span{
    display: inline-block;
    width: 0px;
    height: 100%;
    vertical-align: middle;
}

#logo_solo_movil{
    display: none;
}

/* Buscador Home */

    .buscar_box{

    }
    .buscar_box *{
        font-family: "Roboto Condensed",Arial, Helvetica, sans-serif;
    }

    .buscar_box form{
        padding: 30px;
    }

    .buscar_box form label{
        font-weight: 600;
        display: block;
        overflow: hidden;
    }

    .titulo_buscar_label{
        font-size: 26px;
        float: left;
    }

    .adicionales_container{
        position: relative;
        overflow: hidden;
        padding: 0px 5px;
    }

    .adicionales_button{
        float: right;
        border: solid 1px #59c9a8;
        background: #59c9a8;
        color: #FFF;
        padding: 10px 10px;
        font-size: 14px;
        border-radius: 3px;
        cursor: pointer;
        width: calc( 25% - 8px );
        text-align: center;
    }

    .servicios_container{
        margin: 10px 0px;
        overflow: hidden;
    }

    .servicios_container .contenedor_servicio{
        float: left;
        width: 25%;
    }

    .servicios_container .contenedor_servicio .boton_servicio{
        position: relative;
        margin: 0px 5px;
        border: solid 1px #CCC;
        overflow: hidden;
        cursor: pointer;
        border-radius: 3px;
    }

    .servicios_container .contenedor_servicio .boton_servicio:hover{
        background-color: #EEE;
    }

    .servicios_container .contenedor_servicio .boton_servicio *{
        cursor: pointer;
    }

    .servicios_container .contenedor_servicio .boton_servicio i{
        width: 20%;
        float: left;
        font-size: 28px;
        padding: 10px 3px;
    }

    .servicios_container .contenedor_servicio .boton_servicio i:before{
        text-align: center;
        display: inherit;
    }

    .servicios_container .contenedor_servicio .boton_servicio p{
        width: 80%;
        float: right;
        margin: 0px;
        padding: 6px 0px;
        font-weight: 400;
    }

    .servicios_container .contenedor_servicio .boton_servicio p span{
        display: block;
        font-size: 16px;
    }

    .servicios_container .contenedor_servicio .boton_servicio p sup{
        display: block;
        font-size: 14px;
    }

    .servicios_container .contenedor_servicio input{
        display: none;
    }

    .selector_tipo_container{
        border: solid 1px #CCC;
        padding: 5px 10px;
        overflow: hidden;
        position: relative;
        border-radius: 3px;
        margin: 0px 5px 10px;
    }

    .selector_tipo_container label{
        width: 50%;
        float: left;
        text-align: center;
        font-size: 17px;
        cursor: pointer;
        padding: 5px 0px;
        font-weight: 400 !important;
    }

    .selector_tipo_container label input{
        display: none;
    }

    .selector_tipo_container label:nth-child(1){
        border-right: solid 1px #CCC;
    }

    .selects_ubicacion_container{
        border: solid 1px #CCC;
        padding: 15px;
        overflow: hidden;
        position: relative;
        border-radius: 3px;
        margin: 0px 5px;
    }

    .selects_ubicacion_container select{
        width: 50%;
        float: left;
        text-align: center;
        font-size: 17px;
        cursor: pointer;
        border: 0px;
        outline: none;
        box-shadow: 0px 0px 0px #000 !important;
    }

    .selects_ubicacion_container select:focus{
        outline: none;
        box-shadow: 0px 0px 0px #000 !important;
    }

    .servicios_container .contenedor_tamanos{
        float: left;
        width: 25%;
    }

    .servicios_container .contenedor_tamanos .boton_tamanos{
        position: relative;
        margin: 0px 5px;
        border: solid 1px #CCC;
        overflow: hidden;
        cursor: pointer;
        border-radius: 3px;
        padding: 5px;
    }

    .servicios_container .contenedor_tamanos input{
        display: none;
    }

    .contenedor_tamanos p{
        font-weight: 400;
        text-align: center !important;
        width: 100% !important;
    }

    .boton_buscar{
        display: block;
        width: 200px;
        margin: 20px auto;
        border: solid 1px #CCC;
        padding: 15px;
        border-radius: 3px;
        text-align: center;
        cursor: pointer;
    }

    .input_select{
        background-color: rgb(178, 178, 178) !important;
        color: #FFF;
    }

    .check_select{
        background-color: #FF4900 !important;
        color: #FFF;
        border: solid 1px #fff !important;
    }

    .input_nombre_box{
        padding: 5px;
    }

    .input_nombre{
        width: 100%;
        padding: 14px 10px;
        box-sizing: border-box;
        border: solid 1px #CCC;
        border-radius: 3px;
        font-family: "Roboto Condensed",Arial, Helvetica, sans-serif;
        font-size: 16px;
        color: #626262;
    }

    .boton_buscar:hover {
        background: #59c9a8;
        color: #FFF;
        border: solid 1px #FFF;
    }


    .select2-container {
        box-sizing: border-box;
        display: block;
        margin: 0px !important;
        position: relative;
        vertical-align: middle;
        border: 1px solid #e5e5e5;
        color: black;
        font-size: 11px;
        letter-spacing: 1px;
        transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        cursor: pointer;
        width: 100% !important;
        padding: 10px 14px;
        border-radius: 8px;
    }

    .select2-container--default .select2-selection--single {
        border: 0px !important;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow b {
        margin-left: -10px;
        margin-top: 5px;
    }