/* COMMON STYLES */
body {
	font-family: 'Gotham-Pro-Regular', arial, sans-serif;
	font-size: 13px;
}
@font-face {
	font-family: 'Poetsen';
	src: url(fonts/poetsen_one/PoetsenOne-Regular.ttf) format('truetype');
}
@font-face {
	font-family: 'Gotham-Pro-Light';
	src: url(fonts/gotham_pro/gotham-pro-light.otf) format('opentype');
}
@font-face {
	font-family: 'Gotham-Pro-Regular';
	src: url(fonts/gotham_pro/gotham-pro-regular.otf) format('opentype');
}
@font-face {
	font-family: 'Gotham-Pro-Medium';
	src: url(fonts/gotham_pro/gotham-pro-medium.otf) format('opentype');
}
@font-face {
	font-family: 'Gotham-Pro-Bold';
	src: url(fonts/gotham_pro/gotham-pro-bold.otf) format('opentype');
}
@font-face {
	font-family: 'Gotham-Pro-Black';
	src: url(fonts/gotham_pro/gotham-pro-black.otf) format('opentype');
}
:focus {
	outline: 0!important;
}
img {
	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
b {
	font-family: 'Gotham-Pro-Medium',arial,sans-serif;
}
h2 {
	color: #7DD1C4;
	font-family: 'Poetsen';
	font-size: 60px;
	margin-top: 0;
	letter-spacing: 1px;
}
h4 {
	color: #6B1C9B;
	font-family: 'Gotham-Pro-Bold',arial,sans-serif;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 1px;
}
h4 span {
	color: black;
	font-family: 'Gotham-Pro-Regular',arial,sans-serif;
}
h5 {
	font-size: 15px;
	font-family: 'Gotham-Pro-Bold',arial,sans-serif;
	letter-spacing: 1px;
}
p {
	font-size: 12px;
	line-height: 18px;
}

.navigation {
    margin-top:20px
}
.navigation ul {
    list-style:none;
    margin:0;
    padding:0;
    width:100%;
    text-align:center
}
.navigation ul li {
    display:inline-block;
    text-align:center;
    min-width:15px;
    margin:0 5px
}
.navigation ul li a {
    color:#000
}
.navigation ul li a:hover, .navigation ul li.active a {
    color:#7dd1c4;
    font-weight:900
}
.navigation .message-nav {
    padding-top:15px;
    text-align:center;
    font-size:12px
}

.brd-lr {
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
}
.pd-tb5 {
	padding-top: 5px!important;
	padding-bottom: 5px!important;
}
.pd-tb11 {
	padding-top: 11px!important;
	padding-bottom: 11px!important;
}
.km-btn-primary {
	background-color: #7DD1C4;
	border-bottom: 3px solid #33e1be;
	color: #6B1C9B;
	position: relative;
	padding: 17px 0;
	float: left;
	border-radius: 8px;
	font-family: 'Gotham-Pro-Bold',arial,sans-serif;
	font-size: 13px;
	letter-spacing: 1px;
	text-align: center !important;
	text-decoration: none;
	width: 100%;
	line-height: 21px;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	z-index: 1;
}
.km-btn-primary:hover {
	background-color: #33e1be;
	border-bottom: 3px solid #7DD1C4;
	color: #6B1C9B;
	text-decoration: none;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
}
.km-btn-fb {
	background-color: #4366B4;
	border-radius: 5px;
    color: white;
    text-align: center;
    display: block;
    padding: 20px 0;
    line-height: 100%;
    margin-bottom: 20px;
}
.km-btn-border {
	border: 1px solid black;
	border-radius: 5px;
    color: black;
    text-align: center;
    display: block;
    padding: 20px 0;
    line-height: 100%;
    margin-bottom: 20px;
}
.km-btn-borderw {
	background-color: white;
    border-radius: 8px;
    box-shadow: 0px 5px 0px 0px #480571;
    color: #6B1C9B;
    font-family: 'Gotham-Pro-Bold',arial,sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    display: block;
    margin: 50px auto 0;
    line-height: 100%;
    padding: 20px;
    text-align: center;
    width: 300px;
}
.km-btn {
	background-color: #7DD1C4;
    border-bottom: 3px solid #33e1be;
    border-radius: 8px;
    color: #6B1C9B;
    font-family: 'Gotham-Pro-Bold',arial,sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    display: block;
    margin: auto;
    line-height: 100%;
    padding: 20px;
    text-align: center;
    width: 300px;
}
.km-btn-correo {
	background-color: #33E1BE;
	border-radius: 5px;
    color: white;
    text-align: center;
    display: block;
    padding: 20px 0;
    line-height: 100%;
    margin-bottom: 20px;
}
.km-btn-secondary {
	background-color: #6B1C9B;
    color: white;
    display: block;
    padding: 17px 0;
    line-height: 100%;
    border-radius: 8px;
	font-family: 'Gotham-Pro-Medium',arial,sans-serif;
	font-size: 13px;
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none;
	border-bottom: 3px solid #350850;
}
.pd5 {
	padding-left: 5px;
	padding-right: 5px;
}
.km-link {
	color: #6B1C9B;
	text-decoration: underline;
}
.mtb-10 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.fixed-bottom {
	position: fixed;
    z-index: 99999;
    bottom: 0;
    left: 0;
    right: 0;
}

section {
	text-align: center;
	padding: 60px 0;
}

/* MENÚ */
.bg-transparent {
	background-color: transparent;
	transition: background-color .5s ease 0s;
}
.bg-white {
	background-color: white;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	height: 68px;
	transition: background-color .5s ease 0s;
}
.navbar {
	padding-top: 30px;
	min-height: 60px;
	z-index: 4;
}
.navbar .container {
	position: relative;
}
.navbar-brand {
	padding: 0;
}
.navbar-brand>img {
	position: relative;
	top: 0;
}
.nav>li>a {
	line-height: 100%!important;
    text-align: left;
}
.navbar-nav>li>a {
    line-height: 100%!important;
}
.nav>li>a:hover {
	background-color: transparent;
}
.nav>li>a.km-btn-primary:hover {
	background-color: #33e1be;
}
.navbar-toggle {
	margin-top: 0px;
	margin-right: 0px;
}
.nav-login {
	color: white;
	position: absolute;
	top: -20px;
	right: 0;
}
.nav-login {
	list-style-type: none;
}
.nav-login li {
	display: inline-block;
}
.nav-login li a {
	color: white;
	font-size: 10px;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	letter-spacing: 1px;
	cursor: pointer;
}
.nav-login li a:hover {
	color: #33E1BE!important;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
}
.navbar-right {
	padding-top: 3px;
}
.logo-img-mobile {
	height: 30px;
}
.km-nav-link {
	font-family: 'Gotham-Pro-Medium', arial, sans-serif;
	color: white;
	font-size: 12px;
	text-align: center;
	text-decoration: none;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	letter-spacing: 1px;
}
.km-nav-link:hover {
	color: #33E1BE!important;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	text-decoration: none;
}
.datepicker--day-name {
	color: #6B1C9B;
	font-weight: 700;
}
/* FIN MENÚ */



/* SECCIÓN 1 - KMIMOS VIDEOS */
.km-video {
	position: relative;
	height: 550px;
}
.km-credibilidad {
	margin-top: -270px;
}
.km-credibilidad-titular {
	color: white;
	margin: auto;
	text-align: center;
}
.km-credibilidad-titular p {
	letter-spacing: 1px
}
.km-credibilidad-titular h2 {
	color: white;
}
.km-video-bg {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	z-index: -100;
}
.km-video-bgscreen {
	position: absolute;
	top: 50%;
	left: 50%;
	width: auto;
	height: auto;
	min-width: 100%;
	min-height: 100%;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
}
.km-formulario-cuidador {
	background-color: white;
	height: auto;
	margin: auto;
	margin-top: 20px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
	padding: 30px 50px;
	width: 100%;
	max-width: 1012px;
}
.km-formulario-cuidador select {
	border: 1px solid #e5e5e5;
	color: black;
	font-size: 11px;
	letter-spacing: 1px;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	cursor: pointer;
	width: 100%;
	padding: 14px;
	border-radius: 8px;
}
.km-select-wrapper {
	position: relative;
	display: inline-block;
	padding: 14px;
	margin: 0;
	overflow: hidden;
	width: 100%;
	border: 1px solid black;
	border-radius: 8px;
	background-color: white;
}
.km-select-wrapper:after {
	content: url(../images/new/km-arrow-form.svg);
	width: 15px;
	height: 15px;
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -7.5px;
	right: 5px;
	overflow: hidden;
	color: red;
	z-index: 10;
	pointer-events: none;
	overflow: hidden;
}
.km-select-select {
	appearance: none;
	position: relative;
	margin: 0;
	border-radious: 0;
	border: none;
	width: 104%;
}
.km-opcion {
	border: 1px solid #e5e5e5;
	border-radius: 8px;
	padding: 14px 0;
	color: black;
	font-size: 11px;
	letter-spacing: 1px;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	position: relative;
	cursor: pointer;
	width: 100%;
	text-align: center;
}
.km-opcion input{
	display: none;
}
.km-opcion:before {
	content: "";
	border-top: 6px solid #fff;
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
	border-radius: 8px;
	left: 0;
	right: 0;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
}
.km-opcionactivo {
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
}
.km-opcionactivo:before {
	border-color: #33e1be;
	top: -1px;
}
.km-formulario-cuidador img {
	position: relative;
	margin-right: 6px;
	width: 25px;
	top: -3px;
}
.km-opcion-text {
	display: inline-block;
	text-align: left;
	line-height: 1.3;
	vertical-align: middle;
}
.km-servicios .col-sm-3, .km-fechas .col-sm-6, .km-fechas .col-sm-3,.km-tamanio .col-sm-3, .km-servicios-adicionales .col-sm-3 {
	padding-right: 5px;
	padding-left: 5px;
}
.km-fechas input {
	width: 100%;
	padding: 14px 0px 14px 50px;
	border: 1px solid #e5e5e5;
	border-radius: 8px;
	margin: 0;
	background: white;
	background-image: url(../images/new/icon/icon-calendario.svg);
	background-repeat: no-repeat;
	background-position: 20px center!important;
}
.km-fechas input::-webkit-input-placeholder {
	color: #000!important;
	font-size: 11px!important;
	letter-spacing: 1px!important;
	-webkit-transform: translateY(0px)!important;
			transform: translateY(0px)!important;
}
.km-fechas input::-webkit-input-placeholder {
	color: #000!important;
	font-size: 11px!important;
	letter-spacing: 1px!important;
	-webkit-transform: translateY(0px)!important;
			transform: translateY(0px)!important;
}
.km-fechas input::-webkit-input-placeholder {
	color: #000!important;
	font-size: 11px!important;
	letter-spacing: 1px!important;
	-webkit-transform: translateY(0px)!important;
			transform: translateY(0px)!important;
}
.km-fechas input::-webkit-input-placeholder {
	color: #000!important;
	font-size: 11px!important;
	letter-spacing: 1px!important;
	-webkit-transform: translateY(0px)!important;
			transform: translateY(0px)!important;
}
.km-fechas {
	background-position: 20px;
}
.icon_left{
    position: absolute !important;
    left: 13px !important;
    top: 12px !important;
    width: 17px !important;
}
.km-servicios-adicionales {
	margin-top: 30px;
}
.dnone {
	display: none;
}
.diblock {
	display: inline-block;
}
.dblock {
	display: block;
}
/* FIN SECCIÓN 1 - KMIMOS VIDEOS */





/* SECCIÓN 2 - KMIMOS BENEFICIOS */
.km-beneficios {
	text-align: center;
	margin: 60px 0;
}
.km-bn-img {
	width: 120px;
	height: 120px;
	background-color: grey;
	margin: auto;
}
.km-beneficios .col-xs-12 {
	margin-bottom: 20px;
}
.km-beneficios h4 {
	margin-bottom: 40px;
}
.km-beneficios-text {
	margin-top: 30px;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0,0,0,.5);
	z-index: 2;
}
.km-beneficios-icon {
	text-align: center;
}
.km-beneficios-icon img {
	width: 100%;
	max-width: 120px;
}






/* SECCIÓN  - KMIMOS TESTIMONIALES */
.km-testimoniales {
	color: white;
	height: 600px;
	text-align: center;
	position: relative;
}
.km-testimoniales .bxslider li {
	background-repeat: no-repeat;
	background-size: cover;
	height: 600px;
	background-color: black;
	overflow: hidden;
	position: relative;
}
.km-testimoniales .bxslider li video{
	position: absolute;
	top: 50%;
	left: 50%;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: 100%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	display: none;
}
.km-testimoniales .bx-controls-direction {
	display: none;
}
.bx-controls.bx-has-controls-direction.bx-has-pager {
    position: relative;
}
.km-testimonial-text {
	margin: auto;
	position: relative;
	z-index: 2;
	margin-top: 250px;
	width: 100%;
	max-width: 650px;
	top: 40%;
	letter-spacing: 1px;
}
.km-testimonial {
	font-family: 'Poetsen';
	font-size: 22px;
	margin: 30px 0 20px;
	padding: 0px 10px;
}
.km-video-testimonial {
	margin: auto;
	width: 55px;
	height: 55px;
}
.km-video-testimonial a img {
	transition: all .3s ease-in-out;
}
.km-video-testimonial a:hover img {
	transition: all .3s ease-in-out;
	transform: scale(1.3);
}
.bx-wrapper .bx-pager {
	z-index: 2;
}
.bx-wrapper .bx-pager a img {
	border-radius: 45px;
}
.bx-wrapper .bx-pager a {
	border: solid #ffffff 3px;
	display: block;
	margin: 0 15px;
	border-radius: 45px;
}
.bx-wrapper .bx-pager a:hover,
.bx-wrapper .bx-pager a.active {
	border: solid #33e1be 3px;
	border-radius: 45px;
}
.bx-wrapper {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
	margin: 0;
	height: 200px !important;
}
.km-autor {
	font-size: 13px;
	font-family: 'Gotham-Pro-Bold',arial,sans-serif;
}
.img-testimoniales {
position: absolute;
	margin: 0px;
	padding: 0px;
	border: none;
	width: 100%;
	height: 600px;
	max-height: none;
	max-width: none;
	z-index: 1;
	top: 0px;
	object-fit: cover;
}



/* SECCIÓN  - KMIMOS CLUB */
.km-club {
	margin: 150px 0 100px;
}
.km-club .col-sm-6 {
	text-align: center;
}
.km-club .col-sm-6 h4 {
	margin-bottom: 0;
	font-weight: 700;
}
input::-webkit-input-placeholder, button {
	-moz-transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	font-weight: 400;
}
form {
	box-sizing: border-box;
	padding-bottom: 40px;
}
form h1 {
	box-sizing: border-box;
	padding: 20px;
}

input {
	-webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, black 4%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, black 4%);
	background-position: -768px 0;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin: 15px 0;
	width: 100%;
	display: block;
	border: none;
	padding: 17px 0 10px;
	border-bottom: solid 1px black;
}
input:focus{
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}
/*
input:focus::-webkit-input-placeholder {
  	color: #6B1C9B;
  	font-size: 13px;
  	-webkit-transform: translateY(-15px);
		  	transform: translateY(-15px);
  	visibility: visible !important;
  	font-family: 'Gotham-Pro-Regular', arial, sans-serif;
}

#buscador input:focus::-webkit-input-placeholder {
  	color: #6B1C9B;
  	font-size: 13px;
  	-webkit-transform: translateY(0px);
		  	transform: translateY(0px);
  	visibility: visible !important;
  	font-family: 'Gotham-Pro-Regular', arial, sans-serif;
}
*/




/* SECCIÓN  - KMIMOS VACACIONES */
.km-vacaciones {
	background: url(../images/new/km-vacaciones.gif) no-repeat;
	background-size: cover;
	background-position: center center;
	color: white;
	text-align: center;
	padding: 150px 0;
	height: 600px;
}
.km-vacaciones p, .km-vacaciones h2 {
	letter-spacing: 1px;
}
.km-vacaciones h2 {
	color: white;
}
.km-vacaciones a {
	width: 100%;
	background-color: white;
	padding: 10px 0;
	display: block;
	border-radius: 8px;
}
.km-vacaciones .col-sm-6 {
	margin: 20px 0;
}

/*POPUP SERVICIOS*/
#popup-servicios {
	text-align: center;
}
#popup-servicios .modal-dialog {
	width: 100%;
	padding: 10px;
	max-width: 850px;
}
#popup-servicios .modal-content {
	padding: 30px 50px;
}
#popup-servicios .km-opcion {
	padding: 20px 0;
}
#popup-servicios .km-btn-primary {
	line-height: 18px;
}
#popup-servicios .km-opcion img {
	    position: relative;
    margin-right: 6px;
    width: 25px;
    top: -3px;
}
button.close {
	position: absolute;
	right: -40px;
	top: 0;
	font-size: 40px;
	color: white;
	opacity: 1;
}
.close:hover {
	color: white;
}

.km-premium {
	margin: 30px 0 50px;
}
.km-premium .bx-wrapper {
	max-width: 100%!important;
}



/* SEARCH */
.header-search{
	width: 100%;
	height: 320px;
	background-size: cover;
	background-position: center;
	position: relative;
	z-index: -1;
}

.contentenedor-buscador-todos{
	margin-top: -138px;
}

.km-contentido-formulario-buscador{
	width: 100%;
	margin: 0 auto;
	max-width: 844px;
}

.km-formulario-buscador{
	padding-bottom: 0;
}

.km-bloque-cajas{
	height: 47px;
	background: #FFF;
	line-height: 47px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25);
	-moz-box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25);
	box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25);
}

.km-select-custom{
	position: relative;
	border: solid 1px #e5e5e5;
	#background-color: #FFF;
	background-size: 14px 13px;
	background-repeat: no-repeat;
	background-position: calc(100% - 9px) 50%;
	background-image: url(../images/new/km-arrow-form.svg);
	border-right: 1px solid rgba(0, 0, 0, .2);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	cursor: pointer;
	padding-left: 25px;
}

.km-select-custom input{
	border: 0px;
    background-image: none;
    padding: 0px 14px;
    margin: 0px;
    background: transparent;
    height: 47px;
}

div#ubicacion_list {
	display: none;
}

.km-select-custom input:focus ~ div#ubicacion_list,
div#ubicacion_list:hover
{
	display: block;
	overflow: auto;
    position: absolute;
    top: 43px;
    left: -1px;
    width: calc( 100% + 2px );
    max-height: 350px;
    background: #FFF;
    z-index: 999999;
    border: 1px solid #e5e5e5;
    padding: 10px;
    border-radius: 0px 0px 5px 5px;
}

div#ubicacion_list div {
    padding: 2px 10px;
    margin: 0;
    line-height: 17px;
    font-size: 12px;
}

div#ubicacion_list div:hover {
	background: #DDD;
}

.km-search-slider{
	margin-top: 0;
	margin-bottom: 30px;
}

.km-search-slider .km-search-title{
	font-size: 11px;
	line-height: 32px;
}

.km-search-slider .item-slide{
	width: 100%;
	color: #FFFFFF;
	min-height: 220px;
	position: relative;
}

.km-search-slider .item-slide .slide-mask{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	opacity: 0.7;
	position: absolute;
	background: #333333;
}

.km-search-slider .item-slide .slide-content{
	z-index: 1;
	display: block;
	min-height: 220px;
	position: relative;
	padding: 10px 15px;
}

.km-search-slider .item-slide .slide-content .slide-price-distance{
	text-align: right;
}

.km-search-slider .item-slide .slide-content .slide-price-distance .slide-price{
	font-size: 9px;
	line-height: 20px;
}

.km-search-slider .item-slide .slide-content .slide-profile{
	margin-top: 20px;
}

.km-search-slider .item-slide .slide-content .slide-profile .slide-profile-image{
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background-size: cover;
}

.km-search-slider .item-slide .slide-content .slide-name{
	padding: 10px 0 3px 0;
}

.km-search-slider .item-slide .slide-content .slide-expertice{
	font-size: 9px;
}

.km-search-slider .item-slide .slide-content .slide-ranking{
	padding: 10px 0 12px 0;
}

.km-search-slider .item-slide .slide-content .slide-ranking .km-ranking a{
	background-image: url(../images/new/icon/icon-hueso-yellow.svg);
}

.km-search-slider .item-slide .slide-content .slide-ranking .km-ranking a.active{
	background-image: url(../images/new/icon/icon-hueso-color-yellow.svg);
}

.km-search-slider .item-slide .slide-content .slide-buttons a{
	float: left;
	display: block;
	border: 1px solid #FFF;
	width: 49%;
	border-radius: 5px;
	text-align: center;
	color: #FFF;
	font-size: 10px;
	line-height: 25px;
}

.km-search-slider .item-slide .slide-content .slide-buttons a:last-child{
	float: right;
}

.km-search-slider .item-slide .slide-content .slide-buttons::after{
	clear: both;
	content: "";
	display: table;
}

.km-search-slider .item-slide .slide-content .slide-price-distance .slide-price span{
	font-size: 11px;
	font-family: 'Gotham-Pro-bold', arial, sans-serif;
}

.km-search-slider .item-slide .slide-content .slide-price-distance .slide-distance{
	font-size: 8px;
}

.km-btn-primary-new{
	background-color: transparent;
	border: 1px solid #7DD1C4;
	color: #6B1C9B;
	position: relative;
	float: left;
	border-radius: 8px;
	font-family: 'Gotham-Pro',arial,sans-serif;
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none;
	width: 100%;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	z-index: 1;

	padding: 0;
	height: 34px;
	line-height: 34px;
	font-size: 10px;
	font-weight: 300;
}

.km-opciones .km-btn-primary-new{
	margin-top: 9px;
}

.km-search-slider .bx-controls{
	display: none;
}

.km-btn-primary-new.basic,
.km-btn-primary-new:hover{
	color: #FFFFFF;
	border-color: #6B1C9B;
	background-color: #6B1C9B;
	text-decoration: none;
}

.km-btn-primary-new.basic:hover{
	text-decoration: underline;
}

.km-div-ubicacion{
	float: left;
	width: 42.890995%;
}

.km-div-fechas{
	float: left;
	width: 32.938389%;
}

.km-div-enviar{
	float: right;
	width: 24.170616%;
}

.km-div-ubicacion select{
	width: 100%;
	padding-left: 6.077348%;
	padding-right: 10.220994%;
}

.km-div-fechas:after{
	content: "";
	clear: both;
	display: table;
}

.km-input-custom{
	margin: 0;
	padding: 0;
	width: auto;
	border: none;
	color: #000000;
	background: #FFF;
	display: inline-block;
}
.km-input-custom::-webkit-input-placeholder {
	color: #000000!important;
	-webkit-transform: translateY(0px)!important;
			transform: translateY(0px)!important;
}
.km-input-custom::-moz-placeholder {
	color: #000000!important;
	-webkit-transform: translateY(0px)!important;
			transform: translateY(0px)!important;
}
.km-input-custom:-ms-input-placeholder {
	color: #000000!important;
	-webkit-transform: translateY(0px)!important;
			transform: translateY(0px)!important;
}
.km-input-custom:-moz-placeholder {
	color: #000000!important;
	-webkit-transform: translateY(0px)!important;
			transform: translateY(0px)!important;
}

.km-div-fechas .date_from {
	width: 50%;
	padding-left: 15px;
	padding-right: 15px;
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	background-image: url(../images/new/icon/icon-calendario.svg)!important;
}

.km-div-fechas .date_to{
	width: 50%;
	padding-left: 15px;
	padding-right: 15px;
	background-image: url(../images/new/icon/icon-calendario.svg);
}

.km-submit-custom{
	margin: 0;
	padding: 0;
	width: 100%;
	border: none;
	height: 100%;
	display: block;
	color: #6B1C9B;
	background: #7DD1C4;

	-webkit-border-radius: 0px 6px 6px 0px;
	-moz-border-radius: 0px 6px 6px 0px;
	border-radius: 0px 6px 6px 0px;

	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
}

.km-div-fechas .km-input-custom{
	float: left;
	background-size: 16px 17px;
	background-repeat: no-repeat;
	background-position: calc(100% - 18px) 50%;
}

.km-div-filtro{
	padding-top: 41px;
}

.km-div-filtro .km-titulo-filtro{
	color: #FFFFFF;
	font-size: 11px;
	font-family: 'Gotham-Pro-Medium',arial,sans-serif;
	padding-bottom: 15px;
	letter-spacing: 1px;
}

.km-cajas-filtro::after{
	content: "";
	clear: both;
	display: table;
}

.km-cajas-filtro .km-caja-filtro{
	float: left;
	height: 38px;
	width: 23%;
	line-height: 38px;
	margin-right: 2.666666%;
}

.km-cajas-filtro .km-caja-filtro:last-child{
	margin-right: 0%;
}

.km-cajas-filtro .km-caja-filtro select,
.km-cajas-filtro .km-caja-filtro input{
	width: 100%;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	font-size: 10px;
	letter-spacing: 1px;
	padding-left: 7%;
	-webkit-box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25);
	-moz-box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25);
	box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25);
}

.km-cajas-filtro .km-caja-filtro input{
	background-size: 18px;
	background-repeat: no-repeat;
	background-position: 92% 50%;
	background-image: url(../images/new/km-buscador.svg);
	padding-right: 18%;
}

.km-cajas-filtro .km-input-custom::-webkit-input-placeholder {
	font-size: 10px!important;
}
.km-cajas-filtro .km-input-custom::-moz-placeholder {
	font-size: 10px!important;
}
.km-cajas-filtro .km-input-custom:-ms-input-placeholder {
	font-size: 10px!important;
}
.km-cajas-filtro .km-input-custom:-moz-placeholder {
	font-size: 10px!important;
}

.km-caja-resultados{
	padding-top: 41px;
	padding-bottom: 20px;
	position: relative;
}

.km-caja-resultados::after{
	content: "";
	clear: both;
	display: table;
}

.km-caja-resultados .km-columna-izq{
	float: left;
	width: 58.528428%;
}

.km-caja-resultados .km-columna-der{
	float: right;
	width: 38.879599%;
}

.km-superior-resultados::after,
.km-opciones-resultados::after{
	content: "";
	display: table;
	clear: both;
}

.km-opciones-resultados{
	float: right;
	/*width: 215px;*/
}

.km-texto-resultados{
	float: left;
	margin-top: 7px;
}

.km-opciones-resultados .km-orden-resultados{
	float: right;
}

.km-opciones-resultados .km-orden-resultados select{
	width: 173px;
	font-size: 10px;
	padding-left: 7%;
	line-height: 30px;
	border: 1px solid rgba(0, 0, 0, .2);

	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
			border-radius: 6px;
}

.km-opciones-resultados .km-vista-resultados{
	float: left;
	margin-top: 10.5px;
}

.km-opciones-resultados .km-vista-resultados::after{
	clear: both;
	content: "";
	display: table;
}

.km-opciones-resultados .km-vista-resultados a{
	float: left;
	width: 9px;
	height: 9px;
	overflow: hidden;
	background-size: 9px;
	text-indent: -9999px;
	display: inline-block;
	background-position: center;
}

.km-opciones-resultados .km-vista-resultados a:last-child{
	margin-left: 8px;
}

.km-opciones-resultados .km-vista-resultados .view-list{
	background-image: url(../images/new/icon/icon-view-list.svg);
}

.km-opciones-resultados .km-vista-resultados .view-grid{
	background-image: url(../images/new/icon/icon-view-grid.svg);
}

.km-opciones-resultados .km-vista-resultados .view-list:hover,
.km-opciones-resultados .km-vista-resultados .view-list.active{
	background-image: url(../images/new/icon/icon-view-list-hover.svg);
}

.km-opciones-resultados .km-vista-resultados .view-grid:hover,
.km-opciones-resultados .km-vista-resultados .view-grid.active{
	background-image: url(../images/new/icon/icon-view-grid-hover.svg);
}

.km-item-resultado::after{
	content: "";
	clear: both;
	display: table;
}

.km-resultados-lista .km-item-resultado .km-foto,
.km-resultados-lista .km-item-resultado .km-descripcion,
.km-resultados-lista .km-item-resultado .km-opciones{
	float: left;
}

.km-resultados-lista .km-item-resultado .km-foto{
	width: 32.285714%;
}

.km-resultados-lista .km-item-resultado .km-descripcion{
	width: 61.675127%;
}

.km-resultados-lista .km-item-resultado .km-opciones{
	width: 38.324873%;
}

.km-item-resultado{
	margin: 18px 0 36px;

	-webkit-box-shadow: 0 4px 4px 0 rgba(0,0,0,0.10);
	-moz-box-shadow: 0 4px 4px 0 rgba(0,0,0,0.10);
	box-shadow: 0 4px 4px 0 rgba(0,0,0,0.10);
}

.km-foto{
	position: relative;
}

.km-item-resultado.active .km-foto::before{
	content: "";
	top: 0;
	left: 0;
	bottom: 0;
	width: 5px;
	z-index: 2;
	background: #7DD1C4;
	position: absolute;
}

.km-foto img{
	width: 100%;
	position: relative;
}

.km-foto .km-contenedor-favorito{
	top: 0;
	right: 0;
	width: 53px;
	height: 53px;
	position: absolute;
	background-image: url(../images/new/bg-foto-resultados.png);
}

.km-foto .km-contenedor-favorito a{
	top: 8px;
	right: 8px;
	width: 16px;
	height: 15px;
	position: absolute;
	background: url(../images/new/icon/icon-favorito.png) no-repeat center center;
}

.km-foto .km-contenedor-favorito a:hover,
.km-foto .km-contenedor-favorito a.active{
	background-image: url(../images/new/icon/icon-favorito-color.png);
}

.km-ranking::after{
	content: "";
	clear: both;
	display: table;
}

.km-ranking a{
	float: left;
	width: 20px;
	height: 9px;
	background: url(../images/new/icon/icon-hueso.svg) no-repeat center center;
	background-size: 20px 9px;
}

.km-ranking a.active{
	background-image: url(../images/new/icon/icon-hueso-color.svg);
}

.km-contenedor-descripcion-opciones::after{
	content: "";
	clear: both;
	display: table;
}

.km-contenedor-descripcion-opciones{
	float: right;
	width: 67.714286%;
}
.km-descripcion{
	padding-top: 12px;
	padding-left: 16px;
}

.km-descripcion h1{
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: 'Gotham-Pro-Bold',arial,sans-serif;
}

.km-descripcion p{
	margin: 0;
	padding: 5px 0;
	font-size: 10px;
}

.km-sellos{
	padding-top: 36px;
}

.km-opciones{
	padding-top: 20px;
	padding-bottom: 10px;
	padding-right: 3%;
	text-align: right;
}

.km-opciones .km-btn-primary{
	margin-top: 9px;
}

.km-opciones .km-btn-primary.basic,
.km-opciones .km-btn-primary.stroke{
	padding: 0;
	height: 34px;
	line-height: 34px;
	font-size: 10px;
}

.km-opciones .km-btn-primary.stroke{
	font-weight: 400;
	border: 1px solid #7DD1C4;
}

.km-opciones .km-btn-primary:hover{
	text-decoration: none;
}

.km-opciones .precio{
	color: #6A2499;
	font-size: 17px;
}

.km-opciones .distancia{
	font-size: 10px;
	margin-bottom: 10px;
}

.km-caja-resultados .km-columna-der.mapAbsolute {
    position: absolute;
    margin-top: 41px;
    right: 0;
}

.km-titulo-mapa{
	font-size: 12px;
	line-height: 32px;
}

.km-resultados-grid::after {
    content:"";
    display:block;
    clear:both
}
.km-resultados-grid .km-item-resultado {
    float:left;
    width:31.333333%;
    margin-bottom:9px;
    -webkit-box-shadow:0 4px 4px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow:0 4px 4px 0 rgba(0, 0, 0, .1);
    box-shadow:0 4px 4px 0 rgba(0, 0, 0, .1)
}
.km-resultados-grid .km-item-resultado {
    margin-right:3%
}
.km-resultados-grid .km-item-resultado:nth-child(3n) {
    margin-right:0
}
.km-resultados-grid .km-item-resultado .km-descripcion {
	position: relative;
    padding:10px 16px;
    min-height:175px;
}
.km-resultados-grid .km-item-resultado .km-descripcion .km-sellos {
    padding-top:15px
}
.km-resultados-grid .km-item-resultado .km-descripcion .km-buttons::after {
    content:"";
    clear:both;
    display:table
}
.km-resultados-grid .km-item-resultado .km-descripcion .km-buttons a {
    float:left;
    width:49%;
    font-size:10px;
    text-align:center;
    display:block;
    border:1px solid #7dd1c4;
    line-height:31px;
    border-radius:5px;
    color:#7dd1c4
}
.km-resultados-grid .km-item-resultado .km-descripcion .km-buttons {
    padding-top:15px;

    position: absolute;
    left: 0px;
    bottom: 5px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}
.km-resultados-grid .km-item-resultado .km-descripcion .km-buttons a:last-child {
    float:right
}
.km-resultados-grid .km-item-resultado .km-descripcion .km-buttons a.active, .km-resultados-grid .km-item-resultado .km-descripcion .km-buttons a:hover {
    background:#7dd1c4;
    color:#fff
}











/* KM FICHA CUIDADOR */
.showMap{
	display: block!important;
}

.km-map-close{
	display: none;
}

.km-ficha-bg {
	width: 100%;
	height: 235px;
	background-size: cover;
	background-position: center;
	position: relative;
	z-index: -1;
}

.km-ficha-info-cuidador {
	margin-top: -70px;
}
.km-ficha-info-cuidador .container {
	position: relative;
}
.km-ficha-info-cuidador .col-sm-6 {
	margin-top: 80px;
}
.km-ficha-info-cuidador .km-ranking {
	display: inline-block;
}
.km-ficha-info-cuidador .km-ranking a {
    width: 35px;
    height: 30px;
    background-size: 30px 30px;
}
.km-ficha-info-cuidador .km-ficha-cuidador {
    text-align: center;
    background-size: contain;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
}
.km-ficha-info-cuidador .km-ficha-cuidador img {
	max-width: 200px;
}
.banner-servicio img {
	width: 100%;
}
.km-ficha-info {
	margin-top: 20px;
}
.km-tit-cuidador {
	font-family: 'Gotham-Pro-Bold';
	font-size: 30px;
}
.km-link-comentarios {
	font-size: 10px;
	color: rgb(142, 142, 142);
	text-decoration: underline;
	display: inline-block;
	height: 30px;
    vertical-align: middle;
}
.km-tit-ficha {
	font-size: 13px;
    font-family: 'Gotham-Pro-Bold';
    margin: 5px 0px;
}
.km-ficha-fechas {
	margin-bottom: 10px;
}
.km-ficha-fechas input {
    width: 48%;
    padding: 14px 0px 14px 40px;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    margin: 0;
    display: inline-block;
    background: white;
    background-image: url(../images/new/icon/icon-calendario.svg);
    background-repeat: no-repeat;
    background-position: 15px center!important;
}
.km-ficha-fechas input::-webkit-input-placeholder {
	color: #000!important;
	font-size: 11px!important;
	letter-spacing: 1px!important;
	-webkit-transform: translateY(0px)!important;
			transform: translateY(0px)!important;
}
.km-ficha-fechas input::-webkit-input-placeholder {
	color: #000!important;
	font-size: 11px!important;
	letter-spacing: 1px!important;
	-webkit-transform: translateY(0px)!important;
			transform: translateY(0px)!important;
}
.km-ficha-fechas input::-webkit-input-placeholder {
	color: #000!important;
	font-size: 11px!important;
	letter-spacing: 1px!important;
	-webkit-transform: translateY(0px)!important;
			transform: translateY(0px)!important;
}
.km-ficha-fechas input::-webkit-input-placeholder {
	color: #000!important;
	font-size: 11px!important;
	letter-spacing: 1px!important;
	-webkit-transform: translateY(0px)!important;
			transform: translateY(0px)!important;
}



.km-galeria-cuidador .bx-wrapper {
	max-width: 100%!important;
}
.km-ficha-servicio {
	background-color: #fafafa;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
	padding: 10px;
	margin-bottom: 30px;
	width: 100%;
}
.km-ficha-servicio .servicio-tit {
	color: #6B1C9B;
	margin-bottom: 10px;
}
.km-ficha-servicio .servicio-tit img, .km-ficha-servicio .servicio-tit div {
	display: inline-block;
	vertical-align: middle;
}
.km-ficha-servicio .servicio-tit div {
	margin-left: 10px;
}
.km-servicio-opcion {
	border: 1px solid #e5e5e5;
	border-radius: 8px;
	padding: 14px 0;
	color: #929292;
	font-size: 11px;
	letter-spacing: 1px;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	position: relative;
	cursor: pointer;
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}
.km-servicio-opcion:before {
	content: "";
	border-top: 6px solid #fafafa;
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
	border-radius: 8px;
	left: 0;
	right: 0;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
}
.km-servicio-opcion_productos {
	border: 1px solid #e5e5e5;
	border-radius: 8px;
	padding: 14px 0;
	color: #929292;
	font-size: 11px;
	letter-spacing: 1px;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	position: relative;
	cursor: pointer;
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}
.km-servicio-opcion_productos:before {
	content: "";
	border-top: 6px solid #fafafa;
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
	border-radius: 8px;
	left: 0;
	right: 0;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
}
.km-servicio-opcionactivo {
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	color: black;
}
.km-servicio-opcionactivo:before {
	border-color: #33e1be;
	top: -1px;
}
.km-servicio-opcion img {
	width: 25px;
}
.km-servicio-opcion .km-servicio-desc {
	display: inline-block;
	width: 66%;
}
.km-servicio-opcion .km-servicio-costo {
	display: inline-block;
	width: 30%;
}



.km-review {
	text-align: center;
}
.km-review-categoria {
	margin-bottom: 30px;
}
.km-review-categoria .km-ranking a {
    width: 18px;
    background-size: 16px 9px;
}
.km-review-categoria p {
	font-family: 'Gotham-Pro-Medium';
	font-size: 11px;
	margin-bottom: 0;
}
.km-calificacion {
	display: inline-block;
    font-size: 70px;
    font-family: 'Gotham-Pro-Bold';
    line-height: 100%;
}
.km-calificacion-icono {
	display: inline-block;
    text-align: left;
    margin-left: 20px;
    vertical-align: baseline;
}
.km-comentario {
	margin-top: 30px;
	border-bottom: 1px solid #929292;
}
.km-comentario p{
	text-align: justify;
}
.km-comentario:last-child {
	border: none;
}
.km-comentario .col-xs-2 {
	padding-right: 0;
}
.km-comentario .col-xs-2 .km-foto-comentario-cuidador {
	border-radius: 100%;
    width: 100%;
    height: 80px;
    background-position: center;
    background-size: cover;
}

a.km-btn-comentario {
	height: 45px;
    border: 1px solid black;
    border-radius: 8px;
    line-height: 45px;
    font-family: 'Gotham-Pro-Bold';
    text-align: center;
    display: block;
    color: black;
    margin: 20px 0;
}
.km-desc-ficha-text {
	margin: 10px 0 20px;
}
.km-desc-ficha-text img {
	display: inline-block;
	vertical-align: baseline;
	margin-right: 10px;
}
.km-desc-ficha-text .km-desc-ficha {
	display: inline-block;
}
.km-desc-ficha p:first-child {
	font-size: 9px;
	margin: 0;
}
.km-desc-ficha p:last-child {
	font-size: 11px;
	margin: 0;
	text-transform: uppercase;
}
.km-costo {
	background-color: white;
	position: absolute;
	top: 0;
	right: 0;
    padding: 10px 20px;
	width: 300px;
}
.km-costo p {
	padding-top: 10px;
	margin: 0;
}
.km-tit-costo {
    font-size: 28px;
    font-family: 'Gotham-Pro-Bold';
}


/* SECCIÓN MEDIOS */
.km-medios {
	text-align: center;
	padding: 40px 0;
}
.km-medios h4 {
	margin-bottom: 40px;
}
.km-medios img {
	width: 100%;
	max-width: 230px;
}
/* FIN SECCIÓN MEDIOS */


/* SECCIÓN REGISTRO CUIDADOR */
.km-registro-exitoso {
	background: url(../images/new/km-registro/registro-exitoso.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 750px;
    position: absolute;
}
.km-registro-exitoso-text {
    z-index: 3;
    position: relative;
    color: white;
}



/* PÁGINA QUIERO SER CUIDADOR */
.km-hero-bg {
	width: 100%;
	height: 550px;
	background-size: cover;
	background-position: center;
	position: relative;
	z-index: 1;
}
.km-titular-cuidador {
	color: white;
    position: relative;
    text-align: center;
    top: 270px;
    z-index: 4;
}
.km-titular-cuidador h2{
	color: white;
}
/* SECCIÓN CÓMO SER CUIDADOR */
.km-comosoycuidador {
	background-color: #6B1C9B;
	color: white;
}
.km-comosoycuidador h4 {
	color: white;
}
/* FIN SECCIÓN CÓMO SER CUIDADOR */
/* POPUPS REGISTRO */
#popup-registro-cuidador1 .modal-content {
	padding: 40px 20px;
}
/* FIN POPUPS REGISTRO */
/* FIN PÁGINA QUIERO SER CUIDADOR */



/* SECCIÓN FOOTER */
footer {
	background-color: #f5f5f5;
	padding: 50px 0;
}
footer input.form-control {
	background-color: #f5f5f5;
	height: 42px;
	margin: 0;
}
footer input:focus::-webkit-input-placeholder, footer input:valid::-webkit-input-placeholder {
  color: #ccc;
  font-size: 13px;
  -webkit-transform: translateY(0px);
		  transform: translateY(0px);
  visibility: visible !important;
  font-family: 'Gotham-Pro-Regular', arial, sans-serif;
}
footer .btn {
	background-color: #7DD1C4;
	color: #6B1C9B;
	font-family: 'Gotham-Pro-Bold';
	padding: 10px 25px;
}
footer .input-group {
	width: 90%;
}
footer a {
	color: black;
}
footer .km-icon-redes {
	display: inline-block;
	height: 25px;
	width: 25px;
	margin-right: 10px;
}
footer input{
	outline: none !important;
	box-shadow: 0px 0px 0px #000 !important;
	background-color: #f5f5f5 !important;
}
footer input:focus{
	background-color: #f5f5f5 !important;
}
/* FIN SECCIÓN FOOTER */






















/* RESPONSIVE */
@media (max-width: 1200px) {
	/* PÁGINA FICHA CUIDADOR */
	.km-costo {
		width: 250px;
	}
	/* FIN PÁGINA FICHA CUIDADOR */
}
@media (max-width: 991px) and (min-width: 768px) {
	.km-opcion {
		height: 70px;
	}
	/* PÁGINA FICHA CUIDADOR */
	.km-costo {
		width: 200px;
	}
	/* FIN PÁGINA FICHA CUIDADOR */
	.km-ficha-fechas input {
		width: 100%;
		display: block;
	}
}
@media (max-width: 900px) {
	button.close {
		right: 10px;
		color: black;
	}
	button.close:hover {
		color: black;
	}
}
@media (min-width: 767px) {


	.km-opcion:hover:before {
		border-top: 6px solid #33e1be;
		top: -1px;
	}
	/* HOME */

	/* FIN HOME */

	/* FOOTER */
	footer .km-icon-redes svg {
		transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	}
	footer .km-icon-redes svg:hover {
		fill: #7DD1C4;
	}
	/* FIN FOOTER */
}
@media (min-width: 410px) {
	.km-ficha-datos br {
		display: none;
	}
}
@media (max-width: 767px) {

	#popup-servicios .km-opcion {
		text-align: left;
	}

	#popup-servicios .km-opcion {
	    padding: 10px 10px 5px;
	}

	.km-select-custom input:focus ~ div#ubicacion_list,
	div#ubicacion_list:hover
	{
	    max-height: 250px;
	    font-size: 10px;
	}

	.bx-wrapper .bx-prev, .bx-wrapper .bx-next {
		display: none;
	}
	h2 {
		font-size: 35px;
	}
	h4 {
		line-height: 24px;
	}
	p {
		line-height: 15px;
	}
	section {
		text-align: left;
	}
	.h5-sub {
		font-size: 9px;
	}
	.bg-white {
		height: 60px;
	}
	.navbar-brand>img {
		height: 40px!important;
		padding-left: 15px;
		top: 5px;
	}
	.navbar {
		padding-top: 30px!important;
	}
	.navbar-header {
		margin-top: -22px;
	}
	.navbar-nav {
		margin: 0px -15px;
	}
	.nav>li {
		background: white;
	}
	ul.navbar-right li:last-child {
		padding-left: 10px;
		padding-right: 10px;
		background-color: white;
		display: flex;
		padding-bottom: 10px;
	}
	.km-nav-link {
		color: black;
	}
	.nav .principal {
		float: none;
		margin: 0 auto;
	}
	.km-video {
		height: 500px;
	}
	.km-servicios .km-opcion {
		text-align: left;
		padding-left: 20px;
	}
	.km-credibilidad-titular {
		text-align: left;
	}
	.km-servicios .col-sm-3, .km-tamanio .col-sm-3, .km-fechas .col-sm-3, .km-fechas .col-sm-6 {
		margin-bottom: 10px;
	}
	.km-cuidador .container {
		padding-left: 0;
		padding-right: 0;
	}
	.km-cuidador .km-formulario-cuidador {
		border-radius: 0;
		box-shadow: none;
		padding: 30px 30px;
	}
	/* SECCIÓN 2 - KMIMOS BENEFICIOS */
	.km-beneficios {
		text-align: left;
		margin: 20px 0;
	}
	.km-beneficios-text {
		margin-top: 0px;
	}
	/* SECCIÓN 2 - KMIMOS CLUB */
	.km-club .col-sm-6:nth-child(2) {
		margin-top: 20px;
	}
	.km-club .col-sm-3 {
		text-align: center;
	}
	.km-club .col-sm-3 h4 span{
		display: block;
	}
	.km-club .col-sm-6 {
		text-align: left;
	}
	.km-video-bg {
		background: url('../videos/km-home/km-video-mobile.gif') center -40px / cover no-repeat;
	}
	.km-video-bgscreen {
		display: none;
	}
	#popup-servicios br {
		display: none;
	}
	.km-servicios-adicionales .col-sm-3 {
		margin-bottom: 10px;
	}
	#popup-servicios .modal-dialog {
		width: auto;
		padding: 0;
	}
	/* TESTIMONIALES */
	.km-testimonial-text {
		margin-top: 80px;
	}
	.km-testimonial {
		font-size: 18px;
	}
	.km-testimoniales {
		height: 500px;
	}
	.km-testimoniales .bx-wrapper img {
		width: 100%!important;
	}
	.km-testimoniales .bx-viewport, .km-testimoniales .bxslider li{
		height: 400px;
	}



	.km-vacaciones {
		padding: 100px 0;
		height: 500px;
	}
	.km-club {
		margin-top: 0;
	}
	.km-club form {
		padding-bottom: 0;
	}
	.km-premium-slider .slide {
		width: 277px!important;
	}

	/* PÁGINA FICHA CUIDADOR */
	.km-costo {
		width: 200px;
	}
	.km-ficha-info-cuidador {
		text-align: center;
	}
	.km-ficha-info-cuidador .col-sm-6 {
		margin-top: 30px;
	}
	.km-ficha-bg {
	    height: 170px;
	}
	.km-ficha-info-cuidador {
		margin-bottom: 10px;
	}
	.km-ficha-info .nav-tabs {
		margin-bottom: 20px;
		border-bottom: 2px solid #afafaf;
	}
	.km-ficha-info .nav-tabs>li.active>a, .km-ficha-info .nav-tabs>li.active>a:focus, .km-ficha-info .nav-tabs>li.active>a:hover {
	    color: black;
	    cursor: pointer;
	    background-color: #fff;
	    border: transparent;
	    font-family: 'Gotham-Pro-Bold';
	    border-bottom: 4px solid black;
	}
	.km-ficha-info .nav-tabs>li>a, .km-ficha-info .nav-tabs>li>a:focus, .km-ficha-info .nav-tabs>li>a:hover {
		color: #afafaf;
	    cursor: pointer;
	    background-color: #fff;
	    border: transparent;
	    font-family: 'Gotham-Pro-Light';
	}
	/* FIN PÁGINA FICHA CUIDADOR */

	/* PÁGINA QUIERO SER CUIDADOR */
	.km-hero-bg {
		height: 400px;
	}
	.km-titular-cuidador {
	    text-align: left;
	    top: 160px;
	}
	.km-titular-cuidador .km-btn, .km-comosoycuidador .km-btn-borderw {
		margin: 20px 0 0;
	}
	/* FIN PÁGINA QUIERO SER CUIDADOR */

	/* SECCIÓN FOOTER */
	footer .btn {
		padding: 10px;
	}
	footer .input-group {
		width: 100%;
	}
	footer .row .col-xs-12:nth-child(2) {
		margin: 30px 0;
	}
	/* FIN SECCIÓN FOOTER */
}
@media (max-width: 480px) {
	.bx-wrapper .bx-pager a {
		margin: 0 8px;
	}
}


@media all and (max-width: 991px) {
	.km-caja-resultados .km-columna-izq,
	.km-caja-resultados .km-columna-der{
		float: none;
		width: 100%;
	}

	.km-caja-resultados .km-columna-der{
	}
}

@media all and (max-width: 724px) {
	.header-search{
		height: 175px;
	}

	.contentenedor-buscador-todos{
		margin-top: -95px;
	}

	.km-bloque-cajas{
		height: auto;
	}

	.km-div-ubicacion,
	.km-div-fechas,
	.km-div-enviar{
		float: none;
		width: 100%;
	}

	.km-select-custom{
		
	}

	.km-submit-custom{
		-webkit-border-radius: 0px 0px 6px 6px;
		-moz-border-radius: 0px 0px 6px 6px;
		border-radius: 0px 0px 6px 6px;
	}

	.km-div-filtro{
		padding-top: 21px;
	}

	.km-cajas-filtro .km-caja-filtro{
		width: 48.666666%;
	}

	.km-cajas-filtro .km-caja-filtro:nth-child(2){
		margin-right: 0;
		margin-bottom: 2%;
	}

	.km-div-filtro .km-titulo-filtro{
		color: #000000;
	}
}

@media all and (max-width:629px) {
    .km-resultados-grid .km-item-resultado {
        width:48%
    }
    .km-resultados-grid .km-item-resultado:nth-child(2n) {
        margin-right:0
    }
    .km-resultados-grid .km-item-resultado:nth-child(3n) {
        margin-right:3%
    }
}
@media all and (max-width:427px) {
    .km-resultados-grid .km-item-resultado {
        width:100%
    }
    .km-resultados-grid .km-item-resultado {
        margin-right:0
    }
    .km-resultados-grid .km-item-resultado:nth-child(2n) {
        margin-right:0
    }
    .km-resultados-grid .km-item-resultado:nth-child(3n) {
        margin-right:0
    }
}

@media all and (max-width: 629px) {
	.km-resultados-lista .km-item-resultado .km-foto{
		width: 45%;
	}

	.km-resultados-lista .km-item-resultado .km-contenedor-descripcion-opciones{
		width: 55%;
	}

	.km-resultados-lista .km-item-resultado .km-descripcion,
	.km-resultados-lista .km-item-resultado .km-opciones{
		width: 100%;
	}

	.km-resultados-lista .km-item-resultado .km-sellos{
		padding-top: 10px;
	}

	.km-resultados-lista .km-item-resultado .km-opciones{
		text-align: left;
		padding-left: 16px;
		padding-top: 5px;
	}

	.km-resultados-lista .km-item-resultado .km-opciones::after{
		content: "";
		display: block;
		clear: both;
	}

	.km-resultados-lista .km-item-resultado .km-opciones .km-btn-primary{
		float: left;
		width: 49%;
		margin-top: 0;
	}

	.km-resultados-lista .km-item-resultado .km-opciones .km-btn-primary.stroke{
		float: right;
	}
}

@media all and (max-width: 550px) {
	.km-caja-resultados{
		padding-top: 21px;
	}

	.km-texto-resultados{
		font-size: 11px;
	}

	.km-opciones-resultados{
		width: auto;
	}

	.km-opciones-resultados .km-orden-resultados{
		display: none;
	}
}

@media all and (max-width: 430px) {
	.km-resultados-lista .km-item-resultado .km-foto{
		display: none;
	}

	.km-resultados-lista .km-item-resultado .km-contenedor-descripcion-opciones{
		width: 100%;
	}

}

@media all and (max-width: 380px) {
	.km-cajas-filtro .km-caja-filtro{
		width: 100%;
	}

	.km-cajas-filtro .km-caja-filtro{
		margin-right: 0;
		margin-bottom: 2%;
	}


}


@media all and (max-width: 767px) {
	.km-costo{
		position: fixed;
	    display: block!important;
	    top: initial;
	    left: 0;
	    width: auto;
	    bottom: 0;
	    z-index: 99;
	}

	.km-map-content{
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	    z-index: 100;
		position: fixed;
		background: white;
	}

	.km-map-content .km-tit-ficha{
		line-height: 30px;
	}

	.km-map-content .km-ficha-mapa iframe{
		left: 10px;
		right: 10px;
		bottom: 10px;
		top: 30px;
		position: absolute;
		width: calc(100% - 20px);
		min-height: calc(100% - 40px);
	}

	.km-map-content .km-map-close{
		display: block;
		position: absolute;
		right: 10px;
		top: 5px;
	}
<<<<<<< HEAD
}
=======
}
>>>>>>> d91cc5de50f8bfa5b962648b4e40faa7989297dd
