#mapa{
    height: 250px;
}
.km-galeria-cuidador div{
    height: 100%;
}
.slide {
    height: 100%;
    width: 300px;
    float: left;
    position: relative;
    cursor: pointer;
}
.vlz_item_fondo {
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc( 100% - 4px );
    height: calc( 100% - 4px );
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(2px);
    overflow: hidden;
}
.vlz_item_imagen {
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc( 100% - 20px );
    height: calc( 100% - 20px );
    z-index: 100;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.vlz_modal_galeria {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999999999;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    cursor: pointer;
}

.vlz_modal_galeria_interna {
    position: fixed;
    top: 50px;
    left: 50px;
    width: calc( 100% - 100px );
    height: calc( 100% - 100px );
    z-index: 100;
    display: table-cell;
    text-align: center;
    vertical-align: middle;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.km-galeria-cuidador {
    overflow: hidden;
}