/* New */

.km-input-custom {
    border-bottom: solid 1px #CCC !important;
    padding: 10px 20px !important;
    text-align: left;
    box-sizing: border-box;
    width: 100% !important;
    cursor: pointer;
}

.input_fechas_box{
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 0px 10px;
}

#fechas_container input{
    text-align: center;
}

.titulos_inputs{
    border-bottom: solid 3px #CCC;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    padding: 5px 3px;
    margin: 10px;
}

.inputs_container{
    overflow: hidden;
}

.bg-white-secondary{
    background-color:#fff;
    box-shadow:0 4px 4px rgba(0,0,0,.25);
    transition:background-color .5s ease 0s;
    height: 100px;
}

.bg-white-secondary a{
    color: #000 !important;
}

.invalido {
    display: none;
    background: #ff8300;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    color: #FFF;
    font-weight: 600;
}

.km-quantity-height .km-height{
    overflow: hidden;
}

.km-quantity-height .km-height span{
    float: right;
    font-weight: 600;
}

#step_1{
    display: block;
}

#step_2,
#step_3
{
    display: none;
}

#reserva_btn_next_2{
    cursor: pointer;
}

.expiration{
    width: calc( 50% - 10px ) !important;
    margin: 0px 4px;
    text-align: center;
}