# wordpress

# Carpetas

.htaccess

/wp-admin/
/wp-includes/
/wp-content/uploads*
/git/

/kmibox/*

Respaldo*

# Archivos

vlz_config.php

# Plugins

/wp-content/plugins/kmimos/wlabel/backend/content/export/csv/

/wp-content/w3tc-config/ 
/wp-content/cache/

.idea/workspace.xml
.idea/kmimos.mx.iml
.idea/misc.xml
.idea/vcs.xml
.idea/modules.xml

/wp-content/index.php
/imgs/Temp/

.tmb/

/QA/
