# wordpress

# Carpetas

/Pruebas/
/wp-admin/
/wp-includes/
/wp-content/gallery/
/wp-content/languages/
/wp-content/ngg/
/wp-content/ngg_styles/
/wp-content/upgrade/
/wp-content/uploads*
/git/

/kmibox/*

Respaldo*

# Archivos

.htaccess
favicon.ico
/index.php
wp-activate.php
wp-blog-header.php
#wp-comments-post.php
wp-config.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
vlz_config.php

# Plugins

/wp-content/plugins/bwp-minify/cache/

/wp-content/plugins/kmimos/wlabel/backend/content/export/csv/

/wp-content/w3tc-config/ 
/wp-content/cache/

.idea/workspace.xml
.idea/kmimos.mx.iml
.idea/misc.xml
.idea/vcs.xml
.idea/modules.xml

/wp-content/index.php
/imgs/Temp/

.tmb/

/QA/
landing-volaris/newsletter.csv
