# wordpress

# Carpetas

/Pruebas/
/wp-admin/
/wp-includes/
/wp-content/gallery/
/wp-content/languages/
/wp-content/ngg/
/wp-content/ngg_styles/
/wp-content/upgrade/
/wp-content/uploads/

Respaldo*

# Archivos

.htaccess
favicon.ico
index.php
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
vlz_config.php

# Plugins

/wp-content/plugins/admin-custom-login/
/wp-content/plugins/adminer/
/wp-content/plugins/admin-post-navigation/
/wp-content/plugins/aryo-activity-log/
/wp-content/plugins/contact-form-7/
/wp-content/plugins/error-log-monitor/
/wp-content/plugins/js_composer/
/wp-content/plugins/js-composer-qtranslate-x/
/wp-content/plugins/LayerSlider/
/wp-content/plugins/loco-translate/
/wp-content/plugins/media-library-assistant/
/wp-content/plugins/nextgen-gallery/
/wp-content/plugins/openpay-cards/
/wp-content/plugins/openpay-stores/
/wp-content/plugins/php-code-for-posts/
/wp-content/plugins/pretty-testimonials/
/wp-content/plugins/pricing-deals-for-woocommerce/
/wp-content/plugins/rating-widget/
/wp-content/plugins/really-simple-ssl/
/wp-content/plugins/redux-framework/
/wp-content/plugins/revslider/
/wp-content/plugins/simple-custom-post-order/
/wp-content/plugins/simple-google-analytics/
/wp-content/plugins/templatera/
/wp-content/plugins/Ultimate_VC_Addons/
/wp-content/plugins/wc-vendors/
/wp-content/plugins/widget-shortcode/
/wp-content/plugins/woocommerce/
/wp-content/plugins/WooCommerce.Deposits.Partial.Payments.Plugin.v1.4.2/
/wp-content/plugins/woocommerce-accommodation-bookings/
/wp-content/plugins/woocommerce-bookings/
/wp-content/plugins/woocommerce-menu-bar-cart/
/wp-content/plugins/woocommerce-product-addons/
/wp-content/plugins/woocommerce-product-csv-import-suite/
/wp-content/plugins/woocommerce-qtranslate-x/
/wp-content/plugins/woothemes-updater/
/wp-content/plugins/wordpress-seo/
/wp-content/plugins/wp-email-login/
/wp-content/plugins/wp-mail-smtp/
/wp-content/plugins/wp-maintenance-mode/
/wp-content/plugins/wp-pagenavi/
/wp-content/plugins/wp-postratings/
/wp-content/plugins/wp-seo-qtranslate-x/
/wp-content/plugins/yith-woocommerce-ajax-search/
/wp-content/plugins/yith-woocommerce-badge-management-premium/
/wp-content/plugins/yith-woocommerce-dynamic-pricing-and-discounts-premium/
/wp-content/plugins/yith-woocommerce-product-slider-carousel-premium/
/wp-content/plugins/zopim-live-chat/

/wp-content/plugins/wpmandrill/


/wp-content/plugins/woocommerce-bookings/.tx/