# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress

<FilesMatch "\.(js|css|ico|pdf|flv|jpg|jpeg|png|gif|swf|mp3|mp4)$">
    Header set Cache-Control "public"
    Header set Expires "Thu, 15 Apr 2020 20:00:00 GMT"
</FilesMatch>

<FilesMatch "\.(js|css|ico|pdf|jpg|jpeg|png|gif|php)$">
    SetOutputFilter DEFLATE
</FilesMatch>

Header unset ETag
FileETag None

<FilesMatch "\.(js|css|ico|pdf|flv|jpg|jpeg|png|gif|swf|mp3|mp4)$">
    Header unset Last-Modified
</FilesMatch>