@font-face { font-family: Poetsen One; src: url(../fonts/PoetsenOne-Regular.ttf);}
@font-face {font-family: 'Calibri Light'; font-style: normal; font-weight: normal; src: local('Calibri Light'), url('../fonts/calibril.woff') format('woff');}
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
@import url('https://fonts.googleapis.com/css?family=Lato:700');
body{background: #49C9B0; 	color: #3a3a3a; font-family: Poetsen One;}
strong{font-weight: 900;}

html,body{margin:0px; 	height:100%; }
.container-fluid{height: 100%;}

/***************************************/
/*  CABECERA Y Section-1               */
/***************************************/

header{
	background: #fff;
	text-align: right;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-top:5px;
	clear: both;
}

.logo{
	width: 12%;
	margin-right: 5%;
}

.ancho{
	padding-bottom: 35%;
}
#section-1{
	background-image: url(../img/fondo-section01.jpg);
    background-position: bottom;
    background-size: 100% 130%;
    background-repeat: no-repeat;
    padding-bottom: 20%;
    position: relative;
    overflow: hidden;
    color: #fff;
    font-weight: lighter;
}
#section-1 h1{
	font-family: 'Calibri Light';
    margin-top: 10%;
    margin-bottom: 3%;
    margin-left: 6%;
    font-size: 40px;
    width: 40%;
    text-align: left;
}
#section-1 > a > img{
	position: absolute;
	bottom: 20%;
	width: 90%;
	max-width: 490px;
	left: 0;
	right: 0;
	margin:0 auto;
}

#img-cab-1{
	width: 25%;
    position: absolute;
    display: block;
    margin-top: 6%;
}
#img-cab-1 img {
	width: 120%;
}
#img-cab-3{
	width: 25%;
    position: absolute;
    display: block;
    margin-top: 15%;
    margin-left: 15%;
}
#img-cab-3 img {
	width: 100%;
}
#img-cab-4{
	width: 25%;
    position: absolute;
    display: block;
    margin: 0 auto;
    margin-top: 15%;
    margin-left: 35%;
}
#img-cab-4 img {
	width: 100%;
}
#img-cab-5{
	width: 25%;
    position: absolute;
    display: block;
    margin: 0 auto;
    right: 0%;
    margin-top: 15%;
}
#img-cab-5 img {
	width: 90%;
}

.controll-pagination{
	text-align:center;
	margin-top:10px;
	font-size: 26px;
    bottom: -390px;
    position: relative;	
}
.back-green{
	color: #49c9b0;
	border-radius: 75%;
	padding-left: 8px; 
	padding-right: 8px; 
	border: 2px solid #49c9b0;
	margin-top: 10px;
}
.back-white{
	margin-top: 10px;
	color:#fff;
	border-radius: 75%;
	padding-left: 8px; 
	padding-right: 8px; 
	border: 2px solid #fff;
}
/***************************************/
/*  Section-2                          */
/***************************************/
#section-2{
	background: #fff;
	width: 100%;
	overflow: hidden;
	background: #edeef0;
}

.espace{
	margin-right: -10%;
}
.move-low{
	padding-top: 5%;
}

#section-2  article {
	display: block;
	width: 100%;
	margin-top: 17%;
	margin-left: 15%;	
}
#section-2 > article:first{
	margin-top:10px;
}

#section-2 h2{
	margin-top:0px!important;
	margin-bottom:0px!important;
	color: #fff;
	font-size: 1em;
}
iframe {
    max-width: 70%;
    max-height: 90%;
    height: auto;
}

.video-container {
	position:relative;
	padding-bottom:0%;
	padding-top:55%;
	overflow:hidden;
}
.video-container iframe, 
.video-container object, 
.video-container embed {position:absolute; top:0; left:0; width:100%; height:100%;}

.contain_window{height: 65%; margin: 0; overflow: hidden; }
.color-fondo{background-color: #C90235;}
.header{padding: 20px 0; color: #FFF; font-size: 40px; text-align:center; background:#C90235; font-family: Poetsen One;}

/***************************************/
/*  Section-3                          */
/***************************************/

#section-3{
	background-image: url(../img/fondo-s3.jpg);
    background-position: bottom;
    background-size: 100% 100%;
    background-repeat: no-repeat;
	font-family: Poetsen One;
	color: #fff;
	padding-bottom: 5%;
	margin: 0 auto;
	overflow: hidden;
}

#section-3  h2{
	text-align: center;
    font-size: 3.5em!important;
    color: #fff;
    margin-top: 35%;
}

.colores{
	bottom: -40px;
	left: 15px;
}
.color1{
	background: #80ccbf;
	font-family: 'Calibri Light';
	font-size: 18pt;
	text-align: center;
	padding: 25px;
	width: 25%!important;
	height: 170px!important;
	border-radius: 85px 0px 0px 85px;
}
.color2{
	background: #80bab7;
	font-family: 'Calibri Light';
	font-size: 18pt;
	text-align: center;
	padding: 25px;
	width: 25%!important;
	height: 170px!important;
}
.color3{
	background: #61a6af;
	font-family: 'Calibri Light';
	font-size: 18pt;
	text-align: center;
	padding: 15px;
	width: 25%!important;
	height: 170px!important;
}
.color4{
	background: #55759d;
	font-family: 'Calibri Light';
	font-size: 18pt;
	text-align: center;
	padding: 25px;
	width: 25%!important;
	height: 170px!important;
	border-radius: 0px 85px 85px 0px;
}
/***************************************/
/*  Section-4                          */
/***************************************/

#section-4{
	font-family: Poetsen One;
	margin: 0 auto;
    background: transparent;
    height: auto;
    overflow: hidden;
    margin-bottom: 0.5%;
}
.conte-serv-1{
    background: #a8d432;
    padding: 25px;
    margin: 0 auto;
    margin-left: -15px;
    margin-top: 50px;
    margin-bottom: 65px;
    border-radius: 0px 70px 70px 0px;
    width: 75%;
    color: #867d7d;
}
.conte-serv-1 p{
	color: whitesmoke;
	font-family: 'Calibri Light';
	font-size: 23pt;
    margin-left: 5%;
}
.conte-serv-2{
	background: #edbe31;
    padding: 25px;
    margin: 0 auto;
    margin-left: -15px;
    margin-bottom: 60px;
    border-radius: 0px 70px 70px 0px;
    width: 50%;
    color: #867d7d;
}
.conte-serv-2 p {
	color: whitesmoke;
	font-family: 'Calibri Light';
	font-size: 23pt;
	margin-left: 7%;
}
.conte-serv-3{
	background: #871c9a;
    padding: 25px;
    margin: 0 auto;
    margin-left: -15px;
    margin-bottom: 60px;
    border-radius: 0px 70px 70px 0px;
    width: 35%;
    color: #867d7d;
}
.conte-serv-3 p{
	color: whitesmoke;
	font-family: 'Calibri Light';
	font-size: 23pt;
	margin-left: 8%;
}
#h2{
	font-size: 2.5em!important;
	text-align: center;
	color: #1D8DD3;
	margin-bottom: -35px;
}
#section-4 article{
	padding-top:1%;
	padding-bottom:1%;
}
.img-servicio{
	width: 50%;
    margin: 0 auto;
    margin-top: -70%;
    margin-left: 28%;
}
/***************************************/
/*  Section-5                          */
/***************************************/

#section-5{
	font-family: Poetsen One;
	width: 100%;
	height: 100%;	
	color: #fff;
	background-color: #fff;
	font-weight: lighter;
	overflow: hidden;
}

.img-requisitos{
	width: 95%;
    /*height: 180px;*/
    margin: 0 auto;
    padding: 5px;
    margin-bottom: 10px;
}
.letra-req{
	color: #262424; 
	margin-left: 30px; 
	font-family: 'Lato', 
	sans-serif; 
	font-size: 20px; 
	font-weight: bold;
	text-align: center;
}

#h2-req{
	font-size: 3.5em!important;
    text-align: center;
    color: #ffffff;
    background: #ff960e;
    padding: 6%;
    border-radius: 85px 0px 0px 85px;
    margin-top: 10%;
    margin-bottom: 5%;
    margin-right: -30%;
}

.group{
	width: 100%;
	height: 100%;
}

/***************************************/
/*  Section-7                          */
/***************************************/

#section-7{
	background-image: url(../img/fondo-footer.jpg);
	background-position: left center;
	font-family: Poetsen One;
	background-position: bottom;
    background-size:  100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
	overflow: hidden;
	color: #fff;
	font-weight: lighter;
	height: 110%;
	padding-bottom: 10px;
}

#section-7  > a > img{
	
	position: absolute;
	bottom: 0px;
	width: 90%;
	max-width: 400px;
	left: 0;
	right: 0;
	margin:0 auto;
	margin-bottom: 25px;
}
.img-pais{
	position: relative;
	width: 13%;
	margin-bottom: 2%;
}


.h2-foot{
	font-size: 3em!important;
	text-align: right;
	color: #fff;
}
.h3-foot{
		font-size: 1.5em!important;
		text-align: right;
		color: #fff;
		padding: 10px;
	}



/***************************************/
/*  footer                             */
/***************************************/


footer{
	overflow: hidden;
}
.sp{
	margin-right: -18%;
}

.fondo-logo{background-image: url(../img/fondo-logo.jpg); padding: 1%;}


/***************************************/
/*  Media                              */
/***************************************/

@media (min-width: 1280px){}

@media (min-width: 581px) and (max-width: 765px){
	.container-fluid {height: auto;}
	#section-1 {background-position: top;background-size: 100% 100%; padding-top: 12%;}
	#section-1 h1 {font-size: 33px; width: 100%; margin-top: 0%;}
	#section-1 > a > img {bottom: 10%;width: 60%;}
	#h2 {font-size: 24pt!important;}
	.conte-serv-1 {border-radius: 0px 90px 90px 0px; width: 90%;}
	.conte-serv-1 p {font-size: 19pt;margin-left: -2%; width: 85%;}
	.conte-serv-2 {padding: 15px; margin-bottom: 85px; margin-top: 20%; border-radius: 0px 70px 70px 0px; width: 85%;}
	.conte-serv-2 p {font-size: 19pt;margin-left: 4%;}
	.conte-serv-3 {padding: 10px; margin-top: -10%; margin-bottom: 35px; width: 72%;}
	.conte-serv-3 p {font-size: 18pt;}
	.img-servicio { width: 55%; margin-top: 30%; margin-left: 40%;  position: absolute;}
	#section-3 h2 {font-size: 30pt!important; color: #fff; margin-top: 5%;}
	#section-3 { height: auto; padding-bottom: 15%; background-size: cover;}
	.color1 {font-size: 20pt;padding: 25px; width: 90%!important; border-radius: 115px 115px 0px 0px; height: 145px!important;}
	.color2 {font-size: 20pt; width: 90%!important; height: 145px!important;}
	.color3 {font-size: 20pt; width: 90%!important; height: 170px!important;}
	.color4 {font-size: 20pt; width: 90%!important;border-radius: 0px 0px 115px 115px;height: 146px!important;}
	
	#section-5 {height: auto;}
	#h2-req {font-size: 20pt!important;margin-right: -20%;}
	.img-requisitos {width: 110%;}
	.letra-req {color: #262424;margin-left: 0px;font-size: 22px;}

	.h2-foot {font-size: 30pt!important;}
	.h3-foot {font-size: 18pt!important;text-align: right; padding: 0px; margin-top: -3%;}
	.img-pais {width: 90%; margin-bottom: 20%; margin-top: 20%;}
	#section-7 > a > img { width: 70%; margin-bottom: 19px;}
	#section-7 {height: auto;}
	.logo {width: 15%;}
}
@media (min-width: 421px) and (max-width: 580px){
	.container-fluid {height: auto;}
	#section-1 {background-position: top;background-size: 100% 100%; padding-top: 12%;}
	#section-1 h1 {font-size: 26px; width: 100%; margin-top: 0%;}
	#section-1 > a > img {bottom: 10%;width: 60%;}
	#h2 {font-size: 20pt!important;}
	.conte-serv-1 {border-radius: 0px 90px 90px 0px; width: 90%;}
	.conte-serv-1 p {font-size: 15pt;margin-left: -3%; width: 100%;}
	.conte-serv-2 {padding: 15px; margin-bottom: 60px; margin-top: 40%; border-radius: 0px 70px 70px 0px; width: 95%;}
	.conte-serv-2 p {font-size: 15pt;margin-left: 7%;}
	.conte-serv-3 {padding: 10px; margin-top: -10%; margin-bottom: 35px; width: 78%;}
	.conte-serv-3 p {font-size: 15pt;}
	.img-servicio { width: 70%; margin-top: 35%; margin-left: 25%;  position: absolute;}
	#section-3 h2 {font-size: 20pt!important; color: #fff; margin-top: 5%;}
	#section-3 { height: auto; padding-bottom: 15%; background-size: cover;}
	.color1 {font-size: 17pt;padding: 25px; width: 90%!important; border-radius: 115px 115px 0px 0px; height: 130px!important;}
	.color2 {font-size: 17pt; width: 90%!important; height: 130px!important;}
	.color3 {font-size: 17pt; width: 90%!important; height: 142px!important;}
	.color4 {font-size: 17pt; width: 90%!important;border-radius: 0px 0px 115px 115px;height: 146px!important;}
	
	#section-5 {height: auto;}
	#h2-req {font-size: 20pt!important;margin-right: -20%;}
	.img-requisitos {width: 110%;}
	.letra-req {color: #262424;margin-left: 0px;font-size: 22px;}

	.h2-foot {font-size: 18pt!important;}
	.h3-foot {font-size: 13pt!important;text-align: right; padding: 0px; margin-top: -3%;}
	.img-pais {width: 100%; margin-bottom: 20%; margin-top: 20%;}
	#section-7 > a > img { width: 70%; margin-bottom: 19px;}
	#section-7 {height: auto;}
}
@media (min-width: 381px) and (max-width: 420px){
	.container-fluid {height: auto;}
	#section-1 {background-position: top;background-size: 100% 100%; padding-top: 12%;}
	#section-1 h1 {font-size: 26px; width: 100%; margin-top: 0%;}
	#section-1 > a > img {bottom: 10%;width: 60%;}
	#h2 {font-size: 20pt!important;}
	.conte-serv-1 {border-radius: 0px 90px 90px 0px; width: 90%;}
	.conte-serv-1 p {font-size: 15pt;margin-left: -3%; width: 100%;}
	.conte-serv-2 {padding: 15px; margin-bottom: 60px; margin-top: 40%; border-radius: 0px 70px 70px 0px; width: 95%;}
	.conte-serv-2 p {font-size: 15pt;margin-left: 7%;}
	.conte-serv-3 {padding: 10px; margin-top: -10%; margin-bottom: 35px; width: 78%;}
	.conte-serv-3 p {font-size: 15pt;}
	.img-servicio { width: 70%; margin-top: 35%; margin-left: 25%;  position: absolute;}
	#section-3 h2 {font-size: 20pt!important; color: #fff; margin-top: 5%;}
	#section-3 { height: auto; padding-bottom: 20%; background-size: cover;}
	.color1 {font-size: 17pt;padding: 25px; width: 90%!important; border-radius: 115px 115px 0px 0px; height: 130px!important;}
	.color2 {font-size: 17pt; width: 90%!important; height: 130px!important;}
	.color3 {font-size: 17pt; width: 90%!important; height: 142px!important;}
	.color4 {font-size: 17pt; width: 90%!important;border-radius: 0px 0px 115px 115px;height: 146px!important;}
	
	#section-5 {height: auto;}
	#h2-req {font-size: 20pt!important;margin-right: -20%;}
	.img-requisitos {width: 110%;}
	.letra-req {color: #262424;margin-left: 0px;font-size: 22px;}

	.h2-foot {font-size: 18pt!important;}
	.h3-foot {font-size: 13pt!important;text-align: right; padding: 0px; margin-top: -3%;}
	.img-pais {width: 100%; margin-bottom: 0%; margin-top: 40%;}
	#section-7 > a > img { width: 70%; margin-bottom: 19px;}
	#section-7 {height: auto;}
}
@media (min-width: 280px) and (max-width: 380px){
	.container-fluid {height: auto;}
	#section-1 {background-position: top;background-size: 100% 100%;padding-top: 11%;}
	#section-1 h1 {font-size: 21px; width: 100%; margin-top: 0%;}
	#section-1 > a > img {bottom: 10%;width: 60%;}
	#h2 {font-size: 15pt!important;}
	.conte-serv-1 {border-radius: 0px 90px 90px 0px; width: 90%;}
	.conte-serv-1 p {font-size: 13pt;margin-left: -3%; width: 100%;}
	.conte-serv-2 {padding: 15px; margin-bottom: 60px; margin-top: 40%; border-radius: 0px 70px 70px 0px; width: 95%;}
	.conte-serv-2 p {font-size: 13pt;margin-left: 7%;}
	.conte-serv-3 {padding: 10px; margin-top: -10%; margin-bottom: 35px; width: 78%;}
	.conte-serv-3 p {font-size: 13pt;}
	.img-servicio { width: 70%; margin-top: 50%; margin-left: 25%;  position: absolute;}
	#section-3 h2 {font-size: 17pt!important; color: #fff; margin-top: 5%;}
	#section-3 { height: auto; padding-bottom: 20%; background-size: cover;}
	.color1 {font-size: 17pt;padding: 25px; width: 90%!important; border-radius: 115px 115px 0px 0px; height: 130px!important;}
	.color2 {font-size: 17pt; width: 90%!important; height: 130px!important;}
	.color3 {font-size: 17pt; width: 90%!important; height: 142px!important;}
	.color4 {font-size: 17pt; width: 90%!important;border-radius: 0px 0px 115px 115px;height: 146px!important;}
	
	#section-5 {height: auto;}
	#h2-req {font-size: 20pt!important;margin-right: -20%;}
	.img-requisitos {width: 110%;}
	.letra-req {color: #262424;margin-left: 0px;font-size: 17px;}

	.h2-foot {font-size: 18pt!important;}
	.h3-foot {font-size: 11pt!important;text-align: right; padding: 0px; margin-top: -3%;}
	.img-pais {width: 100%; margin-bottom: 0%; margin-top: 40%;}
	#section-7 > a > img { width: 70%; margin-bottom: 19px;}
	#section-7 {height: auto;}
}