body{
	background: #00FFDD;
}

header{
	vertical-align: top;
}

.fondo-verde{
    padding:10px;
    border-radius: 10px;
    background: #84ff00;   
    font-size: 11.5px; 
}

.fondo-verde h3{
    color:#9F159F;
    font-size:18px;
    margin-bottom:5px;
    margin-top:5px;
}

.button-shared{
    margin-right: 20px;
}

.resaltar{
    font-size:18px;color:#9F159F;text-decoration: underline;font-weight: bold;
}

#subtitulo{
    color: #fff;
    padding: 15px;
    background: #881c9b;
    border-radius: 10px;
    font-size: 19px;
}
.btn-kmimos:hover,
.btn-kmimos:focus
{
    color: #fff;
}
.btn-kmimos{
    border-radius: 500px;
    background: #881c9b;
    color: #00FFDD;
    border: 0px;
}

h1{
	color:#881c9b;
	font-weight: bold;
	text-align: center; 
}

.bloque{
    background-repeat: no-repeat;
    background-size: contain;
    color: #fff;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 50px;
    padding-top: 11px;
    text-align: left;
}

.shared-link-email{
    padding: 5px;
    background: #fd06a4;
    color: #fff;
    font-size: 16px;
    border-radius: 10px;
}

#bloque1{
	background-image: url('../img/7bloquemorado2.png'); 
	background-repeat: no-repeat;
	background-size: contain;
	color: #fff;
    padding-right: 37px;
    padding-left: 20px;
    padding-bottom: 30px;
    padding-top: 6px;	
	text-align: right;
}

#bloque2{
/*    background-image: url(../img/1background.png); */
    background: #009b9d;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#bloque3{
    /*background-image: url(../img/10outline2.png);*/
    background:#0fcacc;
    border-radius:15px;
    padding: 15px;
}

#bloque3 > span span{

}

#shared{
	margin-bottom:20px;
}

footer{
	background: #881c9b ; 
	border-radius: 20px;
	height: 100px;
	margin-top:15px;
	margin-bottom:15px;
}

.footer-content{
    margin-top:15px;
    background:#881C9B;
    color:#fff;
    font-weight:bold;
    padding:2px 10px 2px 10px;
    border-radius:10px;
    margin-bottom:20px;
}

.btn-cerrar{
    color:#fff;
    background:#881C9B;
    border:0px;
    padding:5px 15px 5px 15px;
    border-radius:15px;
    font:40px;
    position:absolute; 
    right:0px;
    margin:10px;
}

/***************************************/
/*  Media                              */
/***************************************/
@media 	(orientation: landscape) {

}
@media 	(max-width: 766px){ 
    .btn-cerrar{
        position: none;
        margin:auto;
    }
    .footer-content{
        text-align: left;
    }
    body{
        padding-bottom:20px;
    }
    h1{
        text-align: center!important;
        font-size: 19px!important;
    }
    #bloque1{
        float:left;
        margin-bottom:20px;
    }
    #bloque2{
        margin-bottom:20px;
    }
}
@media 	(min-width: 767px) and 
		(max-width: 991px){ 
	 h1{
        text-align: center;
        font-size: 19px;
    }
    #bloque1{
        float:left;
    }
}
@media 	(min-width: 992px) { 
    .footer-content{
        text-align: center;
    }
    #bloque1{
        padding-right: 12px;
        padding-left: 10px;
        padding-bottom: 5px;
        padding-top: 3px;
    }

}
@media 	(min-width: 1200px) { 

}