#contactanos{
    display: block;
    margin: 50px auto;
    max-width: 700px;
    overflow: hidden;
}

#campos,
#botones{
    overflow: hidden;
}

#contactanos #campos input,
#contactanos #campos textarea
{
    width: 100%;
    box-sizing: border-box;
    padding: 10px 15px;
    margin-bottom: 10px;
    outline: none;
    border-radius: 0px;
    border: solid 1px #59c9a8;
    font-size: 13px;
    font-family: Roboto;
}

#contactanos #campos input:focus,
#contactanos #campos textarea:focus
{
    outline: none;
}

#contactanos #campos textarea{
    resize: none;
    height: 200px;
}

#contactanos #botones input{
    font-size: 13px;
    font-family: Roboto;
    background: #59c9a8;
    padding: 10px 20px;
    float: right;
}
