/*
    Beneficios Home
*/ 
    .beneficios_container{
        background: #f9f9f9;
        padding: 20px;
    }

    ul.beneficios_home{
        margin: 0px auto;
        padding: 20px;
        overflow: hidden;
        text-align: center;
    }

    ul.beneficios_home li{
        list-style: none;
        display: inline-block;
        padding: 30px 0px;
        margin: 15px;
        border: solid 1px #eee;
        border-radius: 3px;
        width: 250px;
        background: #FFF;
    }

/*
    Slider Home
*/

.slider_home{
    background-size: contain;
    background-position: center center;
    background-repeat: repeat-x;
}
.slider_home_container{
    display: block;
    overflow: hidden;

    background-size: contain;
    background-position: center center;
    background-repeat: repeat-x;

    max-width: 900px;
    margin: 0px auto;
}
ul.slider_home_box{
    padding: 0px;
    height: 450px;
    overflow: hidden;

    display: flex;

    -moz-animation: slider_home 10s infinite alternate;
    -o-animation: slider_home 10s infinite alternate;
    -webkit-animation: slider_home 10s infinite alternate;
    animation: slider_home 10s infinite alternate;
}
ul.slider_home_box li{
    display: block;
    height: 100%;
    width: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

@keyframes slider_home{
    0% { margin-left: 0; }
    40% { margin-left: 0; }

    50% { margin-left: -100%; }
    100% { margin-left: -100%; }
}

/*
    Slider Testimonios
*/

.testimonios_container{
    display: block;
    margin: 0px auto;
    max-width: 900px;
    overflow: hidden;
}
ul.testimonios_box{
    padding: 0px;
    height: 150px;
    overflow: hidden;

    display: flex;

    -moz-animation: testimonios 20s infinite alternate;
    -o-animation: testimonios 20s infinite alternate;
    -webkit-animation: testimonios 20s infinite alternate;
    animation: testimonios 20s infinite alternate;
}
ul.testimonios_box li{
    display: block;
    height: 100%;
    width: 100%;
}
.testimonio{
    position: relative;
    display: block;
    height: 100%;
    margin: 0px auto;
    max-width: 950px;
    box-sizing: border-box;
    padding: 10px 30px;
    overflow: hidden;
}
.testimonio_cont_data{
    float: right;
}
.testimonio_titulo{
    font-size: 40px;
    font-family: 'Dosis',sans-serif;
    font-weight: 700;
    color: #FFF;
    line-height: 50px;
}
.testimonio_texto{
    font-size: 28px;
    line-height: 30px;
    font-family: 'Dosis',sans-serif;
    color: #FFF;
}
.flechas{
    font-size: 60px;
    font-family: 'Dosis',sans-serif;
    font-weight: 700;
}

@keyframes testimonios{
    0% { margin-left: 0; }
    30% { margin-left: 0; }

    35% { margin-left: -100%; }
    65% { margin-left: -100%; }

    70% { margin-left: -200%; }
    100% { margin-left: -200%; }
}

/*
    Slider Logos
*/

.slider_logos_container{
    display: block;
    overflow: hidden;
    max-width: 1140px;
    margin: 0px auto;
}
ul.slider_logos_box{
    padding: 0px;
    height: 200px;
    overflow: hidden;

    display: flex;

    width: 200%;

    -moz-animation: slider_logo 30s infinite alternate;
    -o-animation: slider_logo 30s infinite alternate;
    -webkit-animation: slider_logo 30s infinite alternate;
    animation: slider_logo 30s infinite alternate;
}
ul.slider_logos_box li{
    display: block;
    height: 100%;
    width: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: repeat-x;
}

@keyframes slider_logo{
    0% { margin-left: 0; }
    15% { margin-left: 0; }

    20% { margin-left: -25%; }
    35% { margin-left: -25%; }

    40% { margin-left: -50%; }
    55% { margin-left: -50%; }

    60% { margin-left: -75%; }
    75% { margin-left: -75%; }

    80% { margin-left: -100%; }
    100% { margin-left: -100%; }
}

/*
    Estilos del buscador
*/

#estado_cuidador_main {
    margin: 0px !important;
}
#grupo_fecha {
    width: 110% !important;
}
.selector_fecha {
    width: 50%;
    overflow: hidden;
}
.grupo_fecha {
    overflow: hidden;
}
.grupo_selector {
    display: inline-block;
    width: 50%;
    float: left;
    margin-top: 3px;
}
html.iOS .fecha_hasta, html.iOS .fecha_desde { width: 118px !important}
@media only screen and (max-width: 639px) { 
    .grupo_selector { width: 100%; } 
    html.iOS .selector_fecha {width: 50% !important}
    html.iOS .fecha_desde {float: left; margin-top: 0px !important; margin-right: -16px;}
    html.iOS .fecha_hasta {float: right; margin-top: 0px !important; margin-right: -16px;}
    .fecha_desde {float: left;}
    .fecha_hasta { display: block;}
    .fecha_hasta_full { display: none;}
}
.grupo_selector .marco {
    display: inline-block;
    border: 1px solid #888;
    width: 99%;
    padding-right: 5px;
}
.grupo_selector .icono {
    display: inline-block;
    width: 36px;
    height: 36px;
    float: left;
    padding: 5px;
    font-size: 1.8em;
}
.grupo_selector sub {
    top: 8px;
    float: left;
}
.grupo_selector select, .grupo_selector input {
    height: 25px;
    width: 87%;
    display: inline-block;
    clear: right;
    float: left;
    margin-top: -10px;
    border: 0px;
    background-color: #ffffff;
}
select.activo, .grupo_fecha input[type=date].activo { color: #00d2b7 !important; }
select:focus{
    outline: 0px;
}
#pp_full_res .pp_inline p {
    margin: 7px 0px 15px 38px;
    text-align: left;
}
#popup_mas_servicios{
    overflow: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999999999999999999;
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
#mas_servicios{
    display: inline-block;
    position: relative;
    max-width: 340px !important;
    vertical-align: middle;
    overflow: hidden;
    background: #FFF;
    padding: 25px 5px 10px;
    margin: 50px auto;
    border-radius: 8px;
    border: solid 5px rgba(0,0,0,0.8);
    vertical-align: middle;
}
#cerrar_mas_servicios{
    position: absolute;
    top: 0px;
    right: 0px;
    background: #FFF;
    padding: 3px;
    font-size: 16px;
    border: solid 1px #333;
    border-top: 0px;
    border-right: 0px;
    border-radius: 0px 0px 0px 5px;
    cursor: pointer;
}
#popup_mas_servicios span{
    display: inline-block;
    width: 0px;
    height: 100%;
    vertical-align: middle;
}

#logo_solo_movil{
    display: none;
}

form#pointfinder-search-form-manual {
    padding: 20px;
}

@media (max-width: 992px){
    .wpf-container {
        margin: 106px 0 0 0 !important;
    }
    .slider_home,
    .slider_home li
    {
        background-size: cover; 
    }
    #bloque_testimonios{
        padding: 0px;
    }
    .testimonio_titulo{
        font-size: 30px;
    }
    .testimonio_texto{
        font-size: 20px;
        line-height: 20px;
    }
    .testimonio {
        padding: 10px 30px;
        width: 80%;
    }

    #logo_solo_movil{
        display: inline-block;
    }

    .slider_logos_box{
        width: 300% !important;
    }

    @keyframes slider_logo{
        0% { margin-left: 0; }
        30% { margin-left: 0; }

        40% { margin-left: -33%; }
        55% { margin-left: -33%; }

        60% { margin-left: -66%; }
        75% { margin-left: -66%; }

        80% { margin-left: -100%; }
        100% { margin-left: -100%; }
    }
}

@media (max-width: 768px){
    .wpf-container {
        margin: 79px 0 0 0 !important;
    }
    ul.slider_logos_box {
        height: 100px;
    }
}

@media (max-width: 569px){
    .wpf-container {
        margin: 46px 0 0 0 !important;
    }
    ul.slider_home_box{
        height: 300px;
    }
    .slider_logos_container{
        display: none;
    }
}

@media (max-width: 500px){
    ul.slider_home_box{
        height: 250px;
    }
}

@media (max-width: 400px){
    ul.slider_home_box{
        height: 200px;
    }
}