body{
	background: #00FFDD;
}

header{
	vertical-align: top;
}

.btn-kmimos:hover,
.btn-kmimos:focus
{
    color: #881c9b;
}
.btn-kmimos{
    font-weight: bold;
    background: #00FFDD;
    width: 100%;
    color: #881c9b;
    border: 0px;
    margin-top:3px;
}

h1{
	color:#881c9b;
	font-weight: bold;
	text-align: center; 
}

.bloque{
    background-repeat: no-repeat;
    background-size: contain;
    color: #fff;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 50px;
    padding-top: 11px;
    text-align: left;
}

#bloque1{
	background-image: url('../img/7bloquemorado2.png');
	background-repeat: no-repeat;
	background-size: contain;
	color: #fff;
    padding-right: 37px;
    padding-left: 20px;
    padding-bottom: 30px;
    padding-top: 6px;	
	text-align: right;
}

#bloque2{
    background-image: url(../img/1background.png);
}

#bloque3{
    /*background-image: url(../img/10outline2.png);*/
    background:#0fcacc;
    border-radius:15px;
    padding: 15px;
}

#bloque3 > span span{

}

#shared{
	margin-bottom:20px;
}

footer button{
    font-weight: bold;
    border-radius: 0px!important;
}

form input{
    margin-bottom:3px;
}

#footer-content{     
    border-radius: 20px;
    margin-bottom:15px;
    background: #881c9b;
    padding:25px;
}

footer h1{
    color:#fff;
    margin:2px;
}

footer h2{
    color:#fff;
    margin:2px;
}

#img-text{
    width: 160%;
}

img{
    margin: auto;
}

/***************************************/
/*  Media                              */
/***************************************/
@media  (orientation: landscape) {

}
@media  (max-width: 992px){ 
    #img-text{
        width: 100%;
    }    
    .container{
        width: 80%;
        margin: auto;
    }
}
@media 	(min-width: 767px) and 
		(max-width: 991px){ 
	
}
@media 	(min-width: 992px) { 

}
@media 	(min-width: 1200px) { 

}