.vlz_img_portada_perfil{ position: relative; height: 450px; overflow: hidden; border: solid 1px #ccc; background: #EEE; margin: 0px 5px 10px; }
.body{
	position: relative;
	overflow: hidden;
}
.menu_perfil{
	float: left;
	width: 300px;
	box-sizing: border-box;
	padding: 5px;
}

.menu_perfil ul{    
	border-bottom: solid 1px #CCC;
	margin-top: 10px;
}
.menu_perfil ul li{
	display: block;
    border-top: solid 1px #CCC;
}
.menu_perfil ul li a{
	display: block;
    padding: 10px 0px;
}
.menu_perfil ul li a i:before{
	margin-right: 5px;
}
.menu_perfil ul li a:hover{
	background: #59c9a8;
    color: #FFF;
}
.main{
	float: left;
	width: calc( 100% - 300px );
	box-sizing: border-box;
	padding: 5px;
}

/* Contenedores */

	.inputs_containers{
		display: block;
		overflow: hidden;
		padding-bottom: 15px;
	}

	.inputs_containers section{
		float: left;
		width: 50%;
	    box-sizing: border-box;
	    padding: 0px 5px;
	}

	.lbl-text{
	    display: block;
	    font-size: 16px;
	    padding: 5px 0px;
	    font-weight: 400;
	    color: #444;
	}

	.lbl-ui{
	    display: block;
	    box-sizing: border-box;
	    padding: 0px 0px 5px;
	    position: relative;
	}

	.lbl-ui input,
	.lbl-ui select,
	.lbl-ui textarea
	{
	    width: 100%;
	    padding: 10px;
	    outline: none !important;
	    resize: none;
	}

	.lbl-ui input:focus,
	.lbl-ui select:focus,
	.lbl-ui textarea:focus
	{
	    outline: none !important;
	}

	.container_full{
		width: 100% !important;
	}

	.lbl-ui textarea{
	    height: 130px;
	}

	.lbl-ui input[type="date"]{
        padding: 8px;
	}

	.container_btn{
	    overflow: hidden;
	    padding: 10px 0px;
	    margin: 10px 5px 0px;
	    border-top: solid 2px #a9a9a9;
	}

	.container_btn input{
    	float: right;
	    padding: 10px;
	    font-family: Open Sans;
	    font-size: 13px;
	    border: solid 1px #a9a9a9;
	    min-width: 200px;
	    background: #fefe78;
	    font-weight: 600;
	    cursor: pointer;
	}

	.perfil_cargando{
		display: none;
		float: right;
		width: 30px;
		height: 30px;
	    margin: 5px;
		background-size: contain;
		background-position: center; 
		background-repeat: no-repeat; 
		background-color: transparent;
	}