html {
    background-color: #2c3e50
}
.pfshowmaplink:hover {
    color: #292929
}
.pfnavmenu .pfnavsub-menu {
    min-width: 214px;
}
.wpf-footer,
.wpf-footer-text {
    color: #ffffff!important;
}
.wpf-footer-text {
    text-align: left
}
.pf-item-slider .pf-item-slider-golink:hover {
    background-color: #000
}
#pf-topprimary-nav-button2 {
    display: none!important
}
#pfsearch-draggable.pfshowmobile,
#pfsearch-draggable.pfshowmobile .pfsearch-content,
#pfsearch-draggable.pfshowmobile .pfitemlist-content,
#pfsearch-draggable.pfshowmobile .pfmapopt-content,
#pfsearch-draggable.pfshowmobile .pfuser-content {
    background-color: #456675
}
.wpfarrow {
    border-color: #fffbf5 transparent transparent transparent;
}
.pfsearchresults-loading .pfloadingimg {
    background-image: url(https://www.kmimos.com.mx/wp-content/themes/pointfinder/images/info-loading-bl.gif)!important;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center;
}
#pfsearch-draggable .pfdragcontent {
    color: #ffffff!important;
}
.pfadditional-filters:after {
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-color: rgba(255, 255, 255, 0.5);
}
.pfsopenclose i,
.pfsopenclose2 i,
.pfsopenclose2 {
    color: #ffffff
}
.pfsopenclose2:hover {
    color: #ebebeb
}
.pfcontrol-locate {
    fill: #ffffff;
}
#pfcontrol {
    left: 5px;
}
.pfsearchresults-header .select,
.pfsearchresults-header .select:hover {
    border: 1px solid #ebebeb
}
.pf-map-pin-1 {
    opacity: 0.9;
}
.pf-map-pin-1:hover,
.pf-map-pin-x:hover {
    opacity: 1!important
}
.pfmaptype-control {
    color: #ffffff!important;
}
.wpf-header #pf-primary-nav .pfnavmenu .pfnavsub-menu {
    background-color: #ffffff!important
}
.wpf-header #pf-primary-nav .pfnavmenu .pfnavsub-menu li,
#pf-topprimary-nav .pfnavmenu .pfnavsub-menu li {
    border-bottom: 1px solid #ffffff
}
hr,
.widgetheader,
.dsidx-prop-title,
#dsidx-listings .dsidx-primary-data,
.pfwidgetinner .select,
.pfwidgetinner .select:hover,
.widget_pfitem_recent_entries ul li,
#jstwitter .tweet,
.pfwidgetinner .dsidx-search-widget select,
.pf-bbpress-forum-container .bbp-pagination,
.pf-bbpress-forum-container .bbp-topic-form,
.pf-bbpress-forum-container .bbp-reply-form,
#bbpress-forums fieldset.bbp-form input,
#bbpress-forums fieldset.bbp-form textarea,
#bbpress-forums li.bbp-header,
.bbp-search-form input,
.bbp-submit-wrapper button,
.dsidx-widget li,
.dsidx-list li,
#dsidx-actions,
#dsidx-header,
#dsidx-description,
#dsidx-secondary-data,
.dsidx-supplemental-data,
#dsidx-map,
.dsidx-contact-form,
#dsidx-contact-form-header,
.dsidx-details h3,
#dsidx-property-types,
#bbp-user-navigation,
#dsidx textarea,
#dsidx table,
#dsidx-contact-form-submit,
.dsidx-search-widget input,
.widget_search input,
.pf_pageh_title .pf_pageh_title_inner,
.pf-agentlist-pageitem .pf-itempage-sidebarinfo-elname,
.pfajax_paginate>.page-numbers>li>a,
.pfstatic_paginate>.page-numbers>li>a,
.pf-item-title-bar,
.pf-itempage-sharebar,
.pf-itempage-sharebar .pf-sharebar-others li a,
.pf-itempage-sharebar .pf-sharebar-others li:first-child,
.pf-itempage-sharebar .pf-sharebar-icons li,
.pf-itempage-sharebar .pf-sharebar-others li:last-child a,
.ui-tabgroup>.ui-panels>[class^="ui-tab"],
.pfitempagecontainerheader,
.pf-itempage-ohours ul li,
.pfdetailitem-subelement,
.pfmainreviewinfo,
.pf-itempage-subheader,
.review-flag-link,
.pf-itemrevtextdetails,
.comments .comment-body,
.pfreviews .pfreview-body,
.pfajax_paginate>.page-numbers>li,
.pfstatic_paginate>.page-numbers>li,
.pf-authordetail-page .pf-itempage-sidebarinfo-elname,
.pf-itempage-sidebarinfo .pf-itempage-sidebarinfo-userdetails ul .pf-itempage-sidebarinfo-elitem i,
.pf-itempage-subheader,
.pf-itempage-maindiv .ui-tabs,
.pf-itempage-maindiv .pf-itempagedetail-element,
.pftrwcontainer.pfrevformex,
.pf-itempage-uaname,
#pfuaprofileform .select,
#pfuaprofileform .button,
.pfmu-payment-area .select,
.pfmu-payment-area .select:hover,
.pfmu-itemlisting-inner .pfmu-userbuttonlist-item .button,
.pfmu-itemlisting-inner .pfmu-userbuttonlist-item .button:hover,
.pfuaformsidebar .pf-sidebar-cartitems .pftotal,
.pfuaformsidebar .pf-sidebar-menu li:last-child,
.pfuaformsidebar .pf-sidebar-menu li:first-child,
.pfuaformsidebar .pf-sidebar-menu li,
#pfuaprofileform .pfmu-itemlisting-inner,
#bbpress-forums li.bbp-body ul.forum,
#bbpress-forums li.bbp-body ul.topic,
.post-minfo,
.pf-post-comment-inner,
.pointfinder-post .post-minfo,
.post-mtitle,
.widget_pfitem_recent_entries .golden-forms .button.pfsearch,
.pf-uadashboard-container .pfalign-right,
.post,
.post-mtitle,
.single-post .post-minfo,
.pf-singlepost-clink,
#pf-contact-form-submit,
.pf-notfound-page .btn-success,
.golden-forms .input,
.pflist-item-inner .pflist-subitem,
.pflistgridview .pflistcommonview-header .searchformcontainer-filters .pfgridlist2,
.pflistgridview .pflistcommonview-header .searchformcontainer-filters .pfgridlist3,
.pflistgridview .pflistcommonview-header .searchformcontainer-filters .pfgridlist4,
.pflistgridview .pflistcommonview-header .searchformcontainer-filters .pfgridlist5,
.pflistgridview .pflistcommonview-header .searchformcontainer-filters .pfgridlist6,
.pfheaderbarshadow2,
.comment-reply-title small a,
.comment-body .reply,
#item-map-page,
.widget_pfitem_recent_entries .pf-widget-itemlist li:last-child,
.widget_pfitem_recent_entries .pf-widget-itemlist li,
.pf-enquiry-form-ex,
.pointfinder-comments-paging a,
.pfwidgetinner,
.pf-page-links,
.pfsubmit-title,
.pfsubmit-inner,
.pf-itempage-br-xm-nh,
.pf-itempage-br-xm,
.pf-item-extitlebar,
.itp-featured-img,
.wpf-header.pfshrink,
#pf-itempage-page-map-directions .gdbutton,
#pf-itempage-page-map-directions .gdbutton2,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.pf-dash-userprof .pf-dash-packageinfo .pf-dash-pinfo-col,
.pf-membership-package-box,
.pf-membership-upload-option,
.pf-lpacks-upload-option,
.pf-membership-price-header,
.pf-dash-errorview-plan,
#pfuaprofileform .mce-panel,
.pf-listing-item-inner-addinfo ul li,
.pf-listing-item-inner-addinfo,
#pfuaprofileform .pfhtitle .pfmu-itemlisting-htitle,
#pfuaprofileform .pfhtitle,
#pfuaprofileform .pfmu-itemlisting-container .pfmu-itemlisting-inner,
#pfuaprofileform .pfmu-itemlisting-container.pfmu-itemlisting-container-new .pfmu-itemlisting-inner,
.pflistingtype-selector-main label,
.pfpack-selector-main label,
.pfitemlists-content-elements.pf1col .pflist-item {
    border-color: #848484!important;
}
.pfuaformsidebar .pf-sidebar-menu li.pf-dash-userprof:hover,
.pf-membership-price-header {
    background-color: #fefe78;
    color: #333333;
}
.widget_pfitem_recent_entries .pf-widget-itemlist li:hover {
    box-shadow: 0 0 10px #848484;
}
.pfwidgetinner.pfemptytitle {
    border-top: 1px solid #848484
}
.pfdetailitem-subelement .pfdetail-ftext.pf-pricetext {
    color: #a32221!important;
}
.pf-arrow-up {
    border-bottom-color: #848484
}
.pfwidgettitle .widgetheader:after,
.pf_pageh_title .pf_pageh_title_inner:after,
.pf-item-title-bar:after,
.pfitempagecontainerheader:after,
.pf-itempage-subheader:after,
.pfmu-itemlisting-htitle.pfexhtitle:after,
.pf-agentlist-pageitem .pf-itempage-sidebarinfo-elname:after,
.post-mtitle:after,
.single-post .post-title:after,
.dsidx-prop-title:after,
#dsidx-listings .dsidx-listing .dsidx-primary-data:after,
#dsidx-actions:after,
.pf-itempage-sidebarinfo .pf-itempage-sidebarinfo-userdetails ul .pf-itempage-sidebarinfo-elname:after {
    border-color: #a32221
}
#pointfinder-search-form .golden-forms .slider-wrapper,
#pointfinder-search-form .golden-forms .sliderv-wrapper {
    background: #28353d!important;
}
#pfsearch-draggable .slider-input,
.golden-forms input,
.golden-forms button,
.golden-forms select,
.golden-forms select optgroup,
.golden-forms textarea,
.wpcf7 input,
.wpcf7 button,
.wpcf7 select,
.wpcf7 textarea,
.select2-results .select2-result-label,
.woocommerce #content input.button.alt,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce .cart .button,
.woocommerce .cart input.button .woocommerce input.button.alt,
.woocommerce-page #content input.button.alt,
.woocommerce-page #respond input#submit.alt,
.woocommerce-page a.button.alt,
.woocommerce-page button.button.alt,
.woocommerce-page input.button.alt,
#pf-itempage-page-map-directions .gdbutton,
#pf-itempage-page-map-directions .gdbutton2 {
    font-size: 13px;
}
#pfuaprofileform .select,
#pfuaprofileform .select-multiple,
#pfuaprofileform .button,
.pfmu-payment-area .select,
.pfmu-payment-area .select:hover,
.pfmu-itemlisting-inner .pfmu-userbuttonlist-item .button,
.widget_tag_cloud a,
.golden-forms #commentform .button,
.ui-tabgroup>.ui-tabs>[class^="ui-tab"],
.pfmu-itemlisting-inner .pfmu-userbuttonlist-item .button:hover,
.woocommerce #content input.button.alt,
.woocommerce .cart .button,
.woocommerce .cart input.button .woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce-page #content input.button.alt,
.woocommerce-page #respond input#submit.alt,
.woocommerce-page a.button.alt,
.woocommerce-page button.button.alt,
.woocommerce-page input.button.alt {
    border: 1px solid #848484
}
.woocommerce #content input.button.alt,
.woocommerce .cart .button,
.woocommerce .cart input.button .woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce-page #content input.button.alt,
.woocommerce-page #respond input#submit.alt,
.woocommerce-page a.button.alt,
.woocommerce-page button.button.alt,
.woocommerce-page input.button.alt {
    color: #333333;
}
.woocommerce #content input.button.alt:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce .cart .button:hover,
.woocommerce .cart input.button:hover .woocommerce-page #content input.button.alt:hover,
.woocommerce-page #respond input#submit.alt:hover,
.woocommerce-page a.button.alt:hover,
.woocommerce-page button.button.alt:hover,
.woocommerce-page input.button.alt:hover {
    color: #000000;
}
.woocommerce #content input.button.alt,
.woocommerce .cart .button,
.woocommerce .cart input.button .woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce-page #content input.button.alt,
.woocommerce-page #respond input#submit.alt,
.woocommerce-page a.button.alt,
.woocommerce-page button.button.alt,
.woocommerce-page input.button.alt {
    background-color: #fefe78;
}
.woocommerce #content input.button.alt:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce .cart .button:hover,
.woocommerce .cart input.button:hover .woocommerce-page #content input.button.alt:hover,
.woocommerce-page #respond input#submit.alt:hover,
.woocommerce-page a.button.alt:hover,
.woocommerce-page button.button.alt:hover,
.woocommerce-page input.button.alt:hover {
    background-color: #dff58b;
}
.pf-sidebar-menu li a .pfbadge {
    background-color: #333333;
    color: #fefe78;
}
.widget_tag_cloud a {
    background-color: #fefe78;
    color: #333333;
}
.pfajax_paginate>.page-numbers>li>.current,
.pfstatic_paginate>.page-numbers>li>.current,
.pointfinder-comments-paging .current,
.pointfinder-comments-paging a:hover,
.pfajax_paginate>.page-numbers>li>a:hover,
.pfstatic_paginate>.page-numbers>li>a:hover {
    border-color: #a32221!important;
}
.pftogglemenulist li[data-pf-toggle="active"] {
    background-color: rgba(69, 102, 117, 0.9)!important;
}
.pftogglemenulist li[data-pf-toggle="active"] i {
    color: #ffffff!important;
}
@media (max-width: 568px) {
    .pftogglemenulist li[data-pf-toggle="active"] {
        background-color: #456675!important;
    }
}
.pftogglemenulist li[data-pf-toggle="active"]:after {
    border-color: #ffffff!important;
}
.ui-tabgroup>.ui-tabs>[class^="ui-tab"] {
    color: #676767;
    background-color: #41b399
}
.ui-tabgroup>.ui-tabs>[class^="ui-tab"]:hover {
    color: #a32221;
}
.comment-reply-title small a,
.comment-body .reply {
    background-color: #41b399
}
.ui-tabgroup>input.ui-tab1:checked~.ui-tabs>.ui-tab1,
.ui-tabgroup>input.ui-tab2:checked~.ui-tabs>.ui-tab2,
.ui-tabgroup>input.ui-tab3:checked~.ui-tabs>.ui-tab3,
.ui-tabgroup>input.ui-tab4:checked~.ui-tabs>.ui-tab4,
.ui-tabgroup>input.ui-tab5:checked~.ui-tabs>.ui-tab5,
.ui-tabgroup>input.ui-tab6:checked~.ui-tabs>.ui-tab6,
.ui-tabgroup>input.ui-tab7:checked~.ui-tabs>.ui-tab7,
.ui-tabgroup>input.ui-tab8:checked~.ui-tabs>.ui-tab8,
.ui-tabgroup>input.ui-tab9:checked~.ui-tabs>.ui-tab9 {
    color: #a32221;
    background-color: #46b89e;
}
.ui-tabgroup>input.ui-tab1:checked~.ui-tabs>.ui-tab1:after,
.ui-tabgroup>input.ui-tab2:checked~.ui-tabs>.ui-tab2:after,
.ui-tabgroup>input.ui-tab3:checked~.ui-tabs>.ui-tab3:after,
.ui-tabgroup>input.ui-tab4:checked~.ui-tabs>.ui-tab4:after,
.ui-tabgroup>input.ui-tab5:checked~.ui-tabs>.ui-tab5:after,
.ui-tabgroup>input.ui-tab6:checked~.ui-tabs>.ui-tab6:after,
.ui-tabgroup>input.ui-tab7:checked~.ui-tabs>.ui-tab7:after,
.ui-tabgroup>input.ui-tab8:checked~.ui-tabs>.ui-tab8:after,
.ui-tabgroup>input.ui-tab9:checked~.ui-tabs>.ui-tab9:after {
    border-color: #46b89e
}
.ui-tabgroup>input.ui-tab1:checked~.ui-tabs>.ui-tab1:before,
.ui-tabgroup>input.ui-tab2:checked~.ui-tabs>.ui-tab2:before,
.ui-tabgroup>input.ui-tab3:checked~.ui-tabs>.ui-tab3:before,
.ui-tabgroup>input.ui-tab4:checked~.ui-tabs>.ui-tab4:before,
.ui-tabgroup>input.ui-tab5:checked~.ui-tabs>.ui-tab5:before,
.ui-tabgroup>input.ui-tab6:checked~.ui-tabs>.ui-tab6:before,
.ui-tabgroup>input.ui-tab7:checked~.ui-tabs>.ui-tab7:before,
.ui-tabgroup>input.ui-tab8:checked~.ui-tabs>.ui-tab8:before,
.ui-tabgroup>input.ui-tab9:checked~.ui-tabs>.ui-tab9:before {
    border-color: #a32221
}
#pf-footer-row #wp-calendar tbody td:hover {
    background-color: #ffffff
}
#pf-footer-row #wp-calendar tbody #today {
    background-color: #ffffff
}
#pf-footer-row .widget_pfitem_recent_entries ul li,
#pf-footer-row #jstwitter .tweet {
    border-bottom-color: #848484!important
}
.pflist-imagecontainer .RibbonCTR .Triangle:after,
.wpfimage-wrapper .RibbonCTR .Triangle:after {
    border-top: 40px solid #ffffff;
}
.pflist-imagecontainer .RibbonCTR .Sign a[data-pf-active=true] i,
.wpfimage-wrapper .RibbonCTR .Sign a[data-pf-active=true] i {
    color: #B32E2E
}
@media (max-width: 568px) {
    .wpf-header .wpf-navwrapper {
        height: 37px;
    }
}
#pf-primary-nav .pfnavmenu li.selected>.pfnavsub-menu {
    border-top: 2px solid #23475e;
}
#pf-primary-nav .pfnavmenu li>a:hover {
    border-bottom: 2px solid #23475e;
}
.wpf-header .pf-menu-container {
    margin-top: 0;
}
.wpf-header.pfshrink .pf-menu-container {
    margin: 0;
}
.wpf-header.pfshrink #pf-primary-nav .pfnavmenu .main-menu-item>a {
    height: 37px;
    line-height: 37px;
}
.wpf-header #pf-primary-nav .pfnavmenu .main-menu-item>a {
    height: 74px;
    line-height: 74px;
}
.wpf-header .pf-logo-container {
    margin: 12px 0;
    height: 50px;
}
.pf-logo-container {
    background-image: url(https://www.kmimos.com.mx/wp-content/uploads/2017/02/logo-kmimos.png);
    background-size: 185px 50px;
    width: 185px;
}
.wpf-header.pfshrink .pf-logo-container {
    height: 25px;
    margin: 6px 0;
}
.wpf-header.pfshrink .pf-logo-container {
    background-size: 92.5px 25px;
    width: 92.5px;
}
@media (max-width: 568px) {
    .wpf-header .pf-logo-container {
        height: 25px;
        margin: 6px 0;
    }
    .wpf-header .pf-logo-container {
        background-size: 92.5px 25px;
        width: 92.5px;
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
    .pf-logo-container {
        background-image: url();
        background-size: 94px 15px;
        width: 94px;
    }
}
#pf-topprimary-navmobi,
#pf-topprimary-navmobi2 {
    border: 1px solid #cccccc;
}
#pf-topprimary-navmobi .pf-nav-dropdownmobi li,
#pf-topprimary-navmobi2 .pf-nav-dropdownmobi li {
    border-bottom: 1px solid #cccccc;
}
#pf-primary-nav-button,
#pf-topprimary-nav-button2,
#pf-topprimary-nav-button,
#pf-primary-search-button {
    border-color: #ffffff;
}
@media (max-width: 992px) {
    #pf-topprimary-nav-button,
    #pf-topprimary-nav-button2,
    #pf-primary-nav-button,
    #pf-primary-search-button {
        top: 12px;
        z-index: 3
    }
}
@media (max-width: 568px) {
    #pf-topprimary-nav-button,
    #pf-topprimary-nav-button2,
    #pf-primary-nav-button,
    #pf-primary-search-button {
        top: 3px;
        z-index: 3
    }
}
.wpf-container,
#pfuaprofileform div.mce-fullscreen {
    margin: 104px 0 0 0;
}
@media (max-width:1199px) {
    #pfpostitemlink {
        top: 44px
    }
    .wpf-header.pfshrink #pfpostitemlink {
        top: 8px
    }
}
.postanitem-inner {
    border-color: #ededed;
}
#pfpostitemlink a {
    height: 30px!important;
    line-height: 29px!important;
    margin-top: 30px!important;
}
@media (min-width: 1199px) {
    .wpf-header.pfshrink #pf-primary-nav .pfnavmenu #pfpostitemlink>a {
        margin-top: 3px!important;
    }
}
#pfuaprofileform .pfhtitle,
.pf-listing-item-inner-addinfo {
    background-color: #41b399
}
.pflist-itemtitle {
    height: 40px;
}
#login {
    width: 320px !important;
}
.pfshowmaplink {
    margin-left: 12px !important;
    margin-right: 20px !important;
    float: left;
    padding-top: 13px !important;
    width: 100px;
}
@media screen and (max-width: 360px) {
    #select2-drop {
        left: 10px !important;
    }
}
.woocommerce-shipping-fields h3 label {
    margin: 0px;
}