.vlz_modal{ position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; display: table; z-index: 10000; background: rgba(0, 0, 0, 0.8); vertical-align: middle !important; display: none; }
h1{     
	font-size: 18px;
    font-weight: 400;
    font-family: "Open Sans",Arial, Helvetica, sans-serif; 
}
h2{ font-size: 16px; }
.vlz_modal_interno{ display: table-cell; text-align: center; vertical-align: middle !important; }
.vlz_modal_ventana{ position: relative; display: inline-block; width: 60%!important; text-align: left; box-shadow: 0px 0px 4px #FFF; border-radius: 5px; z-index: 1000; }
.vlz_modal_titulo{ background: #FFF; padding: 15px 10px; font-size: 18px; color: #52c8b6; font-weight: 600; border-radius: 5px 5px 0px 0px; }
.vlz_modal_contenido{ background: #FFF; height: 450px; box-sizing: border-box; padding: 5px 15px; border-top: solid 1px #d6d6d6; border-bottom: solid 1px #d6d6d6; overflow: auto; text-align: justify; }
.vlz_modal_pie{ background: #FFF; padding: 15px 10px; border-radius: 0px 0px 5px 5px; }
.vlz_modal_fondo{ position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 500; }
.vlz_boton_siguiente{ padding: 10px 50px; background-color: #a8d8c9; display: inline-block; font-size: 16px; border: solid 1px #2ca683; border-radius: 3px; float: right; cursor: pointer; } 
@media screen and (max-width: 750px){ .vlz_modal_ventana{ width: 90% !important; } }
@media only screen {
#wc-deposits-options-form input.input-radio:enabled ~ label { color: {$colors['secondary']}; }
#wc-deposits-options-form div a.wc-deposits-switcher {
  background-color: {$colors['primary']};
  background: -moz-gradient(center top, {$gstart} 0%, {$gend} 100%);
  background: -moz-linear-gradient(center top, {$gstart} 0%, {$gend} 100%);
  background: -webkit-gradient(linear, left top, left bottom, from({$gstart}), to({$gend}));
  background: -webkit-linear-gradient({$gstart}, {$gend});
  background: -o-linear-gradient({$gstart}, {$gend});
  background: linear-gradient({$gstart}, {$gend});
}
#wc-deposits-options-form .amount { color: {$colors['highlight']}; }
#wc-deposits-options-form .deposit-option { display: inline; }

.destacados_box{
	overflow: hidden;
}
.vlz_destacados_contenedor{
    width: 25%;
    display: inline-block;
    float: left;
    position: relative;
    margin: 0px 0px 5px;
}
.vlz_destacados_contenedor_interno{
    border: solid 1px #CCC;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #CCC;
    height: 180px;
    margin: 0px 5px 0px 0px;
}
.vlz_destacados_img{
    position: relative;
    width: calc( 100% - 10px );
    height: 125;
    margin: 5px 5px 0px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.vlz_descado_img_fondo{
    position: relative;
    width: calc( 100% - 10px );
    height: 125px;
    margin: 5px 5px 0px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(1px);
}

.vlz_descado_img_normal{
	position: absolute;
    top: 0px;
    left: 0px;
    width: calc( 100% - 10px );
    height: 115px;
    margin: 5px 5px 0px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.vlz_destacados_data{
	
}

.vlz_destacados_nombre{
	font-size: 17px;
	font-weight: 600;
	color: #777777;
	padding: 5px 5px 0px;
	display: block;
	text-align: left;
}

.vlz_destacados_adicionales{
    text-align: right;
    padding: 0px 5px;
}

.vlz_destacados_adicionales i{
    font-size: 19px;
    color: #797979;
}

.vlz_destacados_adicionales .icono-servicios {
    background-color: #FFF;
}

.vlz_destacados_adicionales .icono-servicios:after {
    margin-left: -7px;
    border-width: 4px 7px;
    border: transparent;
}

.vlz_destacados_precio{
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    padding: 15px 10px 5px;
    display: block;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.75)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%,rgba(0,0,0,0.75) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#4d000000',GradientType=0 );
}
.pflist-item {
    overflow: visible;
}
.pflist-item-inner {
    padding-bottom: 0px;
    box-shadow: 1px 1px 1px #CCC;
    border: solid 1px #CCC !important;
    border-radius: 0px;
}
.pflist-item .pfHoverButtonStyle > a{line-height: 1px;}
.productos_titulo{
    font-family: "Open Sans",Arial, Helvetica, sans-serif;
    line-height: 20px;
    font-weight: 600;
    font-style: normal;
    color: #444444;
    font-size: 16px;
    border-bottom: solid 2px #848484;
    padding: 5px 0px;
    margin: 0px 0px 10px;
}

.wc-bookings-booking-form .form-field input[type=number] {
    width: 25%;
    border-radius: 3px;
    padding: 3px;
    border: 1px #ccc solid;
}

.cart * {
    font-family: "Open Sans",Arial, Helvetica, sans-serif;
    line-height: 19px;
    font-size: 13px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
.wc-bookings-date-picker .ui-datepicker-header *{
    color: #fff !important;
}
.wc-bookings-date-picker td.bookable a {
    background-color: #eaeaea!important;
    background-image: none!important;
    border-color: rgba(0,0,0,.1)!important;
    color: #b7b7b7 !important;
    text-shadow: none !important;
}

.wc-bookings-date-picker td.ui-datepicker-current-day a {
    background: #FF4900!important;
    opacity: 1 !important;
}

.wc-bookings-date-picker td.bookable-range .ui-state-default {
    background: #FF4900 !important;
    color: #fff !important;
}
.ui-datepicker-calendar >thead >tr >th, .ui-datepicker-calendar >tbody >tr >td {padding: .1em .1em!important;line-height: normal!important;}
.woocommerce button.button.alt{
    background-color: #60cbac !important;
    color: #fff !important;
}

#wc-deposits-options-form div a.wc-deposits-switcher {
    background-color: #fb4700 !important;
    background: -moz-gradient(center top, #ad74a2 0%, #93638a 100%);
    background: -moz-linear-gradient(center top, #ad74a2 0%, #93638a 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff4900), to(#ff4900));
    background: -webkit-linear-gradient(#ff4900, #ff4900) !important;
    background: -o-linear-gradient(#ad74a2, #93638a) !important;
    background: linear-gradient(#ff4900, #ff4900) !important;
}

.switch-candy {
    background-color: #ececec;
    border-radius: 3px;
    color: #737373;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 0px 0px #191b1e;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.3), 0 0px 0 rgba(255, 255, 255, 0.2);
}

#wc-deposits-options-form input.input-radio:enabled ~ label {
    text-shadow: rgba(0, 0, 0, 0.6) 0px 0px 0px !important;
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px -1px 0px 0px inset,
 rgba(255, 255, 255, 0.298039) 0px 1px 0px 0px inset,
 rgba(0, 0, 0, 0.0980392) 0px 1px 2px 0px !important;
    font-weight: 400;
    font-style: normal;
    color: #494949;
}

.switch-candy a {
    border: none;
}

.switch-candy span {
    color: #000000;
}

.wc-bookings-booking-form .form-field input[type=number] {
    width: 25%;
    border-radius: 3px;
    padding: 3px;
    border: 1px #ccc solid;
}

.wc-bookings-date-picker .ui-datepicker td.bookable a {
    background-color: #eaeaea!important;
    background-image: none!important;
    border-color: rgba(0,0,0,.1)!important;
    color: #b7b7b7 !important;
    text-shadow: none !important;
}

.wc-bookings-date-picker .ui-datepicker td.ui-datepicker-current-day a {
    background: #FF4900!important;
    opacity: 1 !important;
}

.wc-bookings-date-picker .ui-datepicker td.bookable-range .ui-state-default {
    background: #FF4900 !important;
    color: #fff !important;
}
.wc-bookings-date-picker .ui-datepicker .ui-datepicker-next, .wc-bookings-date-picker .ui-datepicker .ui-datepicker-prev {
    background: transparent !important;
    height: 44px;
}
.wc-bookings-booking-form fieldset {
    border: 0px;
}
.woocommerce div.product form.cart .button {
    float: right;
    color: rgb(255, 255, 255);
    background-color: rgb(248, 71, 0);
}
.xdisabled {
    background-color: rgb(96, 203, 172) !important;
}
.wc-bookings-booking-form .wc-bookings-booking-cost {
    background: #eee;
    border-top: 1px solid #ddd;
    position: relative;
    padding: 1em;
    margin: 0px 0px 10px !important;
    color: #ff0000;
    font-weight: bolder !important;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 3px solid #FF4900;
}
.wc-bookings-booking-form fieldset {
    padding: 0px;
}
.wc-bookings-booking-form fieldset legend {
    font-weight: 600;
    padding: 0px 0px 10px !important;
}
