.vlz_contenedor_resultados{
	overflow: hidden;
	position: relative;
}

.vlz_contenedor_resultados .vlz_cuidador_cont{
	position: relative;
	float: left;
	width: 33.33333333%;
	height: 300px;
	box-sizing: border-box;
	padding: 10px;
}

.vlz_contenedor_resultados .vlz_cuidador_cont a{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100;
}

div.inside ul li a{
	text-transform: uppercase!important;
    font-size: 176%!important;
    font-weight: 600!important;
    color: #2ca683!important;
    line-height: 1.5!important;
} 
div.inside ul li a:hover{
    color: #59c9a8!important;
} 

p.myaccount_user a{
	color: #2ca683!important;
}
p.myaccount_user a:hover{
	color: #59c9a8!important;
}

/*THEME*/
.theme_title{}
.theme_content{}
.theme_button{
	color: #FFF;
	background-color: #00d2b7;
	border-color: #00d2b7;
}

.wpf-header, #pf-topprimary-navmobi, #pf-topprimary-navmobi2 {
    background: #59c9a8 !important;
}
.wpf-header #pf-primary-nav .pfnavmenu .main-menu-item>a {
    color: #FFF !important;
}
.wpf-header {
    border-bottom: 1px solid #456675 !important;
}
.wpf-header .pftopline {
    background: #23475e !important;
}