@font-face {font-family: 'PoetsenOne';src: url('../font/PoetsenOne-Regular.ttf')  format('truetype');}
@font-face {font-family: 'CaviarDreams';src: url('../font/CaviarDreams.ttf')  format('truetype');}
@font-face {font-family: 'CaviarDreamsBold';src: url('../font/CaviarDreams_Bold.ttf')  format('truetype');}
body{background: #66d2c2; color: #3a3a3a; font-family: 'Lato', sans-serif; font-weight: 900!important; word-wrap: break-word;}
section{clear: both;}
strong{font-weight: 900;}

/***************************************/
/*  Global	                       */
/***************************************/
.container-fluid{
	padding: 0px!important; 
	margin: 0px!important;
	width: 100%!important;
}
.color-azul{
	background:#7cd2c5!important;
}
.bg-color-morado{
	background: #7b179d!important; 
}
.controll-pagination{
	text-align:center;
	margin-top:10px;
	font-size: 30px;	
}
.background{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background: center / cover no-repeat; 
	padding-top: 50%;
    margin-top: 5%;
}

/***************************************/
/*  Section-1                          */
/***************************************/
#section-1 > article{
	margin: 0px!important;
}
.logo-negro{
	position: absolute;
	left: 6%;
	top: 10%;
}
#section-1{
    background-image: url(../img/fondo-sc4.jpg);
    padding-top: 35%;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'PoetsenOne', sans-serif;
    overflow: hidden;
}

/***************************************/
/*  Section-2                          */
/***************************************/
#section-2{
	font-family: 'PoetsenOne';
    width: 100%;
    height: 200px;
    font-size: 22px;
    color: #FAFAFA;
    background:#7cd2c5!important;
}
#section-2 h1{
	font-size: 30pt;
    margin-top: 6%;
    margin-left: 8%;
    text-shadow: -3px 1px 3px #5F5C57;
}

/***************************************/
/*  Section-3                          */
/***************************************/
#section-3{
	color: #fff;
	font-weight: normal!important;
	font-family: 'Lato', sans-serif!important;
	padding: 2%;
	overflow: hidden;
}
#section-3 label{
	font-weight: 100;
}
.title{
	font-family: 'PoetsenOne';
	color: #fff!important;
	text-align: center;
	font-size: 35pt;
	margin-top: 0px!important;
	margin-bottom: 0px!important;
}
.title-label{
	font-family: 'CaviarDreams';
    font-size: 22px;
    text-align: center;
    margin-top: 5%;
    position: relative;
    margin-bottom: 2%;
}
#section-3 input{
	font-family: 'CaviarDreams';
	border-radius: 8px 8px 8px 8px;
	height: 50px;
	padding: 10px 20px 10px 20px ;    
  	width: calc(60% - 90px);
	color:#F2F2F2;
	margin-right: 20px;
	margin-top: 2%;
}
.btn-inscribirme{
	font-family: 'CaviarDreamsBold';
	background: #42d8d2;
	font-size: 25px;
	font-weight: 700;
}

/***************************************/
/*  Section-4                          */
/***************************************/
#section-4{
	background: #fff;
}
#section-4 p{
	font-family: 'CaviarDreams'; 
	font-size: 14pt; 
	color: black;
	font-weight: normal;
	margin-top: -5%;
}
#section-4 h3{
	font-family: 'PoetsenOne', sans-serif;
	font-size: 30pt;
	font-weight: bold;
	margin-top: 4px;
	margin-bottom: 4px;
	color: #000;
	background: #fff;
}
#section-4 h4{
	font-family: 'CaviarDreams';
	font-size: 17pt;
	font-weight: bold;
	color: #000;
}
#section-4 article{
	vertical-align: middle;
	padding:55px 0px 40px 0px;

}
.lado{
	margin-left: -15%;
	margin-top: -5%;
}
#section-4 img{
	margin: 0px auto;
	position: relative;
    margin-left: 70%;
}

/***************************************/
/*  Section-5                          */
/***************************************/
#section-5{
	background: #edeef0;
	overflow: hidden;
}
#section-5 h3{
	font-family: 'CaviarDreams';
	font-size: 16pt;
	margin-left: 13%;
	margin-bottom: 5%;
}
#section-5 img{
	margin: 0px auto;	
}

#section-5 span{
	font-family: 'PoetsenOne', sans-serif;
	font-size: 50px;
	color:#7b179d;
	float: right;
	position: absolute;
	top: 2%;
    left: 90%;
}
#section-5 p{
	font-family: 'CaviarDreams';
	font-weight: 100;
}
.cuadrado{
	border: 1px solid #d4cccc;
    border-radius: 10px;
    width: 60%;
    padding: 3%;
    margin-left: 20%;
    margin-top: 5%;
}
.sp{margin-bottom: 3%;}
/***************************************/
/*  Section-6   aad434                       */
/***************************************/
#section-6{ 
	background: #fff;
	color: #fff;
	font-weight: lighter;
	padding: 20px 0px 20px 0px;
	overflow: hidden;
}
#section-6 h1{
	font-family: "PoetsenOne";
	left: 15%;
    position: relative;
    text-shadow: -3px 1px 3px #5F5C57;
}

.verde{background: #aad434; padding: 4%; margin-top: 0%; margin-top: -2%;}
.circulo-verde{
	background: #aad434; 
	width: 50px; 
	height: 50px;  
	-moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding: 12%;
    margin-top: -3%;
    position: absolute;
    margin-left: -5%;
}
#section-6 img{
	width: 50%;
    margin-top: 5%;
    margin-left: 20%;
}

#section-6 p{
	font-family: 'CaviarDreams';
    font-size: 17pt;
    text-align: center;
    color: #000;
}
/***************************************/
/*  section-7                          */
/***************************************/
#section-7{
	padding: 30px 0px 30px 0px;
	text-align: center;
	overflow: hidden;
}
#section-7 h1{
	font-family: 'CaviarDreams';
	color: #fff;
	font-size: 30pt;
}
.btn-footer{
	font-family: 'CaviarDreamsBold';
	background: #fff;
	color: #7b179d!important;
	font-size: 25px;
	padding: 10px 20px 10px 20px ;    
  	width: calc(30% - 90px);
  	border-radius: 15px 15px 15px 15px;
}


/***************************************/
/*  footer                             */
/***************************************/
footer{
	color: #fff;
	padding-top: 30px;
	overflow: hidden;
}
header{
	background: #00B190;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 20px;
	clear: both;
}
.logo-kmimos{
	width: 20%;
	margin-top:10px;
}

/***************************************/
/*  Media                              */
/***************************************/
@media (min-width: 1280px){
	#section-2 h1 {font-size: 36pt; margin-top: 4%; margin-left: 12%;}

	#section-5 h3 {margin-left: 15%;}
	.move-lg{margin-left: -5%;}
	.sp {margin-bottom: 3%;margin-left: 15%;}
	.baja-lg{margin-top: 1%;}
	#section-4 img {margin-top: 2%;margin-left: 80%;}
	#section-4 p {margin-top: -3%;}
}
@media (min-width: 766px) and (max-width: 999px){
	#section-1{padding-top: 50%;}
	.logo-negro{width: 25%;}
	#section-2{width: 100%;	height: 100px;}
	#section-2 h1 {font-size: 20pt; margin-left: 3%;margin-top: 4%;}
	#section-3 {padding: 4%;}
	.title {font-size: 25pt;}
	.title-label {font-size: 17px;}
	#section-3 input {    width: calc(100% - 100px);margin-left: -15%;}
	.btn-inscribirme {font-size: 22px;}
	#section-4 h3 {font-size: 26pt;}
	#section-4 img {margin-left: 50%;}
	#section-4 h4 {font-size: 16pt;margin-left: 25%;}
	#section-4 p {font-size: 14pt;margin-top: -5%;margin-left: 20%;}
	#section-5 h3 {font-size: 18pt;	margin-bottom: 5%;}
	.cuadrado {width: 90%;}
	.sp {margin-left: -3%;}
	#section-5 span {font-size: 39px;top: 12%; left: 93%;}
	.cuadrado {margin-bottom: 29%;}
	.verde {padding: 4%; margin-top: -6%; margin-left: -2%;}
	.circulo-verde {padding: 9%; margin-top: 0%;margin-left: -3%;}
	#section-6 h1 {left: 4%;font-size: 14pt;}
	#section-6 img {width: 75%; margin-top: 10%; margin-left: 10%;}
	#section-7 h1 {font-size: 15pt;}
	.btn-footer {font-size: 15px;width: calc(90% - 90px);}
}
@media (min-width: 410px) and (max-width: 765px){
	#section-1{padding-top: 50%;}
	.logo-negro{width: 25%;}
	#section-2{width: 100%;	height: 100px;}
	#section-2 h1 {font-size: 16pt; margin-left: 3%;margin-top: 8%;}
	#section-3 {padding: 4%;}
	.title {font-size: 25pt;}
	.title-label {font-size: 17px;}
	#section-3 input {width: calc(100% - 1px);}
	.btn-inscribirme {font-size: 22px;}
	#section-4 h3 {font-size: 26pt;}
	#section-4 img {margin-left: 50%;}
	#section-4 h4 {font-size: 16pt;margin-left: 25%;}
	#section-4 p {font-size: 14pt;margin-top: -5%;margin-left: 20%;}
	#section-5 h3 {font-size: 18pt;	margin-bottom: 15%;}
	#section-5 span {font-size: 39px;top: 100%; left: 42%;}
	.cuadrado {margin-bottom: 29%;}
	.verde {padding: 4%; margin-top: -6%; margin-left: -2%;}
	.circulo-verde {padding: 15%; margin-top: 1%;margin-left: -8%;}
	#section-6 h1 {left: 4%;font-size: 14pt;}
	#section-6 img {width: 75%; margin-top: 10%; margin-left: 10%;}
	#section-7 h1 {font-size: 15pt;}
	.btn-footer {font-size: 15px;width: calc(90% - 90px);}
}
@media (min-width: 280px) and (max-width: 409px){
	#section-1{padding-top: 50%;}
	.logo-negro{width: 24%;}
	#section-2{width: 100%;	height: 100px;}
	#section-2 h1 {font-size: 12pt; margin-left: 3%;margin-top: 8%;}
	#section-3 {padding: 4%;}
	.title {font-size: 25pt;}
	.title-label {font-size: 17px;}
	#section-3 input {width: calc(100% - 1px);}
	.btn-inscribirme {font-size: 22px;}
	#section-4 h3 {font-size: 26pt;}
	#section-4 img {margin-left: 45%;}
	#section-4 h4 {font-size: 16pt;margin-left: 25%;}
	#section-4 p {font-size: 14pt;margin-top: -10%;margin-left: 19%;}
	#section-5 h3 {font-size: 18pt;	margin-bottom: 15%;}
	#section-5 span {font-size: 39px;top: 100%; left: 42%;}
	.cuadrado {margin-bottom: 29%;}
	.verde {padding: 4%; margin-top: -6%; margin-left: -2%;}
	.circulo-verde {padding: 21%; margin-top: 4%;margin-left: -6%;}
	#section-6 h1 {left: 4%;font-size: 14pt;}
	#section-6 img {width: 75%; margin-top: 10%; margin-left: 10%;}
	#section-7 h1 {font-size: 15pt;}
	.btn-footer {font-size: 15px;width: calc(90% - 90px);}
}


/*
Phones (<768px)
Small  (≥768px)	
Medium (≥992px)	
Large  (≥1200px)
*/
