@font-face { font-family: Poetsen One; src: url(../fonts/PoetsenOne-Regular.ttf);}
@font-face {font-family: 'Calibri Light'; font-style: normal; font-weight: normal; src: local('Calibri Light'), url('../fonts/calibril.woff') format('woff');}
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
@import url('https://fonts.googleapis.com/css?family=Lato:700');
body{background: #fffff; 	color: #3a3a3a; font-family: Poetsen One;}
strong{font-weight: 900;}

html,body{margin:0px; 	height:100%; }
.container-fluid{ overflow: hidden; height: auto;}

/***************************************/
/*  CABECERA Y Section-1               */
/***************************************/

header{
	background: #fff;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-top:5px;
	clear: both;
}

.logo{
	width: 15%;
}

.ancho{
	padding-bottom: 25%;
}
#section-1{
	background-image: url(../img/fondo-cabecera.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
	overflow: hidden;
	color: #fff;
	font-weight: lighter;
}

#section-1 h1{
	font-family: 'Calibri Light';
	margin-top: 3%;
    margin-left: 10%;
    font-size: 65px;
    width: 80%;
    text-align: center;
}
#section-1 > a > img{
	position: absolute;
    bottom: 100px;
    width: 100%;
    max-width: 475px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
#section-1 p {
	font-family: 'Calibri Light';
	text-align: center;
    width: 90%;
    font-size: 39px;
    margin-left: 6%;
    margin-top: 4%;
}
.img-cabecera{width: 15px;}

.controll-pagination{
	text-align:center;
	margin-top:10px;
	font-size: 30px;
	bottom: -310px;
    position: relative;	
}
.back-green{
	color: #49c9b0;
	border-radius: 75%;
	padding-left: 8px; 
	padding-right: 8px; 
	border: 2px solid #49c9b0;
	margin-top: 10px;
}
.back-white{
	margin-top: 10px;
	color:#fff;
	border-radius: 75%;
	padding-left: 8px; 
	padding-right: 8px; 
	border: 2px solid #fff;
}
/***************************************/
/*  Section-2                          */
/***************************************/
#section-2{
	width: 100%;
	height: 80%;
	overflow: hidden;
	background: #edeef0;
}
.img-galeria {
	display: block;
	margin: 0 auto 0 auto;
	width: 280px;
	height: 280px;
	max-width: 300px;
	padding-bottom: 25px;
}
.espace{
	margin-right: -10%;
}
.move-low{
	padding-top: 5%;
}

#section-2  article {
	display: block;
	width: 100%;
	margin-top: 3%;
	margin-left: 15%;	
}
#section-2 > article:first{
	margin-top:10px;
}

#section-2 h2{
	margin-top:0px!important;
	margin-bottom:0px!important;
	color: #fff;
	font-size: 1em;
}
iframe {
    max-width: 70%;
    max-height: 90%;
    height: auto;
}

.video-container {
	position:relative;
	padding-bottom:0%;
	padding-top:60%;
	height:0;
	overflow:hidden;
}
.video-container iframe, 
.video-container object, 
.video-container embed {position:absolute; top:0; left:0; width:100%; height:100%;}

.contain_window{height: 65%; margin: 0; overflow: hidden; }
.color-fondo{background-color: #C90235;}
.header{padding: 20px 0; color: #FFF; font-size: 40px; text-align:center; background:#C90235; font-family: Poetsen One;}

/***************************************/
/*  Section-3                          */
/***************************************/

#section-3{
	font-family: Poetsen One;
	color: #fff;
	padding-top:45px;
	padding-bottom: 45px;
	background: #D8E6EE;
	height: 55%;
	margin: 0 auto;
	overflow: hidden;
}
.lista-3{
	color:#fff!important;
	font-size: 17px;
	font-family: 'Lato', sans-serif; 
	font-weight: bold;
	margin-left: 10%;
    margin-top: 4%;
    list-style: none;
}
.row-1{
	margin-left: -20px;
}
.morado{
	background-color: #AB07A0;
	padding: 5px;
	height: 300px;
	margin-left: 0px;
}
.morado > h2{
	font-size: 2.5em!important;
	margin-left: 13%;
	color: #fff;
}
.radius{
	border:1px solid;
	border-radius: 0px 25px 25px 0px;	
}
#img-ventaja{
	display: block;
    width: 70%;
    position: absolute;
    margin: 0 auto;
    margin-top: 10%;
    margin-left: 23%;
}

/***************************************/
/*  Section-4                          */
/***************************************/

#section-4{
	font-family: Poetsen One;
	margin: 0 auto;
    background: #fff;
    height: 45%;
    overflow: hidden;
    /*margin-bottom: 5%;*/
}

.conte-serv-ind{
	padding: 15px;
	margin:0 auto;
	width: 100%;
    color: #867d7d;
    margin-left: 104%;
}
.baja{top:35px;}
#h2{
	font-size: 2em!important;
	text-align: center;
	color: #1D8DD3;
	/*margin-bottom: 30px;*/
}
#section-4 article{
	padding-top:0%;
	padding-bottom:0%;
}
.img-servicio{
	width: 35%;
    margin: 0 auto;
    margin-bottom: 5%;
    margin-left: 25%;
}
/***************************************/
/*  Section-5                          */
/***************************************/

#section-5{
	font-family: Poetsen One;
	width: 100%;
	height: auto;
	color: #fff;
	background-color: #D99D04;
	font-weight: lighter;
	overflow: hidden;
}
.controll-pagination2{
	text-align:center;
	margin-top:10px;
	font-size: 30px;
	bottom: -20px;
    position: relative;	
}
.back-green{
	color: #49c9b0;
	border-radius: 75%;
	padding-left: 8px; 
	padding-right: 8px; 
	border: 2px solid #49c9b0;
	margin-top: 10px;
}
.img-requisitos{
	width: 44%;
    /*height: 180px;*/
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 5px;
    margin-left: 40%;
}
.letra-req{
	color: #867d7d; 
	margin-left: 15px; 
	font-family: 'Lato', 
	sans-serif; 
	font-size: 16px; 
	font-weight: bold;
	text-align: center;
}
.move{margin-top: 5%; margin-bottom: 5%;}
.img-req{
	width: 55%;
    margin: 0 auto;
    padding: 2px;
    margin-top: 21px;
    margin-bottom: 26px;
    margin-left: 50px;
}
.conte-requ-ind{
	padding: 5px;
    margin: 0 auto;
    width: 100%;
    height: 50%;
    margin-bottom: 20px;
    margin-left: 60px;
}
.content-color{
	background-color: #fff;
	margin: 0 auto;
	height: 100%;
}
#h2-req{
	font-size: 2em!important;
    text-align: center;
    color: #ff960e;
	/*margin-bottom: 30px;*/
}
.imgpru{margin-top: -31px;}
.letra{color: #867d7d; text-align: center; font-size: 18px; font-family: 'Lato', sans-serif; font-weight: bold;}
.centrate{
	margin:0 auto;
	margin-left: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.indi{
	width: 35px;
    margin: 0 auto;
    position: absolute;
    margin-bottom: 4%;
    margin-left: 32%;
}
.group{
	/*width: 100%;*/
	/*height: 100%;*/
}

/***************************************/
/*  Section-7                          */
/***************************************/

#section-7{
	background-image: url(../img/fondo-footer.jpg);
	background-position: left center;
	font-family: Poetsen One;
	background-position: bottom;
    background-size:  100% 170%;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
	overflow: hidden;
	color: #fff;
	font-weight: lighter;
	height: auto;
	padding-bottom: 10px;
}

#section-7  > a > img{
	
	position: absolute;
	bottom: 0px;
	width: 75%;
	max-width: 345px;
	left: 0;
	right: 0;
	margin:0 auto;
	margin-bottom: 20px;
}
.img-pais{
	position: relative;
	width: 70%;
	max-width: 400px;
	margin:0 auto;
}
.ar{margin-left: -55%;}
.pa{margin-left: -5%;}
.mx{margin-left: 35%;}
.pr{margin-left: 80%;}
.co{margin-left: 130%;}

.h2-foot{
	font-size: 2em!important;
	text-align: center;
	color: #fff;
}
.h3-foot{
	font-size: 1.5em!important;
	text-align: center;
	color: #fff;
	padding: 10px;
}
.espacios{
	display: block;
	margin: 0 auto;
	padding: 1%;
}



/***************************************/
/*  footer                             */
/***************************************/

footer{
	background-image: url(../img/fondo-footer-2.jpg);
	color: #676565;
	padding-top: 30px;
	height: 40%;
	font-family: 'Lato';
	overflow: hidden;

}
.sp{
	margin-right: -18%;
}
footer h4{
	color: #fff;
	font-size: 25px;
    position: relative;
}
footer p{
	font-size: 15px;
	margin-bottom:0px;
	list-style: none;
	color: #fff;
}
footer p a{
	list-style: none;
	color: #fff;
}
footer p a:hover{
	list-style: none;
	color: #fff;
}

.fondo-logo{background-image: url(../img/fondo-logo.jpg); padding: 1%;}
.tama-footer{
	font-size: 40%;
}
.img-perros-footer{
	width: 10%;
    position: absolute;
    line-height: 55px;
    padding: 20px;
    left: 5%;
    margin-top: -7%;
}
.img-pelota-footer{
	width: 5%;
    position: absolute;
    line-height: 55px;
    padding: 20px;
    left: 13%;
    margin-top: -1%;
}
.img-perros-footer2{
	width: 14%;
    position: absolute;
    line-height: 55px;
    padding: 20px;
    left: 65%;
    margin-top: -10%;
}
.img-redes{
	width: 40%;
    position: relative;
    margin-bottom: 15px;
}
.img-foot{margin-left:10%;}
.padding-foot{
	padding: 5px;
    width: 25%;
    margin: 0 auto;
    margin-left: 7%;x
}
.color-blanco{
	background-color: #fff;
	top:-32px;
}
.content-foot{
	width: 50%;
    margin: 0 auto;
    color: #676565;
    text-align: center;
    font-size: 1.5em;
    margin-top: 2%;
    margin-left: -10%;
}
.icon-close{
	font-size: 37px;
    color: #7A0A6F;
    margin-top: -12%;
    margin-left: 97%;
}
.logo-foot{
	width:20%;
}
.logo-foot1{
	height: 15%;
	margin-bottom: 5px;
}
/***************************************/
/*  Media                              */
/***************************************/

@media (max-width: 766px){ 
	#section-1{background-image: url(../img/fondo-cabecera-responsive.jpg); height:auto;}
	#section-1 h1{
	    font-size: 25px;
	    margin-top: 6%;
	    width: 100%;
	    margin-left: -1%;
	}
	#section-1 p {
		text-align: center;
	    width: 90%;
	    font-size: 20px;
	    margin-left: 6%;
	    margin-top: 4%;
	    margin-bottom: 4%;
	}
	.controll-pagination {
    	font-size: 20px;
    	bottom: -1px;
	}
	#section-1 > a > img {bottom: 10px; width: 70%; position: relative;}
	#img-cab-3 {width: 20%; margin-top: 95%; margin-left: 9%;}
	#img-perro-3 {margin-top: 112%;right: 78%;}
	#img-cab-5{margin-top: 95%; left: 65%;}
	#img-segu-5{margin-top: -100%;left: 200%;}
	#section-2{margin-bottom: 15px; height: 40%;}
	#section-2 {height: auto;}
	#section-2  article {margin-top: 3%;margin-left: 16%;}
	#section-2 h2{margin-top:0px!important;margin-bottom:0px!important;color: #fff;font-size: 1em;}
	.video-container {
		position:relative;
		padding-bottom: 20%;
		padding-top:45%;
		height:0;
		overflow:hidden;
	}
	.video-container iframe, 
	.video-container object, 
	.video-container embed {position:absolute; top:0; left:0; width:100%; height:100%;}
	.img-servicio{margin-left: 10%;width: 45%;margin: 0 auto;margin-bottom: 5%;}
	#img-ventaja{
	    display: block;
	    width: 100%;
	    position: absolute;
	    margin: 0 auto;
	    margin-top: -17%;
	    margin-left: 93%;
	}

	.radius {
	    border: 1px solid;
	    border-radius: 25px 25px 0px 0px;
	}
	.morado{
		background-color: #AB07A0;
	    padding: 10px;
	    height: 15%;
	    margin-left: 50px;
	    margin-top: 120px;
	    margin-bottom: -45px;
	}
	.morado > h2{
		font-size: 17px!important;
		margin-left: 5%;
		text-align: center;
		color: #fff;
	}
	.lista-3{
		font-size: 14px;
    	margin-left: -10px;
	}
	.content-color{
		background-color: #fff;
		margin: 0 auto;
		margin-left: 47px;
	}
	.img-requisitos{
		width: 140px;
	    height: 140px;
	    margin: 0 auto;
	    padding: 5px;
	    margin-bottom: 10px;
	    margin-left: -42px;
	}
	.indi{margin-left: -15%;width: 14%;}
	.letra-req{color: #867d7d; margin-left: -40px; font-family: 'Lato', sans-serif; font-size: 16px; font-weight: bold;}
	.banderas{
		width: 100%;
    	margin-top: -10%;
   	 	margin-bottom: -10%;
	}
	.contactanos{margin-top: 10%;margin-left: 25%;}
	.conta-p{margin-left: 9%; font-size: 28px;}
	.conta-u{font-size: 18px;}
	.navega{margin-top: -1%;margin-left: 0%; font-size: 18px;}
	.nav-p{font-size: 28px; margin-left: -8px;}
	.redes{margin-left: 60%;margin-top: -50%;}
	.img-redes{
		width: 45%;
    	left: 40%;
    	position: relative;
    	margin-bottom: 15px;
	}
	.fondo-logo{background-image: url(../img/fondo-logo.jpg); height: auto;}
	.logo{width: 40%;}
	.img-kmimos{width: 80%; padding:20px;}
	.container-fluid {overflow: hidden;height: auto;}
	
	.img-req{
		width: 165px;
	    height: 165px;
	    margin: 0 auto;
	    padding: 5px;
	    margin-bottom: 10px;
	    margin-left: 45px;
	}
	
	#h2{
		font-size: 28px!important;
    	color: #167ac6;
	}
	.conte-serv-ind{
		padding: 20px;
		margin:0 auto;
		width: 100%;
	    height: 100%;
	}
	
	.conte-requ-ind{
		padding: 30px;
		margin:0 auto;
		width: 100%;
	    height: 65%;
	}

	#h2-req{
		font-size: 1.5em!important;
		color: #ff960e;
		margin-bottom: 30px;
	}
	.centrate{
		margin:0 auto;
		text-align: center;
	    margin-top: 10px;
	}
	
	.img-perros-footer{
		width: 28%;
	    position: absolute;
	    line-height: 55px;
	    padding: 20px;
	    left: 2%;
	    margin-top: -20%;
	}
	.img-pelota-footer{
		width: 16%;
	    position: absolute;
	    line-height: 55px;
	    padding: 20px;
	    left: 18%;
	    margin-top: -5%;
	}
	.img-perros-footer2{
		width: 36%;
	    position: absolute;
	    line-height: 55px;
	    padding: 20px;
	    left: 65%;
	    margin-top: -24%;
	}
	.logo-foot{
		width: 35%;
    	margin-top: 5%;
	}
	.move{margin-left: 20%;}
	
	.h2-foot{
		font-size: 1.5em!important;
		text-align: center;
		color: #fff;
	}


	.h3-foot{
		font-size: 1.5em!important;
		text-align: center;
		color: #fff;
		padding: 10px;
	}
	
	#section-7{
  		background-size: 150% 155%;
  	}
	footer{
		height: 80%;
	}
	.tama-footer{
		font-size: 5%;
	}
	.padding-foot{
	    margin-left: 25%;
	    margin-top: 25px;
	}
	.color-blanco{
		height: 90%;
	}
	.content-foot{
		width: 50%;
	    margin: 0 auto;
	    color: #676565;
	    font-size: 20px;
	    margin-top: 2%;
	    margin-left: 2%;
	    height: 10%;
	}
	.img-foot{margin-left:0%;}
	#close{
		visibility: hidden;
	}
	#section-3,
	#section-4,
	#section-5{
		text-align: center!important;
		height: auto;
	}
	.sp {
    	margin-right: -1%;
	}
}
@media (min-width: 360px) and (max-width: 765px) {
	.ancho {padding-bottom: 10%;}
	.redes {
	    margin-left: 60%;
	    margin-top: -85%;
	}
	.img-redes {
	    width: 60%;
	}
	.conta-p {
	    margin-left: 11%;
	}
	.contactanos {
	    margin-top: 10%;
	    margin-left: 16%;
	}
	#section-2 {
	    margin-bottom: 15px;
	    height: 45%;
	}
	#section-2 article {
	    margin-top: 15%;
	}
	footer {
    	height: 70%;
	}
}
@media (min-width: 320px) and (max-width:359px){
	.ancho {padding-bottom: 0%;}
	.contactanos{margin-left: 14%;}
	#img-ventaja {
	    margin-top: -18%;
    	width: 125%;
    	margin-left: 65%;
	}
	.redes {
	    margin-top: -92%;
    	padding: 7%;
	}
	.img-redes {
	    width: 75%;
	}
	
}
@media (min-width: 767px) and (max-width: 991px){ 
	#section-1 h1{
		font-size: 41px;
	}
	#section-1 p {
	    font-size: 30px;
	}
	.img-kmimos{
		width: 70%;
		padding:10px;
	}
	
	.text-right{
		text-align: center!important;
	}
	#section-2,
	#section-4{
		text-align: center;
	}
}
@media (min-width: 992px) { 

	.img-kmimos{
		width: 80%;
	}
	.indi{margin-left: 37%;width: 10%;}

}
@media (min-width: 1200px) { 


}
