@font-face {font-family: 'PoetsenOne';src: url('../font/PoetsenOne-Regular.ttf')  format('truetype');}
@font-face {font-family: 'CaviarDreams';src: url('../font/CaviarDreams.ttf')  format('truetype');}
@font-face {font-family: 'CaviarDreamsBold';src: url('../font/CaviarDreams_Bold.ttf')  format('truetype');}
body{background: #66d2c2; color: #3a3a3a; font-family: 'Lato', sans-serif; font-weight: 900!important; word-wrap: break-word;}
section{clear: both;}
strong{font-weight: 900;}

/***************************************/
/*  Global	                       */
/***************************************/
.container-fluid{
	padding: 0px!important; 
	margin: 0px!important;
	width: 100%!important;
}
.color-azul{
	background:#7cd2c5!important;
}
.bg-color-morado{
	background: #7b179d!important; 
}
.controll-pagination{
	text-align:center;
	margin-top:10px;
	font-size: 30px;	
}
.background{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background: center / cover no-repeat; 
	padding-top: 50%;
    margin-top: 5%;
}
.bajar{
	width: 3%!important;
    margin-left: 50%!important;
    margin-top: -2%;
}
.bajar-foto{
	width: 2%!important;
    margin-left: 50%!important;
    position: absolute!important;
    margin-top: 17%;
}
.bajar-convi{
    width: 3%!important;
    margin-top: -4%!important;
    position: absolute!important;
    padding: 0.5%;
    margin-left: 50%;
}
.bajar-parte{
    margin-top: 4%!important;
    margin-left: 50%!important;
    width: 2%!important;
    position: absolute!important;
}
.bajar-como{
    width: 2%!important;
    margin-left: 50%!important;
    margin-top: -2%;
}
.bajar-unete{
    margin-left: 11%!important;
    width: 2%!important;
    margin-top: 2%!important;
}
h3 > a{
	color: #fff;
}
h3 > a:hover{
	color: #fff;
	list-style: none;
}
/***************************************/
/*  Section-1                          */
/***************************************/
#section-1 > article{
	margin: 0px!important;
}
.logo-negro{
	position: absolute;
	left: 6%;
	top: 10%;
	width: 20%;
}
#section-1{
    background-image: url(../img/fondo-sc4.png);
    padding-top: 35%;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'PoetsenOne', sans-serif;
    overflow: hidden;
}
#section-1  a  img{
    position: absolute;
    bottom: 6%;
    width: 70%;
    max-width: 420px;
    left: 6%;
    right: 0;
}
#section-1 p{
    color: whitesmoke;
    font-size: 20pt;
    font-family: 'Calibri Light';
    font-weight: 200;
    position: absolute;
    top: 35%;
    left: 6%;
    width: 50%;
}
#section-1 .contenido-section1{
	width: 50%;
	margin-bottom: 10%;
}

#ver{
    width: 70%;
    height: 5%;
    padding: 2%;
    background: #fffefe;
    border-radius: 70px 70px 70px 70px;
    margin-left: 15%;
    position: absolute;
    margin-top: -2%;
}

/***************************************/
/*  Section-2                          */
/***************************************/
#section-2{
	font-family: 'PoetsenOne';
    width: 100%;
    color: #000;
    background:#fff!important;
    overflow: hidden;
}
#section-2 h1{
	font-size: 26pt;
    margin-top: 6%;
    text-align: center;
    text-shadow: -3px 1px 3px #5F5C57;
}
#section-2 article{
	margin: 5%;
}
#section-2 p{
    font-size: 15pt;
    margin-top: -12%;
    margin-left: 42%;
    text-align: center;
    position: absolute;
    color: #575757;
}
#section-2 .p-patita{
    font-size: 14pt;
    margin-top: -12%;
    margin-left: 20%;
    text-align: left;
    color: #a49b9b;
}
#section-2 .mas{
	font-size: 20pt;
    margin: 2px;
}
#section-2 .publicidad{
	max-width: 100%;
	width: 80%;
}
.panel {
    position: relative;
    max-width: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
}
.mapa {
    position: absolute;
    max-width: 90%;
    width: 35%;
    left: 5%;
    top: 13%;
}
.patita {
    margin: 0 auto;
    max-width: 100%;
    width: 15%;
}
.espacio{
	margin-left: -5%;
}
.centrar{
	margin-left: 22%!important;
}
.move{
	margin-left: 10%!important;
}
.span{
	position: absolute;
    top: -85%;
    left: 3%;
    color: #a49b9b;
}
/***************************************/
/*  Section-3                          */
/***************************************/
#section-3{
    background-image: url(../img/fondo-sc3.png);
    background-size: 100% 100%;
    color: #fff;
    padding-top: 20%;
    padding-bottom: 20%;
    overflow: hidden;
}

.title{
    font-family: 'PoetsenOne';
    color: #fff!important;
    text-align: left;
    font-size: 20pt;
    position: absolute;
    margin-top: 10%!important;
    margin-left: 5%!important;
}

/***************************************/
/*  Section-4                          */
/***************************************/
#section-4{
	background: #fff;
	height: 100%;
	overflow: hidden;
	padding-bottom: 10%;
}
#section-4 p{
    font-family: 'CaviarDreams';
    font-size: 13pt;
    color: #74066b;
    font-weight: normal;
    margin-top: -5%;
    text-align: center;
}
#section-4 h3{
	font-family: 'PoetsenOne', sans-serif;
	font-size: 30pt;
	font-weight: bold;
	color: #686464;
	background: #fff;
}
#section-4 h2{
	font-family: 'CaviarDreams';
	font-size: 18pt;
	font-weight: bold;
	color: #000;
	text-align: center;
}

#section-4 .certi{
    width: 40%;
    margin-left: 35%;
}
.lado {
    margin-top: 5%;
    margin-bottom: 5%;
}
.img-gane{
	width: 90%;
	margin: 0 auto;
}

/***************************************/
/*  Section-5                          */
/***************************************/
#section-5{
	background-image: url(../img/fondo-sc5.png);
    background-size: cover;
	overflow: hidden;
	padding-bottom: 10%;
}
#section-5 h3{
    font-family: 'PoetsenOne', sans-serif;
    font-size: 35pt;
    margin-right: 7%;
    margin-top: 9%;
    margin-bottom: 5%;
    text-align: right;
    color: #fff;
}
#section-5 img{
    margin: 0px auto;
    width: 15%;
    margin-left: -5%;
}

#section-5 span{
	font-family: 'PoetsenOne', sans-serif;
	font-size: 50px;
	color:#7b179d;
	float: right;
	position: absolute;
	top: 2%;
    left: 85%;
}
#section-5 p{
    font-family: 'CaviarDreams';
    font-weight: bold;
    color: #fff;
    font-size: 13pt;
    margin-top: -1%;
    text-align: right;
}
/***************************************/
/*  Section-6   aad434                       */
/***************************************/
#section-6{ 
	background: #fff;
	color: #fff;
	font-weight: lighter;
	padding: 20px 0px 20px 0px;
	overflow: hidden;
}
#section-6 h3{
    font-family: "PoetsenOne";
    font-size: 25pt;
    left: 10%;
    position: relative;
    color: #79d2c4;
}

#section-6 p{
	font-family: 'CaviarDreams';
    font-size: 11pt;
    text-align: center;
    color: #000;
}
.relacion {
	width: 45%;
}
.paso {
	width: 30%;
}
.move-up{
	margin-top: 4%;
    margin-left: -2%;
}
.paso1 {width: 20%;}
.paso2 {width: 27%;}
.paso3 {width: 25%;}
.paso3-1 {width: 40%;}
.paso4 {width: 25%;     margin-top: -3%;}
.rel1{width: 15%; margin-right: 3%;}
.rel2{margin-left: -60%; margin-right: 10%;}
.rel3{width: 55%;margin-left: -60%;margin-right: 14%;}
.rel3-1{width: 30%; margin-left: -5%; margin-right: 5%;}
.rel4{width: 32%; margin-left: -5%; margin-right: 10%;}

/***************************************/
/*  Section-video                          */
/***************************************/
#section-video{
    width: 100%;
    overflow: hidden;
    background: #79d2c4;
}
.espace{
	margin-right: -10%;
}
.move-low{
	padding-top: 5%;
}
.logo-video{
	width: 15%;
    position: absolute;
    right: 5%;
    top: -75px;
}
#section-video  article {
	display: block;
	width: 100%;
	margin-top: 15%;
	margin-left: 15%;	
}
#section-video > article:first{
	margin-top:10px;
}

#section-video h2{
	margin-top:0px!important;
	margin-bottom:0px!important;
	color: #fff;
	font-size: 1em;
}
iframe {
    max-width: 100%;
    max-height: 105%;
    height: auto;
}

.video-container {
	position:relative;
	padding-bottom:15%;
	padding-top:45%;
	overflow:hidden;
}
.video-container iframe, 
.video-container object, 
.video-container embed {position:absolute; top:0; left:0; width:100%; height:100%;}

.contain_window{height: 65%; margin: 0; overflow: hidden; }
.color-fondo{background-color: #C90235;}
.header{padding: 20px 0; color: #FFF; font-size: 40px; text-align:center; background:#C90235; font-family: Poetsen One;}

/***************************************/
/*  section-unete                      */
/***************************************/
#section-unete{
	background: #8c8c8c;
	padding-bottom: 55%;
}
#section-unete h2{
    font-size: 30pt;
    font-family: "PoetsenOne";
    text-align: center;
    line-height: 105%;
    color: #fff;
    margin-top: 5%;
}
#section-unete img{
	position: absolute;
    /* bottom: 6%; */
    width: 70%;
    max-width: 420px;
    left: 37%;
    margin-top: 15%;
}
#section-unete #img-unete{
	background-image: url(../img/muestra-1.png);
    background-size: cover;
	width: 100%;
}
.img-unete {
	position: absolute;
    width: 100%!important;
    max-width: 100%!important;
    left: 0%!important;
    margin-top: 11%!important;
}
/***************************************/
/*  section-7                          */
/***************************************/
#section-7{
	padding: 15px 0px 15px 0px;
	text-align: center;
	overflow: hidden;
}
#section-7 h3{
	font-family: 'CaviarDreams';
	color: #fff;
	font-size: 15pt;
}

/***************************************/
/*  footer                             */
/***************************************/
footer{
	color: #fff;
	padding-top: 30px;
	overflow: hidden;
}
header{
	background: #79d2c4;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 20px;
	clear: both;
}
.logo-kmimos{
	width: 20%;
	margin-top:10px;
}
.logo-footer{
    width: 15%;
    padding-top: 3%;
    padding-bottom: 3%;	
}
/***************************************/
/*  Media                              */
/***************************************/
@media (min-width: 1280px){
	
}
@media (min-width: 766px) and (max-width: 999px){
	
}
@media (min-width: 581px) and (max-width: 765px){
	.logo-negro {left: 30%;width: 40%;}
	#section-1 {background-image: url(../img/fondo-sc4-responsive.png);background-size: cover;padding-bottom: 100%;}
	#section-1 p {font-size: 8pt;left: 20%;top: 65%;width: 70%;}
	#section-1 a img {width: 50%; max-width: 340px; left: 25%;}
	#section-2 {padding-bottom: 5%; overflow: hidden;}
	.mapa {width: 40%;}
	.panel {width: 100%;max-width: 100%;}
	.patita {width: 11%; margin-left: 50%;margin-top: -60%;}
	#section-2 .p-patita {font-size: 6pt; width: 70%;line-height: 100%; margin-top: -35%; margin-left: 55%; font-weight: 100;}
	#section-2 .mas {font-size: 10pt;}
	#section-2 article {margin-top: 10%;}
	#section-2 p {font-size: 6pt;margin-top: 1%;margin-left: -6%;width: 100%;}
	.span {font-weight: 200!important;font-size: 4pt;left: 10%;color: #a49b9b;margin-top: 22%;}
	#section-2 .publicidad {width: 40px;margin-top: 24px;max-width: 330%;}
	#section-3 {background-image: url(../img/fondo-sc3-responsive.png);}
	.title {font-size: 8pt; margin-top: 18%!important; margin-left: 0%!important;}
	#section-4 h3 {font-size: 9pt;color: #686464;}
	#section-4 .certi {width: 25%;margin-left: 40%;}
	#section-4 h2 {font-size: 9pt;line-height: 2.2;}
	#section-4 p {font-size: 8pt;line-height: 1.2; margin-top: 0%;}
	.img-gane {width: 100%;}
	#section-5 {background-size: 100% 100%; background-repeat: no-repeat;}
	#section-5 h3 {font-size: 12pt;margin-right: 0%; margin-top: 20%; margin-bottom: 5%;}
	#section-5 p {font-size: 7pt;margin-right: -20%;margin-top: -2%;}
	#section-5 img {width: 90%; margin-left: 100%; margin-top: -85%;}
	#section-6 h3 {font-size: 10pt; left: 5%; color: #737a79;}
	.rel1 {width: 30%;margin-right: 3%;}
	.left {margin-left: -4%;}
	.rel2 {margin-left: -6%;margin-right: 4%;width: 30%;}
	.rel3 {width: 30%;margin-left: -12%;margin-right: 4%;}
	.rel3-1 {width: 40%;margin-left: 27%;margin-right: 3%;}
	.rel4 {width: 30%;margin-left: 30%;margin-right: 5%;}
	.paso4 {width: 20%;margin-top: 2%;}
	#section-6 p {font-size: 7pt;}
	#section-video article {margin-left: 1%;}
	.logo-video {width: 40%;position: relative;right: 0;top: 0;margin-left: 32%;margin-top: 4%;}
	#section-unete h2 {font-size: 12pt;padding-top: 7%; line-height: 120%;}
	#section-unete h2 span{font-size: 15pt;}
	#section-unete img {width: 40%;left: 31%;margin-top: 5%;}
	.img-unete{width: 100%!important;left: 0!important;margin-top: 13%!important;}
	#section-7 {padding: 0px 0px 0px 0px;}
	#section-7 h3 {font-size: 10pt;}
	.logo-footer {width: 25%;margin-top: -15%;padding-top: 20%;padding-bottom: 50%;height: auto;}
	.espacio {margin-top: 2%;}
}
@media (min-width: 411px) and (max-width: 510px){
	.bajar {width: 8%!important;}
	.bajar-foto {width: 4%!important;margin-left: 50%!important;margin-top: 25%;}
	.bajar-convi {width: 6%!important;margin-top: -7%!important;margin-left: 45%;}
	.bajar-parte {margin-top: 5%!important;margin-left: 45%!important;width: 5%!important;}
	.bajar-como {width: 5%!important;margin-left: 47%!important;margin-top: 2%;}
	.bajar-unete {margin-left: 19%!important;width: 4%!important;}
	.logo-negro {left: 30%;width: 40%;}
	#section-1 {background-image: url(../img/fondo-sc4-responsive.png);background-size: cover;padding-bottom: 100%;}
	#section-1 p {font-size: 11pt;left: 20%;top: 65%;width: 85%;}
	#section-1 a img {width: 50%; max-width: 340px; left: 25%;}
	#section-2 {padding-bottom: 5%; overflow: hidden;}
	.mapa {width: 40%;}
	.panel {width: 100%;max-width: 100%;}
	.patita {width: 11%; margin-left: 50%;margin-top: -60%;}
	#section-2 .p-patita {font-size: 6pt; width: 70%;line-height: 100%; margin-top: -35%; margin-left: 55%; font-weight: 100;}
	#section-2 .mas {font-size: 10pt;}
	#section-2 article {margin-top: 10%;}
	#section-2 p {font-size: 6pt;margin-top: 1%;margin-left: -6%;width: 100%;}
	.span {font-weight: 200!important;font-size: 4pt;left: 10%;color: #a49b9b;margin-top: 30%;}
	#section-2 .publicidad {width: 40px;margin-top: 24px;max-width: 330%;}
	#section-3 {background-image: url(../img/fondo-sc3-responsive.png);}
	.title {font-size: 8pt; margin-top: 18%!important; margin-left: 0%!important;}
	#section-4 h3 {font-size: 9pt;color: #686464;}
	#section-4 .certi {width: 25%;margin-left: 40%;}
	#section-4 h2 {font-size: 9pt;line-height: 2.2;}
	#section-4 p {font-size: 8pt;line-height: 1.2; margin-top: 0%;}
	.img-gane {width: 100%;}
	#section-5 {background-size: 100% 100%; background-repeat: no-repeat;}
	#section-5 h3 {font-size: 12pt;margin-right: 0%; margin-top: 20%; margin-bottom: 5%;}
	#section-5 p {font-size: 7pt;margin-right: -20%;margin-top: -2%;}
	#section-5 img {width: 90%; margin-left: 100%; margin-top: -85%;}
	#section-6 h3 {font-size: 10pt; left: 5%; color: #737a79;}
	.rel1 {width: 30%;margin-right: 3%;}
	.left {margin-left: -4%;}
	.rel2 {margin-left: -6%;margin-right: 4%;width: 30%;}
	.rel3 {width: 30%;margin-left: -12%;margin-right: 4%;}
	.rel3-1 {width: 40%;margin-left: 27%;margin-right: 3%;}
	.rel4 {width: 30%;margin-left: 30%;margin-right: 5%;}
	.paso4 {width: 20%;margin-top: 2%;}
	#section-6 p {font-size: 7pt;}
	#section-video article {margin-left: 1%;}
	.logo-video {width: 40%;position: relative;right: 0;top: 0;margin-left: 32%;margin-top: 4%;}
	#section-unete h2 {font-size: 12pt;padding-top: 7%; line-height: 120%;}
	#section-unete h2 span{font-size: 15pt;}
	#section-unete img {width: 40%;left: 31%;margin-top: 5%;}
	.img-unete{width: 100%!important;left: 0!important;margin-top: 13%!important;}
	#section-7 {padding: 0px 0px 0px 0px;}
	#section-7 h3 {font-size: 10pt;}
	.logo-footer {width: 25%;margin-top: -15%;padding-top: 20%;padding-bottom: 50%;height: auto;}
	.espacio {margin-top: 2%;}
}

@media (min-width: 381px) and (max-width: 410px){
	.bajar {width: 8%!important;}
	.bajar-foto {width: 4%!important;margin-left: 50%!important;margin-top: 25%;}
	.bajar-convi {width: 6%!important;margin-top: -7%!important;margin-left: 45%;}
	.bajar-parte {margin-top: 5%!important;margin-left: 45%!important;width: 5%!important;}
	.bajar-como {width: 5%!important;margin-left: 47%!important;margin-top: 2%;}
	.bajar-unete {margin-left: 19%!important;width: 4%!important;}
	.logo-negro {left: 30%;width: 40%;}
	#section-1 {background-image: url(../img/fondo-sc4-responsive.png);background-size: cover;padding-bottom: 100%;}
	#section-1 p {font-size: 8pt;left: 20%;top: 65%;width: 70%;}
	#section-1 a img {width: 50%; max-width: 340px; left: 25%;}
	#section-2 {padding-bottom: 5%; overflow: hidden;}
	.mapa {width: 40%;}
	.panel {width: 100%;max-width: 100%;}
	.patita {width: 11%; margin-left: 50%;margin-top: -60%;}
	#section-2 .p-patita {font-size: 6pt; width: 70%;line-height: 100%; margin-top: -35%; margin-left: 55%; font-weight: 100;}
	#section-2 .mas {font-size: 10pt;}
	#section-2 article {margin-top: 10%;}
	#section-2 p {font-size: 6pt;margin-top: 1%;margin-left: -6%;width: 100%;}
	.span {font-weight: 200!important;font-size: 4pt;left: 10%;color: #a49b9b;margin-top: 33%;}
	#section-2 .publicidad {width: 40px;margin-top: 24px;max-width: 330%;}
	#section-3 {background-image: url(../img/fondo-sc3-responsive.png);}
	.title {font-size: 6pt; margin-top: 19%!important; margin-left: 0%!important;}
	#section-4 h3 {font-size: 9pt;color: #686464;}
	#section-4 .certi {width: 25%;margin-left: 40%;}
	#section-4 h2 {font-size: 9pt;line-height: 2.2;}
	#section-4 p {font-size: 8pt;line-height: 1.2;}
	.img-gane {width: 100%;}
	#section-5 {background-size: 100% 100%; background-repeat: no-repeat;}
	#section-5 h3 {font-size: 12pt;margin-right: 0%; margin-top: 20%; margin-bottom: 5%;}
	#section-5 p {font-size: 7pt;margin-right: -20%;margin-top: -2%;}
	#section-5 img {width: 90%; margin-left: 100%; margin-top: -85%;}
	#section-6 h3 {font-size: 10pt; left: 5%; color: #737a79;}
	.rel1 {width: 30%;margin-right: 3%;}
	.left {margin-left: -4%;}
	.rel2 {margin-left: -6%;margin-right: 4%;width: 30%;}
	.rel3 {width: 30%;margin-left: -12%;margin-right: 4%;}
	.rel3-1 {width: 40%;margin-left: 27%;margin-right: 3%;}
	.rel4 {width: 30%;margin-left: 30%;margin-right: 5%;}
	.paso4 {width: 20%;margin-top: 2%;}
	#section-6 p {font-size: 7pt;}
	#section-video article {margin-left: 1%;}
	.logo-video {width: 40%;position: relative;right: 0;top: 0;margin-left: 32%;margin-top: 4%;}
	#section-unete h2 {font-size: 12pt;padding-top: 7%; line-height: 120%;}
	#section-unete h2 span{font-size: 15pt;}
	#section-unete img {width: 40%;left: 31%;margin-top: 5%;}
	.img-unete{width: 100%!important;left: 0!important;margin-top: 13%!important;}
	#section-7 {padding: 0px 0px 0px 0px;}
	#section-7 h3 {font-size: 10pt;}
	.logo-footer {width: 25%;margin-top: -15%;padding-top: 20%;padding-bottom: 40%;height: auto;}
	.espacio {margin-top: 2%;}
}
@media (min-width: 280px) and (max-width: 380px){
	.bajar {width: 8%!important;}
	.bajar-foto {width: 4%!important;margin-left: 46%!important;margin-top: 25%;}
	.bajar-convi {width: 6%!important;margin-top: -7%!important;margin-left: 45%;}
	.bajar-parte {margin-top: 5%!important;margin-left: 45%!important;width: 5%!important;}
	.bajar-como {width: 5%!important;margin-left: 47%!important;margin-top: 2%;}
	.bajar-unete {margin-left: 19%!important;width: 4%!important;}
	.logo-negro {left: 30%;width: 40%;}
	#section-1 {background-image: url(../img/fondo-sc4-responsive.png);background-size: cover;padding-bottom: 100%;}
	#section-1 p {font-size: 9pt;left: 20%;top: 65%;width: 80%;}
	#section-1 a img {width: 50%; max-width: 340px; left: 25%;}
	#section-2 {padding-bottom: 5%; overflow: hidden;}
	.mapa {width: 40%;}
	.panel {width: 100%;max-width: 100%;}
	.patita {width: 11%; margin-left: 50%;margin-top: -60%;}
	#section-2 .p-patita {font-size: 6pt; width: 70%;line-height: 100%; margin-top: -35%; margin-left: 55%; font-weight: 100;}
	#section-2 .mas {font-size: 10pt;}
	#section-2 article {margin-top: 10%;}
	#section-2 p {font-size: 5pt;margin-top: 2%;margin-left: -6%;width: 100%;}
	.span {font-weight: 200!important;font-size: 4pt;left: 10%;color: #a49b9b;margin-top: 33%;}
	#section-2 .publicidad {width: 40px;margin-top: 24px;max-width: 330%;}
	#section-3 {background-image: url(../img/fondo-sc3-responsive.png);}
	.title {font-size: 6pt; margin-top: 19%!important; margin-left: 0%!important;}
	#section-4 h3 {font-size: 9pt; color: #686464;}
	#section-4 .certi {width: 25%;margin-left: 40%;}
	#section-4 h2 {font-size: 9pt;line-height: 2.2;}
	#section-4 p {font-size: 8pt;line-height: 1.2;}
	.img-gane {width: 100%;}
	#section-5 {background-size: 100% 100%; background-repeat: no-repeat;}
	#section-5 h3 {font-size: 12pt;margin-right: 0%; margin-top: 20%; margin-bottom: 5%;}
	#section-5 p {font-size: 7pt;margin-right: -20%;margin-top: -2%;}
	#section-5 img {width: 90%; margin-left: 100%; margin-top: -85%;}
	#section-6 h3 {font-size: 10pt; left: 6%; color: #737a79;}
	.rel1 {width: 30%;margin-right: 3%;}
	.left {margin-left: -4%;}
	.rel2 {margin-left: -6%;margin-right: 4%;width: 30%;}
	.rel3 {width: 30%;margin-left: -12%;margin-right: 4%;}
	.rel3-1 {width: 40%;margin-left: 27%;margin-right: 3%;}
	.rel4 {width: 30%;margin-left: 30%;margin-right: 5%;}
	.paso4 {width: 20%;margin-top: 2%;}
	#section-6 p {font-size: 7pt;}
	#section-video article {margin-left: 1%;}
	.logo-video {width: 40%;position: relative;right: 0;top: 0;margin-left: 32%;margin-top: 4%;}
	#section-unete h2 {font-size: 12pt;padding-top: 7%; line-height: 120%;}
	#section-unete h2 span{font-size: 15pt;}
	#section-unete img {width: 40%;left: 31%;margin-top: 8%;}
	.img-unete{width: 100%!important;left: 0!important;margin-top: 23%!important;}
	#section-7 {padding: 0px 0px 0px 0px;}
	#section-7 h3 {font-size: 10pt;}
	.logo-footer {width: 25%;margin-top: -15%;padding-top: 20%;padding-bottom: 5%;height: auto;}
	.espacio {margin-top: 2%;}
}


/*
Phones (<768px)
Small  (≥768px)	
Medium (≥992px)	
Large  (≥1200px)
*/
