h2{
	color:#0ab7a1;
	font-weight: bold;
	font-size: 35px;
	padding: 20px 0px 20px 0px; 
}

section{
	padding-bottom:50px;
}
img{
	margin:auto;
}
p{
	color:#8e8d8d;
	font-size: 25px;
	font-weight:  bold; 
	margin: auto;
	width: 70%;
}
p span{
	color:#f7f4a3;
}

.btn-sm-kmibox:hover,
.btn-kmibox:hover{
	background: #00b190;
	color:#fff!important;
}

.btn-fullwidth{
	width: 100%;
}
.btn-sm-kmibox-default{
	background: #4874f5!important;
}	
.btn-sm-kmibox{
	background: #00d8b5;
	border-radius: 40px;
	border:0px;
	color:#fff;
	font-size: 20px;
	font-weight: bold;
    padding: 9px 30px 9px 30px;
	margin-top: 20px;
}	
	
.btn-kmibox{
	background: #00d8b5;
	border-radius: 40px;
	border:0px;
	color:#fff;
	font-size: 20px;
	font-weight: bold;
	padding:20px 60px 20px 60px;
	margin-top: 20px;
}

#top-compra{
	background: #00b190;
	height: 3vh;
	padding-top:10px
}

#top{
	background: #00b190;
	height: 10vh;
}

#top div img{
	text-align: center; 
	max-width: 19%;
}

#banner{
	margin-top: 7vh;
	color: #979696;
	/*height: 60vh;*/
}
#banner-text img{
	text-align: right!important;
	margin-right: 0px;
}
#banner-text{
	text-align: right;
}

#como-funciona{
	background: #efefef;
}

#section-comment{
	color:#fff;
	background: #00d8b5 url(../img/linea-background.png) repeat-x center center;
	background-size: contain;
	padding: 5px 0px 5px 0px;
}
#section-comment h2{
	color:#fff;
	font-size: 35px;
}

#section-comofunciona{
	background: #eaeaea;
}

.back-picture{
	background: #fff url(../img/fotografias.jpg) repeat-x center center;
	background-size: cover;
	vertical-align: top;
	padding:100px 0px 100px 0px;
}

.back-kmibox{
	background-color: #0ab7a1;
}

.back-kmibox h2,
.back-kmibox p
{
	color:#fff;
}

.section-red,
.section-red h2
{
	background-color: #f7f4a3;
	color: #f42424; 
}
.h-3x{
	font-size: 70px; 
}

.subtitle{
	margin:0px;
}

#regalo{
	width: 50%;
}

footer{
	background: #00b190 url(../img/footer.jpg) no-repeat center center;
	background-size: cover;
}

footer,
footer article,
footer h2,
footer article h3
{
	color:#fff!important;
}
footer article h2,
footer article h3{
	font-weight: bold;
}

footer ul li{
	font-size: 17px;
}

#social-network li{
	text-align: center; 
}
#social-network li img{
	width: 80px;
}

.logo-bottom {
	bottom:0px;
	padding:20px 0px 20px 0px ;
	background-color: #00b190; 
}

#footer-logo{
	padding-top:30px;
	padding-bottom:30px;
}
#footer-logo img{
	width: 250px;
}

.logo-text{
 width: 9%;
}

#marcas{
	margin-bottom: 0px;
	padding-bottom: 0px;
	background: #00d8b5 url(../img/Secciones-05.png);
    background-size: cover;
}

/* ***************** Compra ***************** */
.compra-titulo{	
	padding: 12px 30px 12px 30px;
	background: #00b190;
	border-radius: 30px;
	color: #fff;
	font-weight: bold;
}
/* ***************** Compra ***************** */


@media only screen and (max-width:598px) {
}
@media only screen and (max-width:599px) {
}
@media only screen and (max-device-width:780px) and (orientation:landscape) {
	.logo-text{
		width: 26%;
	}

	p{
		font-size: 23px;
	}
}
@media all and (min-width:959px) {
	.h-3x{
		font-size: 26px;
	}
	#regalo{
		width: 20%;
	}
}
@media all and (max-width:959px) and (min-width:600px) {
	.h-3x{
		font-size: 20px;
	}

	#regalo{
		width: 20%;
	}
}
@media all and (max-width:599px) and (min-width:359px) {
	.h-3x{
		font-size: 20px;
	}
}

@media (max-width:360px) and (min-width:200px) {
	#top .container{
		margin-top: 0px;
	}
	#top div img{
		max-width: 50%;
	}
	#top div,
	#banner{
		text-align: center; 
		margin-top: 2vh;
	}
	#banner-text {
    	text-align: center;
	}
	#banner-text h2{
		font-size: 20px;
		margin-top: 5px;
	}
	.btn-kmibox{
		padding: 20px;
	}
	#section-comment{
		background-size: cover;
	}
	#section-comment h2{
		font-size: 21px;
		margin:0px;
	}

	.h-3x{
		font-size: 26px;
	}

	h2{
		font-size: 29px;
	}

	p{
		font-size: 16px;
	}

	h2 .subtitle{
	    font-size: 20px;
	}
	h3 .subtitle{
	    font-size: 19px;
	}

	.back-picture {
	    padding: 40px 0px 40px 0px;
	}

	.logo-text{
	    width: 36%;
	}

	footer h2{
	    font-size: 20px;
	}
	
	footer article h3{
    	font-size: 18px;
	}
	footer ul li {
    	font-size: 13px;
	}
	#social-network li img{
		width: 40px;
	}
	#footer-logo{
		padding-top:30px;
		padding-bottom:30px;
	}
	#footer-logo img{
		width: 150px;
	}

}